<div class="widget color <%- color %>" data-role="widget" data-widget="<%- widget_id %>" data-type="<%- type %>">
	<div class="media">
		<div class="media-left"><div class="md-icon service-icon"></div></div>
		<div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
		<div class="media-body">
			<div class="icon-toolbar" role="toolbar" data-widget="<%- widget_id %>">
				<a href="#" class="md-icon md-note-add"></a>
				<a href="#" data-role="configureWidget" class="md-icon md-settings"></a>
				<a href="#" data-role="removeWidget" class="md-icon md-cancel"></a>
			</div>
			<h4 class="widget-title"><%- name %></h4>
			<p class="note"><%- description %></p>
		</div>
	</div>
</div>
