<div class="item-templates-list">
	<% if(is_default) { %>
	<div class="corner-color template-default right"><div class="corner-color-content"></div></div>
	<% } else { %>
	<div class="corner-color template-variant right"><div class="corner-color-content"></div></div>
	<% } %>
	<div class="row no-gutters">
	<div class="col-auto mr-4">
		<a href="/appearance/layouts/<%- page %>/<%- layout_id %>">
			<div class="si-overlay">
				<span class="md-icon md-edit btn-si"></span>
			</div>
			<%= structure %>
		</a>

	</div>
	<div class="col item-body">
		<h4>
			<%- name %>
		</h4>
		<div class="row no-gutters">
			<div class="col-4"><span class="data-label">Appliqué à</span></div>
			<div class="col"><a href="#">
				<%- usage_count %> pages</a></div>
		</div>

		<div class="row no-gutters">
			<div class="col-4"><span class="data-label">Template</span></div>
			<div class="col"><%- model.name %></div>
		</div>

		<div class="row no-gutters mb-4">
			<div class="col-4"><span class="data-label">Répertoire</span></div>
			<div class="col"><em><%- model.id %></em></div>
		</div>

	</div>
	<div class="col-12">
		<div class="btn-toolbar float-right" role="toolbar">

				<% if (is_multi_layouts) { %>
				 		<% if(is_default) { %>
				 			<a class="btn btn-primary" data-role="duplicate" href="#" role="button">Dupliquer</a>
				 		<% } else { %>
				 			<div class="btn-group" role="edit"><a class="btn btn-primary" data-role="duplicate" href="#" role="button">Dupliquer</a>
				 				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
				 				<ul class="dropdown-menu dropdown-menu-right">
				 					<li><a class="dropdown-item" data-role="delete" href="#">Supprimer</a></li>
				 				</ul>
				 			</div>
				 		<% } %>
				<% } %>

			</div>
</div>
</div>
</div>
