<article class="post-article">
	<div class="post-content">
		<form>
		<div class="row">
			<% _(widget.settings).each(function(field, name){ %>

				<% switch(field.ctl){ case 1: %>
				<div class="col-<%= (field.size && field.size == 'small') ? '12':'12'  %>">
					<div class="form-group">
						<label for="field_<%- name %>"><%- field.label %></label>
						<input class="form-control" id="field_<%- name %>" name="<%- name %>" value="<%- field.value %>" placeholder="<%- field.desc %>" type="text">
					</div>
				</div>
				<% break; case 2: %>
				<div class="col-12">
					<div class="form-group">
						<label for="field_<%- name %>"><%- field.label %></label>
						<select class="form-control" id="field_<%- name %>" name="<%- name %>" data-style="selectify">
							<% _(field.values).each(function(option){ %>
							<option value="<%- field.type == 2 ? (option.value?'1':'0') : option.value %>" <%= (option.value == field.value) ? 'selected="selected"':''  %>><%- option.label %></option>
							<% }) %>
						</select>
					</div>
				</div>
				<% break; case 3: %>
				<div class="col-12">
					<label><%- field.label %></label>
					<div class="form-group">
						<div class="form-check">
						<% _(field.values).each(function(input, i){ %>
							<input name="<%- name %>" id="field_<%- name %>_<%- i %>" value="<%- field.type == 2 ? (input.value?'1':'0') : input.value %>" <%= (input.value == field.value) ? 'checked="checked"':''  %> type="radio">
							<label for="field_<%- name %>_<%- i %>" class="visible"><%- input.label %></label>
						<% }) %>
						</div>
					</div>
				</div>
				<% break; case 4: %>
				<div class="col-12">
					<label><%- field.label %></label>
					<div class="row no-gutters">
						<% _(field.values).each(function(input, i){ %>
							<div class="col-3 mb-2">
							<input name="<%- name %>" id="field_<%- name %>_<%- i %>" value="<%- input.value %>" <%= _.contains(field.value, input.value) ? 'checked="checked"':''  %> type="checkbox">
							<label for="field_<%- name %>_<%- i %>" class="visible"><%- input.label %></label>
						</div>
						<% }) %>
					</div>
				</div>
				<% break; case 5: %>
				<div class="col-12">
					<div class="form-group">
						<label for="field_<%- name %>"><%- field.label %></label>
						<textarea class="form-control" id="field_<%- name %>" name="<%- name %>" rows="5" placeholder="<%- field.desc %>"><%- field.value %></textarea>
					</div>
				</div>
				<% break;} %>

			<% }) %>
		</div>
	</form>
	</div>
	<footer class="post-footer"></footer>
</article>
