<article class="post-article templates-list">
	<header class="post-header no-border no-header">
		<div class="btn-group pull-right" data-role="order">
			<button type="button" class="btn btn-icon md-icon md-sort dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
			<ul class="dropdown-menu" data-role="order">
				<li class="active" data-id="date"><a href="#">Modification</a></li>
				<li data-id="name"><a href="#">Titre</a></li>
				<li data-id="usage"><a href="#" >Utilisation</a></li>
			</ul>
		</div>
	</header>
	<div data-role="list" class='post-content templates'></div>
	<footer class="post-footer"></footer>
</article>
