<h2>Widgets disponibles</h2>
<div class="form-group">
	<select data-role="select-folder" data-style="selectify">
		<% _.each(folders, function(folder, i){ %><option value="<%- i %>" <%= folder_id == i ? 'selected="selected"' : '' %>><%- folder.name %></option><% }) %>
	</select>
</div>

<p>Glissez-déposez les widgets dans le modèle de page</p>
<% if (widgets.length) { %>
<div id="widgets_pool">
<% _.each(widgets, function(widget){ %>
<div class="widget" data-type="<%- widget.type %>">
	<a href="#" class="md-icon md-drag btn-drag"></a>
	<h4 class="widget-title"><%- widget.name %></h4>
</div>
<% }) %>
</div>
<% } %>

<div class="page_template">
	<h2>Template appliqué</h2>
	<div class="form-group">
		<select data-role="select-model" data-style="selectify">
			<% _.each(models, function(model){ %><option value="<%- model.id %>" <%= model.id == current_model ? 'selected="selected"' : '' %>><%- model.name %></option><% }) %>
		</select>
	</div>
</div>

<h2>Intitulé</h2>
<div class="form-group has-feedback">
	<input class="form-control form-control-sidebar" data-role="name" placeholder="Intitulé par défaut" value="<%- name %>" type="text">
	<span class="md-feedback md-edit"></span>
</div>
