<% if(step == 0) { %>

<form>
	<div class="alert alert-warning" role="alert">
	  Grâce au système d'import de thèmes graphiques de Kiubi,
		vous pouvez importer d'un clic l'ensemble d'un thème graphique existant.
		Une fois ajouté à votre site, vous pouvez le personnaliser à votre convenance.<br><br>

		<span class="text-danger">Attention, l'import d'un nouveau thème va <strong>modifier le contenu et le thème graphique</strong> actuels du site. Nous vous recommandons
			 <strong>avant tout import de thème</strong> de <a href="/modules/backups" target="_blank">réaliser un point de sauvegarde</a>.</span>
	</div>
	<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

	<article class="post-article">
		<header class="post-header">
			<h1>Paramètres d'import</h1>
		</header>
		<div class="post-content">
			<div class="form-group">
				<label>Fichier d'import (format .thm)</label>
				<div data-role="file"></div>
			</div>
			<div class="form-group">
				<label>Importer le contenu</label>
				<div class="form-check">
					<input name="with_content" id="with_content1" value="1" type="radio">
					<label for="with_content1">Oui, je souhaite remplacer le contenu actuel du site par celui du thème</label>
					<p class="ml-4">Cette action <em>supprime</em> le contenu actuel du site (billets, pages, blog, produits, médiathèque, thème graphique, etc.)</p>
					<input name="with_content" id="with_content0" value="0" checked="checked" type="radio">
					<label for="with_content0">Non, je souhaite conserver le contenu actuel du site</label>
						<p class="ml-4">Cette action <em>conserve</em> le contenu actuel du site mais peut nécessiter de devoir reconfigurer manuellement les types de billets et de produits ainsi que les mises en pages</p>
				</div>
			</div>

			<div class="form-group">
				<div class="checkbox">
					<input id="copyrights_acquired" name="copyrights_acquired" value="1" type="checkbox">
					<label for="copyrights_acquired">Je reconnais avoir acquis l'ensemble des droits nécessaires à l'utilisation des éléments importés</label>
				</div>
			</div>

		</div>
		<footer class="post-footer"></footer>
	</article>
</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Importer</button>
	</div>
</div>

<% } else { %>

	<% if (report.errors && report.errors.length > 0) { %>
		<div class="alert alert-danger">
			<strong>L'import n'a pas été réalisé</strong>, il y a des erreurs dans le fichier.<br/><br/>
			<ul>
				<% _.each(report.errors, function(msg){ %>
				<li><%= msg %></li>
				<% }); %>
			</ul>
		</div>
	<% } else { %>
		<div class="alert alert-success">
			<strong>Import réussi</strong>, le thème a été importé !
		</div>
	<% } %>

	<div class="save">
		<div class="btn-toolbar" role="toolbar">
			<button type="button" class="btn btn-lg btn-primary btn-cancel" data-role="cancel">Retour</button>
		</div>
	</div>

<% } %>

<footer class="footer"></footer>
