<form>
<article class="post-article">
	<header class="post-header">
		<h1>Conditions préalables</h1>
	</header>
	<div class="post-content">
		<p>
			Payline est la solution de paiement en ligne sécurisé proposé par les Crédits Mutuel de Bretagne, du Sud Ouest et Arkéa.
			Pour plus d'informations,
			<a href="https://www.citelis.fr/" target="_blank">rendez-vous sur le site officiel</a> ou prenez
			contact avec un établissement bancaire.
		</p>

		<p>
			Afin de configurer correctement ce mode de paiement vous devez :
		</p>
		<ol>
			<li>
				Prendre contact avec un établissement bancaire afin d'obtenir l’ouverture d’un contrat monétique de
				Vente A Distance (VAD)
			</li>
			<li>
				Une fois le dossier d'adhésion fourni par l'établissement bancaire déposé,
				Payline vous communiquera votre identifiant commerçant.
			</li>
			<li>
				Connectez vous dans votre centre d'administration d'homologation. Vérifiez que vous êtes connecté en tant
				que "Administrateur Commerçant" en haut à droite de l'écran.
			<li>
				Allez dans "Configuation" puis "Vos moyens de paiements" et faites une recherche pour afficher votre moyen
				de paiement. Notez son numéro de contrat.
			</li>
			<li>
				Toujours dans votre centre d'administration d'homologation, allez dans "Configuation" puis "Gestion des clés
				d'accès". Générez un clé si vous n'en possédez pas déjà une. Cliquez sur le lien "voir" et notez la clé qui
				s'affiche en haut de l'écran.
			</li>
			<li>
				Completez le formulaire ci-dessous en indiquant l'identifiant commerçant, le numéro de contrat et la clé
				d'accès.
			</li>
			<li>
				<strong class="text-danger">Effectuez 1 paiement en mode TEST</strong>
			</li>
			<li>
				Vérifiez que sans cliquer sur le bouton de retour à la boutique, Kiubi est bien renseigné sur la
				validation du paiement
			</li>
			<li>
				Remplir le PV de recette et renvoyez le au gestionnaire de votre solution de paiement
			</li>
			<li>
				Une fois votre compte de production activé, connectez vous dans votre centre d'administration de production
				et récupérer votre identifiant commerçant, numéro de contrat et clé d'accès.
			</li>
			<li>
				Completez le formulaire ci-dessous en indiquant <strong>l'identifiant commerçant, le numéro de contrat et la clé
				d'accès de production</strong>.
				<strong class="text-danger">Passez le paiement en mode PRODUCTION</strong> dans le formulaire ci-dessous.
			</li>
		</ol>
		<p>
			<strong>Aucune autre intervention technique n’est nécessaire</strong>, si toutes les opérations ont été
			correctement effectuées,
			ce mode de paiement sera alors actif sur le site. Une fois toutes ces opérations de configuration terminées,
			<strong class="text-danger">il est indispensable d'effectuer au moins un paiement réel</strong> sur le site
			pour tester son bon fonctionnement.
		</p>
	</div>
	<footer class="post-footer"></footer>
</article>

<article class="post-article">
	<header class="post-header">
		<h1>Paramètres du mode de paiement</h1>
	</header>
	<div class="post-content">
		<div class="form-group">
			<label for="intitule_long">Intitulé du mode de paiement</label>
			<input class="form-control" id="intitule_long" name="intitule_long" value="<%- config.intitule_long %>" placeholder="<%- name%>" type="text">
		</div>
		<div class="form-group">
			<label>Utilisation</label>

			<div class="form-check">
				<input name="is_enabled" id="is_enabled1" value="1" type="radio" <%= is_enabled ? 'checked="checked"' : '' %>>
				<label for="is_enabled1" class="visible">Activé</label>
				<input name="is_enabled" id="is_enabled0" value="0" type="radio" <%= !is_enabled ? 'checked="checked"' : '' %>>
				<label for="is_enabled0" class="not-visible">Désactivé</label>
			</div>
		</div>

		<div class="form-group">
			<label>Mode</label>
			<div class="form-check">
				<input name="mode" id="modetest" value="test" type="radio" <%= config.mode != 'prod' ? 'checked="checked"' : '' %>>
				<label for="modetest">HOMOLOGATION</label>
				<input name="mode" id="modeprod" value="prod" type="radio" <%= config.mode == 'prod' ? 'checked="checked"' : '' %>>
				<label for="modeprod">PRODUCTION</label>
			</div>
		</div>
		<div class="form-group">
			<label class="required" for="merchant_id">Identifiant Commerçant</label>
			<input class="form-control" id="merchant_id" name="merchant_id" value="<%- config.merchant_id %>" placeholder="Série de chiffres fournis par l'établissement bancaire"
				   type="text">
		</div>
		<div class="form-group">
			<label class="required" for="access_key">Clé d'accès</label>
			<input class="form-control" id="access_key" name="access_key" value="<%- config.access_key %>"
				   placeholder="Série de chiffres et de lettres fournis par l'établissement bancaire" type="text">
		</div>
		<div class="form-group">
			<label class="required" for="contract_number">Numéro de contrat</label>
			<input class="form-control" id="contract_number" name="contract_number" value="<%- config.contract_number %>"
				   placeholder="Série de chiffres fournis fournis par l'établissement bancaire" type="text">
		</div>
		<div class="form-group">
			<label class="required" for="message">Message de confirmation</label>

			<p>Le message de confirmation s'affiche à la fin de la procédure de commande, une fois la commande
				enregistrée.</p>
			<textarea class="form-control" id="message" name="message" placeholder="" data-role="wysiwyg" rows="21"><%- config.message %></textarea>
		</div>
	</div>
	<footer class="post-footer"></footer>
</article>
</form>
