<% if(actions && actions.length > 0) { %>
		<div class="btn-group float-right">
			<button data-id="<%- actions[0].index %>" type="button" class="btn btn-lg btn-success btn-action <%= !actions[0].isEnabled ? 'disabled' : '' %>" data-role="default-action"><%- actions[0].title %></button>
			<% if (actions.length > 1) %>
			<button type="button" class="btn btn-lg btn-success btn-action dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
			<ul class="dropdown-menu dropdown-menu-right" data-role="other-actions">
				<% _(actions).each(function(action, index){ if(index==0) return; %>
				<li data-id="<%- action.index %>"><a href="#" class="dropdown-item <%= !action.isEnabled ? 'disabled' : '' %>"><%- action.title %></a></li>
				<% }) %>
			</ul>
			<% %>
		</div>

<% } %>

<ol class="breadcrumb flex-nowrap">
		<% _(links).each(function(link){ %>
	 		<% if (link.href) { %>
				<li class="breadcrumb-item"><a href="<%- link.href %>" title="<%- link.title %>"><%- link.title %></a></li>
			<% } else { %>
				<li class="breadcrumb-item active" title="<%- link.title %>"><%- link.title %></li>
			<% } %>
		<% }) %>
		<li class="gradient"></li>
	</ol>


<% if(tabs) { %>
<ul class="nav">
	<% _(tabs).each(function(tab){ %>
	<li role="presentation" class="nav-item <%= tab.is_active ? 'active' : '' %>">
		<a href="<%- tab.url %>" class="nav-link">
		<%- tab.title %>
		<% if(tab.icon) { %>
		<span class="md-icon <%- tab.icon %>"></span>
		<% } %>
	</a>
</li>
	<% }) %>
</ul>
<% } %>
