<form>

<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

<article class="post-article">
	<header class="post-header">
		<h1>Informations générales</h1>
	</header>
	<div class="post-content">
		<div class="form-group">
			<label class="control-label required" for="name">Intitulé de la page</label>
			<input class="form-control" id="name" name="name" value="<%- name %>" placeholder="Intitulé de la page tel qu'il apparaîtra dans le menu" type="text">
		</div>
		<div class="form-group">
			<label class="control-label">Affichage</label>
			<div class="radio-group">
				<input name="is_visible" id="is_visible1" value="1" <%= is_visible ? 'checked="checked"' : '' %> type="radio">
				<label for="is_visible1" class="visible">Visible</label>
				<input name="is_visible" id="is_visible0" value="0" <%= !is_visible ? 'checked="checked"' : '' %> type="radio">
				<label for="is_visible0" class="not-visible">Masqué</label>
			</div>
		</div>
	</div>
	<footer class="post-footer"></footer>
</article>

<article data-role='list'></article>

<article data-role='layout'></article>

	<article class="post-article">
		<header class="post-header"><a href="#seo" class="pull-right" data-toggle="collapse"
									   aria-expanded="false" aria-controls="seo">Afficher plus d'options</a>
			<h1>Référencement</h1>
		</header>
		<div class="post-content">
			<div class="form-group" data-behavior="countable"><span class="letter-counter"></span>
				<label class="control-label" for="meta_title">Titre de la page</label>
				<input class="form-control" id="meta_title" name="meta_title" value="<%- meta_title %>" placeholder="Contenu de la balise &lt;title&gt; qui remplacera celle définie par défaut" type="text">
			</div>
			<div class="form-group" data-behavior="countable"><span class="letter-counter"></span>
				<label class="control-label" for="meta_description">Description de la page</label>
				<textarea class="form-control" id="meta_description" name="meta_description" rows="5" placeholder="Contenu de la balise &lt;meta description&gt; qui remplacera celle définie par défaut"><%- meta_description %></textarea>
			</div>
			<div class="collapse" id="seo">
				<div class="form-group" data-behavior="countable"><span class="letter-counter"></span>
					<label class="control-label" for="meta_keywords">Mots clés de la page</label>
					<textarea class="form-control" id="meta_keywords" name="meta_keywords" rows="5" placeholder="Contenu de la balise &lt;meta keywords&gt; qui remplacera celle définie par défaut"><%- meta_keywords %></textarea>
				</div>
				<div class="form-group">
					<label class="control-label" for="js_head">Code avant <code>&lt;/head&gt;</code></label>
					<textarea class="form-control" id="js_head" name="js_head" rows="5" placeholder="Code placé avant la balise &lt;/head&gt; qui remplacera celui défini par défaut"><%- js_head %></textarea>
				</div>
				<div class="form-group">
					<label class="control-label" for="js_body">Code avant <code>&lt;/body&gt;</code></label>
					<textarea class="form-control" id="js_body" name="js_body" rows="5" placeholder="Code placé avant la balise &lt;/body&gt; qui remplacera celui défini par défaut"><%- js_body %></textarea>
				</div>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-action btn-save pull-right" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"> </footer>
