<div class="row no-gutters" data-role="list">
	<div class="col-auto">
		<input id="cms_item_<%- item_id %>" name="selection" value="<%- item_id %>" type="checkbox">
		<label for="cms_item_<%- item_id %>"></label>
	</div>
	<div class="col-auto"><a href="#" class="md-icon md-drag btn-drag"></a></div>
	<div class="col item-body">
		<h4><%- label %></h4>
		<p class="item-detail">
			<% if(is_visible) { %>
				&nbsp;
			<% } else { %>
				<span class="text-danger">Masqué</span>
			<% } %>
		</p>
	</div>
	<div class="col-auto">
		<div class="btn-group float-right"><a class="btn btn-primary" href="#" role="button" data-role="action" data-action="edit">Détail</a>
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a href="#" class="dropdown-item" data-role="action" data-action="delete" data-confirm="warning">Supprimer</a></li>
			</ul>
		</div>
	</div>
</div>

<form style="display: none;" data-role="edit">

	<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

	<div class="form-group">
		<label>Affichage</label>
		<div class="form-check">
			<input name="is_visible" id="f_<%- item_id %>_is_visible1" value="1" type="radio" <%= is_visible ? 'checked="checked"' : '' %> >
			<label for="f_<%- item_id %>_is_visible1" class="visible">Visible</label>
			<input name="is_visible" id="f_<%- item_id %>_is_visible0" value="0" type="radio" <%= !is_visible ? 'checked="checked"' : '' %>>
			<label for="f_<%- item_id %>_is_visible0" class="not-visible">Masqué</label>
		</div>
	</div>

	<% _(collection).each(function(field){ %>

	<% switch(field.type){ case 'text': %>
	<div class="form-group">
		<label for="f_<%- item_id %>_<%- field.field %>"><%- field.name %></label>
		<% if (field.help) { %><p><%- field.help %></p><% } %>
		<input type="text" class="form-control" id="f_<%- item_id %>_<%- field.field %>" name="<%- field.field %>" placeholder="<%- field.default %>" value="<%- fields[field.field] %>">
	</div>
	<% break; case 'textarea': %>
	<div class="form-group">
		<label for="f_<%- item_id %>_<%- field.field %>"><%- field.name %></label>
		<% if (field.help) { %><p><%- field.help %></p><% } %>
		<textarea class="form-control" id="f_<%- item_id %>_<%- field.field %>" name="<%- field.field %>" rows="5" placeholder="<%- field.default %>"><%- fields[field.field] %></textarea>
	</div>
	<% break; case 'wysiwyg': %>
	<div class="form-group">
		<label for="f_<%- item_id %>_<%- field.field %>"><%- field.name %></label>
		<% if (field.help) { %><p><%- field.help %></p><% } %>
		<textarea class="form-control" id="f_<%- item_id %>_<%- field.field %>" name="<%- field.field %>" rows="21" placeholder="<%- field.default %>" data-role="wysiwyg"><%- fields[field.field] %></textarea>
	</div>
	<% break; case 'select': %>
	<div class="form-group">
		<label for="f_<%- item_id %>_<%- field.field %>"><%- field.name %></label>
		<% if (field.help) { %><p><%- field.help %></p><% } %>
		<div class="row">
			<div class="col-6">
				<select id="f_<%- item_id %>_<%- field.field %>" name="<%- field.field %>" data-style="selectify">
					<% _(field.options).each(function(option){ %>
					<option value="<%- option.value %>" <%= ( option.value == fields[field.field] || (fields[field.field] == '' && option.value == field.default)) ? 'selected="selected"':''  %>><%- option.label %></option>
					<% }) %>
				</select>
			</div>
		</div>
	</div>
	<% break; case 'image':case 'file': %>
	<div data-role="filepicker-<%- field.field %>"></div>
	<% break;} %>

	<% }) %>

	<div class="btn-toolbar" role="toolbar">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-lg btn-primary btn-cancel" data-role="action" data-action="cancel">Annuler</button>
		</div>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-lg btn-success btn-save" data-role="action" data-action="save">Enregistrer</button>
		</div>
	</div>
</form>
