<form>

<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

<article class="post-article">
  <header class="post-header">
    <h1>Informations générales</h1>
  </header>
  <div class="post-content">
    <p>Toutes les pages du site web sont organisées en menus. Kiubi vous
			permet de créer plusieurs menus qui peuvent contenir autant de pages que
			vous le désirez. Ces différents menus et les pages qu'ils contiennent
			constituent l'arborescence du site et permettront à l'internaute
			de le parcourir.</p>
    <div class="form-group">
      <label for="name">Intitulé du menu</label>
      <input class="form-control" id="name" name="name" value="<%- name %>"
			placeholder="Intitulé permettant d'identifier le menu" type="text">
    </div>
    <div class="form-group">
      <label>Identifiant API</label>
      <p class="form-control-static"><%- api_key %></p>
    </div>
  </div>
  <footer class="post-footer"></footer>
</article>

</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<% if(!is_main) { %>
		<button type="button" class="btn btn-lg btn btn-danger btn-delete" data-role="delete">Supprimer</button>
		<% } %>
		<button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"> </footer>
