<article class="post-article">
	<div class="post-content">
		<div class="row">
			<div class="col-xs-6">

				<div class="thumbnail thumbnail-select" data-role="select-page">
					<div class="md-icon md-website"></div>
					<div class="caption">
						<h4>Contenu libre</h4>
						<p>Une page de contenu modifiable</p>
					</div>
				</div>
			</div>
			<div class="col-xs-6">

				<div class="thumbnail thumbnail-select" data-role="select-intlink">
					<div class="md-icon md-directions"></div>
					<div class="caption">
						<h4>Lien interne</h4>
						<p>Un lien vers une page du site</p>
					</div>
				</div>
			</div>
			<div class="col-xs-6">

				<div class="thumbnail thumbnail-select" data-role="select-extlink">
					<div class="md-icon md-link"></div>
					<div class="caption">
						<h4>Lien externe</h4>
						<p>Un lien vers une adresse web</p>

					</div>
				</div>

			</div>
			<div class="col-xs-6">
				<div class="thumbnail thumbnail-select" data-role="select-separator">
					<div class="md-icon md-spacer"></div>
					<div class="caption">
						<h4>Séparateur</h4>
						<p>Une séparation, sans lien ni contenu</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="post-footer"></footer>
</article>
