<button type="button" class="form-control form-control-select dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span data-role="label" class="fake-selected"><%- label %></span> <span class="caret"></span></button>
<div class="dropdown">
	<ul class="dropdown-menu dropdown-control dropdown-tree">
		<%_.each(options, function(page){ %>
			<% if (!page.is_selectable) { %>
				<li data-value="<%- page.value %>"><span data-role="selectabe" class="disabled <%= (page.value == selected) ? 'active' : '' %>"><%= indent2Space(page.indent) %><%- page.label %><% if(page.is_positionnable) { %><span class="md-icon md-before page-position"></span><span class="md-icon md-after page-position"></span><% } %></span></li>
			<% } else { %>
				<li data-value="<%- page.value %>" class="<%= (page.value == selected) ? 'active' : '' %>"><a data-role="selectabe" href="#"><%= indent2Space(page.indent) %><%- page.label %><% if(page.is_positionnable) { %><span class="md-icon md-before page-position"></span><span class="md-icon md-after page-position"></span><% } %></a></li>
			<% } %>
		<% }) %>
	</ul>
</div>
