<article data-role='list'></article>

<% if(enableExtranet) {%>
<article class="post-article">
	<header class="post-header">
		<h1>Droits d'accès</h1>
	</header>
	<div class="post-content">
		<p>Restreindre l'accès à cette page aux seuls <a href="/customers/groups">groupes</a> ou <a href="/customers">membres</a> autorisés.</p>

		<div data-role="restrictions"></div>

	</div>
	<footer class="post-footer"></footer>
</article>
<% } %>

<article data-role='layout'></article>

<article data-role='seo'></article>

