<article class="post-article">
	<header class="post-header">
		<h1>Lien interne</h1>
	</header>
	<div class="post-content">
		<p>Un lien interne vous permet de faire un lien, depuis un menu, vers une autre page du site web.
		</p>
		<div class="row">
			<div class="col-xs-3">
				<div class="form-group has-feedback">
					<label class="control-label">Vers quel service ?</label>
					<select class="form-control" data-role="type"></select>
					<div class="form-control-feedback md-feedback md-select"></div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group has-feedback">
					<label class="control-label" for="target_page">Vers quelle page ?</label>
					<select class="form-control" id="target_page" name="target_page"></select>
					<div class="form-control-feedback md-feedback md-select"></div>
				</div>
			</div>
		</div>
	</div>
	<footer class="post-footer"></footer>
</article>
