<form>

	<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>


	<div class="row">
		<div class="col-lg-8 col-12 d-flex">
			<article data-role="type"></article>
		</div>

		<div class="col-lg-4 col-12">
			<article class="post-article post-article-aside">
				<div class="post-content">
					<div class="row">
						<div class="col-lg-12 order-lg-2 col-6">
							<div class="form-group post-subcontent">
								<label>Page du billet</label>
								<div data-role="page"></div>
							</div>
						</div>
						<div class="col-lg-12 order-lg-1 col-6">
							<div class="form-group mb-lg-0">
								<label>Affichage</label>
								<div class="form-check">
									<input name="is_visible" id="is_visible1" value="1" <%= is_visible ? 'checked="checked"' : '' %> type="radio">
									<label for="is_visible1" class="visible">Visible</label>
									<input name="is_visible" id="is_visible0" value="0" <%= !is_visible ? 'checked="checked"' : '' %> type="radio">
									<label for="is_visible0" class="not-visible">Masqué</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer class="post-footer"></footer>
			</article>
			<article class="post-article">
				<div class="post-content">
					<div class="form-group">
						<label for="group">Groupe du billet</label>
						<p>Utilisé comme critère d'affichage dans certains widgets pour organiser le contenu du site web :</p>
						<input class="form-control" id="group" name="group" value="<%- group %>" placeholder="Colonne à droite, Slideshow, Pied de page..." type="text">
						<!-- <span class="badge label-tag badge-list ">Colonne à droite<span class="md-icon md-close"></span></span> -->
					</div>
					<div class="form-group">
						<label>Groupes existants</label>
						<div data-role="group"></div>
					</div>
				</div>
				<footer class="post-footer"></footer>
			</article>
		</div>
	</div>
</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-lg btn-danger btn-delete" data-role="delete">Supprimer</button>
		<button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"> </footer>
