		<div class="row no-gutters">
			<div class="col-auto">
					<input id="cms_post_<%- post_id %>" name="selection" value="<%- post_id %>" type="checkbox">
					<label for="cms_post_<%- post_id %>"></label>
			</div>
			<div class="col-auto"><a href="#" class="md-icon md-drag btn-drag"></a></div>
			<div class="col item-body">
				<h4><%- label %></h4>
				<span class="tags tags-color-<%- type_pos %>"></span>
				<% if (is_visible) { %>
				<%- type_name %>
				<% } else { %>
				<span class="text-danger">Masqué</span>
				<% } %>
			</div>
			<div class="col-4"><% if(group) { %><span class="badge badge-primary"><%- group %><% } %></span></div>
			<div class="col-auto">
				<div class="btn-group float-right">
					<a class="btn btn-primary" href="/cms/posts/<%- post_id %>" role="button">Détail</a>
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#" class="dropdown-item" data-role="action" data-action="delete" data-confirm="warning">Supprimer</a></li>
					</ul>
				</div>
			</div>
			</div>
