<div class="row no-gutters">
	<div class="col-auto">
		<input id="cms_post_<%- content_id %>" name="selection" value="<%- content_id %>" type="checkbox">
		<label for="cms_post_<%- content_id %>"></label>
	</div>
	<% if(canMove) { %>
	<div class="col-auto"><a href="#" class="md-icon md-drag btn-drag"></a></div>
	<% } %>
	<div class="col item-body">
		<h4><%- label %></h4>
		<% if (showType) { %>
			<% if (is_visible) { %>
			<span class="md-icon md-item-type md-billet tags-color-<%- type_pos %>"></span><%- type_name %>
			<% } else { %>
				<span class="md-icon md-item-type md-billet text-danger"></span><span class="text-danger">Masqué</span>
			<% } %>

		<% } else { %>

			<a href="<%= is_home ? '/cms' : '/cms/pages/' + page_id %>"><%- page_name %></a>

		<% } %>
	</div>
	<div class="col-4"><% if(group) { %><span class="badge badge-secondary"><%- group %><% } %></span></div>
	<div class="col-auto">
		<div class="btn-group float-right">
			<a class="btn btn-primary" href="/cms/contents/<%- content_id %>" role="button">Détail</a>
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"></button>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a href="#" class="dropdown-item" data-role="action" data-action="delete" data-confirm="warning">Supprimer</a></li>
			</ul>
		</div>
	</div>
</div>
