<header class="post-header no-border">
	<h1>Détail du billet</h1>
</header>
<div class="post-content">
	<div class="post-group">
		<div class="form-group">
			<p>Le type de billet détermine l'apparence et le contenu du billet dans la page :</p>
			<div class="row">
				<div class="col-6">
					<select id="type" name="type" data-style="selectify">
						<% _(types).each(function(item){ %>
							<option value="<%- item.type %>" <%= (item.type == type) ? 'selected="selected"':''  %> data-tags="md-billet tags-color-<%- item.position %>"><%- item.name %></option>
							<% }) %>
						</select>
					</div>
				</div>
			</div>
		</div>

	<% if (!fields || fields.length == 0) { %>
	<p><em>Pas d'information complémentaire...</em></p>
	<% } %>
	<% _(fields).each(function(field){ %>

	<% switch(field.type){ case 'text': %>
	<div class="form-group">
		<label for="<%- field.field %>"><%- field.name %></label>
		<% if (field.help) { %><p><%- field.help %></p><% } %>
		<input class="form-control" id="<%- field.field %>" name="<%- field.field %>" value="<%- post.get(field.field) %>">
	</div>
	<% break; case 'textarea': %>
	<div class="form-group">
		<label for="<%- field.field %>"><%- field.name %></label>
		<% if (field.help) { %><p><%- field.help %></p><% } %>
		<textarea class="form-control" id="<%- field.field %>" name="<%- field.field %>" rows="5"><%- post.get(field.field) %></textarea>
	</div>
	<% break; case 'wysiwyg': %>
	<div class="form-group">
		<label for="<%- field.field %>"><%- field.name %></label>
		<% if (field.help) { %><p><%- field.help %></p><% } %>
		<textarea class="form-control" id="<%- field.field %>" name="<%- field.field %>" data-role="wysiwyg" rows="21"><%- post.get(field.field) %></textarea>
	</div>
	<% break; case 'select': %>
	<div class="form-group">
		<label for="<%- field.field %>"><%- field.name %></label>
		<% if (field.help) { %><p><%- field.help %></p><% } %>
		<div class="row">
			<div class="col-6">
				<select id="<%- field.field %>" name="<%- field.field %>" data-style="selectify">
					<% _(field.options).each(function(option){ %>
					<option value="<%- option.value %>" <%= (option.value == post.get(field.field)) ? 'selected="selected"':''  %>><%- option.name %></option>
					<% }) %>
				</select>
			</div>
		</div>
	</div>
	<% break; case 'image':case 'file': %>
	<div data-role="filepicker-<%- field.field %>"></div>
	<% break;} %>

	<% }) %>


</div>
<footer class="post-footer"></footer>
