<article class="post-article">
  <header class="post-header">
    <h1>Paramètres généraux</h1>
  </header>
  <div class="post-content">
    <p>À chaque nouvelle réponse au formulaire, une copie peut être envoyée par email à plusieurs
      destinataires de votre choix ainsi qu'à l'expéditeur de la réponse, si ce dernier a renseigné une adresse email valide.
    </p>
    <div class="form-group">
      <label class="control-label" for="exmemple1">Destinataires</label>
      <p>Saisissez les emails des destinataires, séparés par des virgules, qui seront en copie des nouvelles réponses.</p>
      <input class="form-control" id="exmemple1" placeholder="Emails des destinataires séparés par des virgules" type="text">
    </div>
    <div class="form-group">
      <label class="control-label" for="">Envoyer une copie à l'expéditeur (si possible)</label>
      <div class="radio-group">
        <input name="affichage" id="affichage1" value="option1" checked="checked" type="radio">
        <label for="affichage1" class="">Oui</label>
        <input name="affichage" id="affichage0" value="option1" type="radio">
        <label for="affichage0" class="">Non</label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label required" for="exmemple1">Sujet de l'email</label>
      <input class="form-control" id="exmemple1" placeholder="Sujet de l'email lors d'une nouvelle réponse" type="text">
    </div>
    <div class="form-group">
      <label class="control-label required" for="exmemple1">Message de confirmation</label>
      <p>Le message de confirmation s'affiche une fois le formulaire validé.</p>
      <textarea class="form-control" placeholder="" data-role="wysiwyg" data-wysiwyg-toolbar="micro" rows="14"></textarea>
    </div>
    <div class="form-group">
      <label class="control-label" for="exmemple1">Identifiant API Front-office</label>
      <p>7-db373ce4ba6b1b8</p>
    </div>
  </div>
  <footer class="post-footer"></footer>
</article>

<article class="post-article">
	<header class="post-header">
		<h1>Captcha</h1>
	</header>
	<div class="post-content">
		<p>
			Le "captcha" est une sorte d'anti-spam pour se prémunir contre l'usage
			abusif des formulaires : un champ de validation requiert de l'internaute
			qu'il réponde à une question aléatoirement posée pour valider le formulaire.
		</p>
		<div class="form-group">
			<label class="control-label" for="">Utilisation du captcha</label>
			<div class="radio-group">
				<input name="comments_captcha" id="comments_captcha1" value="1" checked="checked" type="radio">
				<label for="comments_captcha1" class="visible">Activé</label>
				<input name="comments_captcha" id="comments_captcha0" value="0" type="radio">
				<label for="comments_captcha0" class="not-visible">Désactivé</label>
			</div>
		</div>
	</div>
	<footer class="post-footer"></footer>
</article>

<div class="save">
  <div class="btn-toolbar" role="toolbar">
    <button type="button" class="btn btn-delete">Supprimer</button>
    <button type="button" class="btn btn-action  pull-right">Enregistrer</button>
  </div>
</div>

<footer class="footer"> </footer>
