			<div class="row no-gutters" data-role="list">
				<div class="col-auto"><a href="#" class="md-icon md-drag btn-drag"></a></div>
				<div class="col item-body">
			<h4><%- name %></h4>
			<% if(is_enabled) { %>
				<span><%- typeLabel %></span>
			<% } else { %>
				<span class="text-danger">Masqué</span>
			<% } %>
		</div>
		<div class="col-4"><% if(is_required) { %><span class="badge badge-primary">Obligatoire</span><% } %></div>
		<div class="col-auto">
			<div class="btn-group float-right" role="group"> <a class="btn btn-primary" href="#" role="button" data-role="action" data-action="edit">Détail</a>
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a class="dropdown-item" href="#" data-role="action" data-action="delete" data-confirm="warning">Supprimer</a></li>
					</ul>
				</div>
		</div>
	</div>

<form style="display: none;" data-role="edit">

	<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

	<div class="row">
		<div class="col-4">
			<div class="form-group">
				<label>Affichage</label>

				<div class="form-check">
					<input name="is_enabled" id="f_<%- field_id %>_is_enabled1" value="1" type="radio" <%= is_enabled ? 'checked="checked"' : '' %> >
					<label for="f_<%- field_id %>_is_enabled1" class="visible">Visible</label>
					<input name="is_enabled" id="f_<%- field_id %>_is_enabled0" value="0" type="radio" <%= !is_enabled ? 'checked="checked"' : '' %>>
					<label for="f_<%- field_id %>_is_enabled0" class="not-visible">Masqué</label>
				</div>
			</div>
		</div>
		<div class="col-4" data-role="inputs">
			<div class="form-group">
				<label>Champ à renseigner</label>

				<div class="form-check">
					<input name="is_required" id="f_<%- field_id %>is_required1" value="1" type="radio" <%= is_required ? 'checked="checked"' : '' %>>
					<label for="f_<%- field_id %>is_required1" class="">Obligatoire</label>
					<input name="is_required" id="f_<%- field_id %>is_required0" value="0" type="radio" <%= !is_required ? 'checked="checked"' : '' %>>
					<label for="f_<%- field_id %>is_required0" class="">Facultatif</label>
				</div>
			</div>
		</div>
		<div class="col-4" data-role="inputs">
			<div class="form-group">
				<label>Ajouter au sujet</label>

				<div class="form-check">
					<input name="is_in_subject" id="f_<%- field_id %>is_in_subject1" value="1" type="radio" <%= is_in_subject ? 'checked="checked"' : '' %>>
					<label for="f_<%- field_id %>is_in_subject1" class="">Oui</label>
					<input name="is_in_subject" id="f_<%- field_id %>is_in_subject0" value="0" type="radio" <%= !is_in_subject ? 'checked="checked"' : '' %>>
					<label for="f_<%- field_id %>is_in_subject0" class="">Non</label>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="required" for="name">Label du champ</label>
		<input class="form-control" id="name" name="name" value="<%- name %>" placeholder="Label du champ tel qu'il apparaitra dans le formulaire" type="text">
	</div>
	<div class="form-group" data-role="inputs">
		<label for="help">Aide à la saisie</label>
		<input class="form-control" id="help" name="help" value="<%- help %>" placeholder="Courte description pour aider à correctement renseigner le champ" type="text">
	</div>
	<div class="row">
		<div class="col-4">
			<div class="form-group">
				<label for="type">Type de champ</label>
				<select name="type" id="type" data-style="selectify">
					<% _.each(typeList, function(t){ %>
					<option value="<%- t.type %>" <%= (type == t.type) ? 'selected="selected"' : '' %>><%- t.label %></option>
					<% }) %>
				</select>
			</div>
		</div>
		<div class="col-4" data-role="email">

			<div class="form-group">
				<label>Email de l'expéditeur</label>

				<div class="form-check">
					<input name="use_for_exp" id="f_<%- field_id %>_use_for_exp1" value="1" type="radio" <%= use_for_exp ? 'checked="checked"' : '' %> >
					<label for="f_<%- field_id %>_use_for_exp1" class="visible">Oui</label>
					<input name="use_for_exp" id="f_<%- field_id %>_use_for_exp0" value="0" type="radio" <%= !use_for_exp ? 'checked="checked"' : '' %>>
					<label for="f_<%- field_id %>_use_for_exp0" class="not-visible">Non</label>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group" data-role="values">
		<label class="required" for="values">Liste des valeurs</label>
		<input class="form-control" id="values" name="values" value="<%- values %>" placeholder="Valeur 1, Valeur 2, Valeur 3, ..." type="text">
	</div>

	<div class="btn-toolbar" role="toolbar">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-lg btn-primary btn-cancel" data-role="action" data-action="cancel">Annuler</button>
		</div>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-lg btn-success btn-save" data-role="action" data-action="save">Enregistrer</button>
		</div>
	</div>

</form>
