<form data-role="part">
	<div class="alert alert-warning" role="alert">
	Ce formulaire peut permettre <strong>la collecte de données à caractère personnel</strong>. Veuillez dans ce cas respecter <a href="/prefs/gdpr">les dispositions adéquates</a> prévues par la loi. 
	</div>
	<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

	<article class="post-article">
		<header class="post-header">
			<h1>Informations générales</h1>
		</header>
		<div class="post-content">
			<div class="form-group">
				<label class="control-label required" for="name">Intitulé du formulaire</label>
				<input class="form-control" id="name" name="name" value="<%- name %>" placeholder="Intitulé permettant d'identifier le formulaire"
					   type="text">
			</div>
			<div class="form-group">
				<label class="control-label">Affichage</label>

				<div class="radio-group">
					<input name="is_enabled" id="is_enabled1" value="1" type="radio" <%= is_enabled ? 'checked="checked" ' : '' %>>
					<label for="is_enabled1" class="visible">Visible</label>
					<input name="is_enabled" id="is_enabled0" value="0" type="radio" <%= !is_enabled ? 'checked="checked" ' : '' %>>
					<label for="is_enabled0" class="not-visible">Masqué</label>
				</div>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

</form>

<article data-role='list'></article>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-delete" data-role="delete">Supprimer</button>
		<button type="button" class="btn btn-action btn-save pull-right" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"></footer>
