<% if(response_id) { %>
    <div class="answer-header">
      <p><%- creation_date %></p>
      <H1>#<%- response_id %> - <%- subject %></H1> Réponse à <a href="/forms/<%- form_id %>"><%- form_name %></a>
    </div>

	<% _.each(fields, function(field){ %>
	<div class="form-group">
		<label><%- field.name %></label>
		<p class="form-control-static">
      <% if(field.value && field.type == 'text') { %>
        <%= nl2br(field.value) %>
	  <% } else if(field.value && field.type == 'file') { %>
			<a target="_blank" href="<%= convertMediaPath('/media/multiform/'+field.value.media_id+'.'+field.value.ext) %>"><%- field.value.name %></a>
      <% } else { %>
        <em class="text-muted">Non renseigné</em>
      <% } %>
    </p>
	</div>
	<% }) %>

    <div class="form-group">
      <label>IP | Host</label>
      <p class="form-control-static"><%- ip %> | <%- reverse_host %></p>
    </div>
<% } else { %>

<% } %>
