<article class="post-article answers">
  <header class="post-header">
    <h1>Liste des réponses</h1>
    <div class="form-inline">
      <div class="checkbox-inline">
        <input id="inlineCheckboxTest10" value="option1" type="checkbox">
        <label for="inlineCheckboxTest10"></label>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-option">Marquer lue</button>
        <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
        <ul class="dropdown-menu">
          <li><a href="#">Marquer non-lue</a></li>
          <li><a href="#">Supprimer</a></li>
        </ul>
      </div>
      <div class="form-group has-feedback">
        <select class="form-control select-category" ic="exmemple3">
          <option selected="selected">Formulaires</option>
          <option value="151">1 Kg acheté = 1 Kg offert</option>
          <option value="6">Amandes &amp; douceurs</option>
          <option value="7">Pains d'épices</option>
          <option value="12">Meringues à la française</option>
          <option value="47">Macarons fins</option>
          <option value="19">Macarons de Riquewihr</option>
          <option value="26">Gâteaux de Noël "Bredele"</option>
          <option value="20">Gâteaux d'Alsace</option>
          <option value="30">Chocolat &amp; Confiserie</option>
          <option value="32">Biscuits Sablés fins</option>
          <option value="33">Coffrets cadeaux et &lt;br /&gt;Boîtes...</option>
          <option value="42">Saint Valentin</option>
          <option value="44">Collection de Pâques 2011</option>
          <option value="46">Cadeaux Fête des Mères 2011</option>
        </select>
        <div class="form-control-feedback md-feedback md-select"></div>
      </div>
      <div class="form-group has-feedback">
        <select class="form-control select-state" ic="exmemple3">
          <option selected="selected">États</option>
          <option value="151">Lues</option>
          <option value="6">Non-lues</option>
        </select>
        <div class="form-control-feedback md-feedback md-select"></div>
      </div>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-icon md-icon md-sort  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
        <ul class="dropdown-menu">
          <li class="active"><a href="#">Nom</a></li>
          <li><a href="#">Connexion</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="post-content post-list answers-list">
    <div class="list-item active">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body not-read">
              <h4>#9999</h4>
              reçue le 08/08/2016 à 12h47
              <span>Intitulé du formulaire</span>
            </div>
          </div>
        </div>
      </div>
      <p>
        Prénom mickael Nom aubourg E-mail maubourg42300@gmail.com
        Téléphone 0609874709 Votre message Bonjour,
        je souhaite faire un site internet et une boutique en ligne.
        j'aurai
      </p>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body read">
              <h4>#32</h4>
              reçue le 08/08/2016 à 12h47
              <span>Intitulé du formulaire un peu plus long pour tester la longueur</span>
            </div>
          </div>
        </div>
      </div>
      <p>
        Prénom mickael Nom aubourg E-mail maubourg42300@gmail.com
        Téléphone 0609874709 Votre message Bonjour,
        je souhaite faire un site internet et une boutique en ligne.
        j'aurai
      </p>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body read">
              <h4>#32</h4>
              reçue le 08/08/2016 à 12h47
              <span>Intitulé du formulaire</span>
            </div>
          </div>
        </div>
      </div>
      <p>
        Prénom mickael Nom aubourg E-mail maubourg42300@gmail.com
        Téléphone 0609874709 Votre message Bonjour,
        je souhaite faire un site internet et une boutique en ligne.
        j'aurai
      </p>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body not-read">
              <h4>#32</h4>
              reçue le 08/08/2016 à 12h47
              <span>Intitulé du formulaire</span>
            </div>
          </div>
        </div>
      </div>
      <p>
        Prénom mickael Nom aubourg E-mail maubourg42300@gmail.com
        Téléphone 0609874709 Votre message Bonjour,
        je souhaite faire un site internet et une boutique en ligne.
        j'aurai
      </p>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body not-read">
              <h4>#32</h4>
              reçue le 08/08/2016 à 12h47
              <span>Intitulé du formulaire</span>
            </div>
          </div>
        </div>
      </div>
      <p>
        Prénom mickael Nom aubourg E-mail maubourg42300@gmail.com
        Téléphone 0609874709 Votre message Bonjour,
        je souhaite faire un site internet et une boutique en ligne.
        j'aurai
      </p>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body read">
              <h4>#32</h4>
              reçue le 08/08/2016 à 12h47
              <span>Intitulé du formulaire</span>
            </div>
          </div>
        </div>
      </div>
      <p>
        Prénom mickael Nom aubourg E-mail maubourg42300@gmail.com
        Téléphone 0609874709 Votre message Bonjour,
        je souhaite faire un site internet et une boutique en ligne.
        j'aurai
      </p>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body read">
              <h4>#32</h4>
              reçue le 08/08/2016 à 12h47
              <span>Intitulé du formulaire</span>
            </div>
          </div>
        </div>
      </div>
      <p>
        Prénom mickael Nom aubourg E-mail maubourg42300@gmail.com
        Téléphone 0609874709 Votre message Bonjour,
        je souhaite faire un site internet et une boutique en ligne.
        j'aurai
      </p>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body not-read">
              <h4>#32</h4>
              reçue le 08/08/2016 à 12h47
              <span>Intitulé du formulaire</span>
            </div>
          </div>
        </div>
      </div>
      <p>
        Prénom mickael Nom aubourg E-mail maubourg42300@gmail.com
        Téléphone 0609874709 Votre message Bonjour,
        je souhaite faire un site internet et une boutique en ligne.
        j'aurai
      </p>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body read">
              <h4>#32</h4>
              reçue le 08/08/2016 à 12h47
              <span>Intitulé du formulaire</span>
            </div>
          </div>
        </div>
      </div>
      <p>
        Prénom mickael Nom aubourg E-mail maubourg42300@gmail.com
        Téléphone 0609874709 Votre message Bonjour,
        je souhaite faire un site internet et une boutique en ligne.
        j'aurai
      </p>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body read">
              <h4>#32</h4>
              reçue le 08/08/2016 à 12h47
              <span>Intitulé du formulaire</span>
            </div>
          </div>
        </div>
      </div>
      <p>
        Prénom mickael Nom aubourg E-mail maubourg42300@gmail.com
        Téléphone 0609874709 Votre message Bonjour,
        je souhaite faire un site internet et une boutique en ligne.
        j'aurai
      </p>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body read">
              <h4>#32</h4>
              reçue le 08/08/2016 à 12h47
              <span>Intitulé du formulaire</span>
            </div>
          </div>
        </div>
      </div>
      <p>
        Prénom mickael Nom aubourg E-mail maubourg42300@gmail.com
        Téléphone 0609874709 Votre message Bonjour,
        je souhaite faire un site internet et une boutique en ligne.
        j'aurai
      </p>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body not-read">
              <h4>#32</h4>
              reçue le 08/08/2016 à 12h47
              <span>Intitulé du formulaire</span>
            </div>
          </div>
        </div>
      </div>
      <p>
        Prénom mickael Nom aubourg E-mail maubourg42300@gmail.com
        Téléphone 0609874709 Votre message Bonjour,
        je souhaite faire un site internet et une boutique en ligne.
        j'aurai
      </p>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body not-read">
              <h4>#32</h4>
              reçue le 08/08/2016 à 12h47
              <span>Intitulé du formulaire</span>
            </div>
          </div>
        </div>
      </div>
      <p>
        Prénom mickael Nom aubourg E-mail maubourg42300@gmail.com
        Téléphone 0609874709 Votre message Bonjour,
        je souhaite faire un site internet et une boutique en ligne.
        j'aurai
      </p>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body not-read">
              <h4>#32</h4>
              reçue le 08/08/2016 à 12h47
              <span>Intitulé du formulaire</span>
            </div>
          </div>
        </div>
      </div>
      <p>
        Prénom mickael Nom aubourg E-mail maubourg42300@gmail.com
        Téléphone 0609874709 Votre message Bonjour,
        je souhaite faire un site internet et une boutique en ligne.
        j'aurai
      </p>
    </div>
  </div>
  <div class="post-content answer-detail">
    <div class="answer-header">
      <p>Le 08/08/2016 à 12h47</p>
      <H1>#9999</H1> Réponse à <a href="#">Intitulé du formulaire</a>
    </div>
    <div class="form-group">
      <label class="control-label">Vous êtes ?</label>
      <p>Un merveilleux prestataire web qui souhaite un contact avec un humain</p>
    </div>
    <div class="form-group">
      <label class="control-label">Prénom</label>
      <p>mickael</p>
    </div>
    <div class="form-group">
      <label class="control-label">Nom</label>
      <p>aubourg</p>
    </div>
    <div class="form-group">
      <label class="control-label">E-mail</label>
      <p>maubourg42300@gmail.com</p>
    </div>
    <div class="form-group">
      <label class="control-label">Téléphone</label>
      <p>0609874709</p>
    </div>
    <div class="form-group">
      <label class="control-label">Votre message</label>
      <p>
      Bonjour, je souhaite faire un site internet et une boutique en ligne.<br/>
      j'aurai eu besoin d'un devis pour les deux avec la formule complète<br/>
      Merci par avance
      </p>
    </div>
    <div class="form-group">
      <label class="control-label">IP | Host</label>
      <p>77.154.204.183 | 183.204.154.77.rev.sfr.net</p>
    </div>
  </div>
  <footer class="post-footer"></footer>
</article>
