<% _(filters).each(function(filter, index){ %>
	<select data-id="<%- index %>" class="<%- filter.selectExtraClassname ? filter.selectExtraClassname : '' %>" data-style="selectify">
		<option value=""><%- filter.title %></option>
		<% if(filter.collection) { %>
		<% _(filter.collection.toJSON()).each(function(option){%>
		<option value="<%- option.value %>" <%= option.selected ? 'selected="selected"' : '' %>><%= indent2Space(option.indent || 0) %><%- option.label %></option>
		<%}) %>
		<% } %>
	</select>
<% }) %>
