<button class="btn btn-secondary dropdown-toggle <%= !isMandatory && current.value ? 'cancel' : '' %>" type="button" id="dropdownMenu<%- id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	<span data-role="label" class="fake-selected"><%- current.label %></span>
</button>
<span data-role="clear" class="md-icon <%= !isMandatory && current.value ? 'md-cancel' : '' %> float-right"></span>
<ul class="dropdown-menu dropdown-control" aria-labelledby="dropdownMenu<%- id %>">
	<li class="dropdown-item">
		<span class="form-group has-feedback">
			<input data-role="input" class="form-control" value="<%- term %>" placeholder="<%- searchPlaceholder %>">
			<span class="md-feedback md-search"></span>
		</span>
	</li>
</ul>
