<article class="post-article">
	<header class="post-header">
		<h1>Lien interne</h1>
	</header>
	<div class="post-content">
		<p>Un lien interne vous permet de faire un lien, depuis un menu, vers une autre page du site Internet.
		</p>
		<div class="row">
			<div class="col-4">
				<div class="form-group">
					<label>Vers quel service ?</label>
					<div data-role="type"></div>
				</div>
			</div>
			<div class="col-8">
				<div class="form-group">
					<label>Vers quelle page ?</label>
					<div data-role="page"></div>
				</div>
			</div>
		</div>
	</div>
	<footer class="post-footer"></footer>
</article>
