<div class="dropdown">
<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span data-role="label" class="fake-selected"><%- label %></span> <span class="caret"></span></button>
	<ul class="dropdown-menu dropdown-control">
		<%_.each(options, function(page){ %>
			<% if (!page.is_selectable) { %>
				<li data-value="<%- page.value %>" class="page-level-<%= page.indent %> "><span data-role="selectabe" class="dropdown-item disabled <%= (page.value == selected) ? 'active' : '' %>"><%- page.label %><% if(page.is_positionnable) { %><span class="md-icon md-before page-position"></span><span class="md-icon md-after page-position"></span><% } %></span></li>
			<% } else { %>
				<li data-value="<%- page.value %>" class="page-level-<%= page.indent %> <%= (page.value == selected) ? 'active' : '' %>"><a class="dropdown-item" data-role="selectabe" href="#"><%- page.label %><% if(page.is_positionnable) { %><span class="md-icon md-before page-position"></span><span class="md-icon md-after page-position"></span><% } %></a></li>
			<% } %>
		<% }) %>
	</ul>
</div>
