<article class="post-article <%- extraClassname %>">
	<header class="post-header">
		<h1><%- title %> <span data-role="counter"></span><span data-role="quota" class="letter-counter"></span></h1>

		<div class="row no-gutters">

			<% if(selection && selection.length) { %>
			<div class="col-auto checkbox-options">

				<input id="selection_all" name="selection_all" value="1" type="checkbox">
				<label for="selection_all"><span class="btn btn-secondary" data-role="select-all">Tout sélectionner</span></label>

				<div class="btn-group m-0 d-none" role="group">
					<div class="dropdown">
						<button type="button" class="btn btn-secondary dropdown-toggle btn-bulk-action" data-role="bulk-action"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="fake-selected">Plus d'actions</span>
						</button>
						<ul class="dropdown-menu">
							<% _(selection).each(function(item, i){ %>
							<li class="<%- item.className %>"><a class="dropdown-item" href="#" data-role="action" data-id="<%- i %>"><%- item.title %></a></li>
							<% }) %>
						</ul>
					</div>
				</div>
			</div>
			<% } %>

			<div class="col filters-options">
				<span data-role="filters"></span>
			</div>

			<div class="col-auto sort-options">
				<span data-role="xtra"></span>
			</div>

		</div>


	</header>
	<div data-role="list"></div>
	<div data-role="detail"></div>

	<div data-role="loading" class="text-center" style="display:none">
		<div class="loader spinner-border text-muted" role="status">
		  <span class="sr-only">Chargement...</span>
		</div>
	</div>
	<div data-role="new"></div>
	<footer class="post-footer"></footer>
</article>
