<button class="btn btn-secondary dropdown-toggle <%= current.valuen || canDelete ? 'reset-toogle' : '' %>" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	<span data-role="label" class="fake-selected"><%- current.label %></span>
</button>
<span data-role="feedback" class="md-icon <%= current.value || canDelete ? 'md-cancel' : '' %> float-right"></span>
<ul class="dropdown-menu dropdown-control dropdown-control-lg">
	<li class="dropdown-item">
		<span class="form-group has-feedback">
			<input data-role="input" class="form-control" value="<%- term %>" placeholder="<%- searchPlaceholder %>">
			<span class="md-feedback md-search"></span>
		</span>
	</li>
</ul>
