<div class="input-group">
	<div class="input-group-prepend">
		<span class="input-group-text"><%- prependText[0] %></span>
	</div>
	<input class="form-control" name="min" value="" placeholder="<%- title %>">
	<div class="input-group-prepend">
		<span class="input-group-text" style="border-left: none"><%- prependText[1] %></span>
	</div>

	<input class="form-control" name="max" value="" placeholder="<%- title %>">
	<div class="input-group-append">
		<span class="input-group-text"><span data-role="feedback" class="md-icon float-right <%- extraClassname %>"></span></span>
	</div>
</div>
