<form style="display: none;" data-role="new">
	
	<div class="list-item">

		<div class="alert alert-danger" data-role="errors" role="alert" style="display: none;"></div>

		<div class="form-group">
			<label class="control-label">Affichage</label>
			<div class="radio-group">
				<input name="is_enabled" id="f_<%- link_id %>_is_enabled1" value="1" type="radio">
				<label for="f_<%- link_id %>_is_enabled1" class="visible">Visible</label>
				<input name="is_enabled" id="f_<%- link_id %>_is_enabled0" value="0" type="radio" checked="checked">
				<label for="f_<%- link_id %>_is_enabled0" class="not-visible">Masqué</label>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label required" for="f_<%- link_id %>_name">Intitulé</label>
			<input class="form-control" id="f_<%- link_id %>_name" name="name" value="" placeholder="Intitulé du lien tel qu'il apparaitra dans le blogroll" type="text">
		</div>
		<div class="form-group">
			<label class="control-label required" for="f_<%- link_id %>_url">Adresse</label>
			<input class="form-control" id="f_<%- link_id %>_url" name="url" value="" placeholder="Adresse du lien sous la forme http://www.adresse-du-lien.com/" type="text">
		</div>
		<div class="form-group">
			<label class="control-label" for="f_<%- link_id %>_description">Description</label>
			<input class="form-control" id="f_<%- link_id %>_description" name="description" value="" placeholder="Description telle qu'elle apparaitra dans l'attribut title du lien" type="text">
		</div>
		
		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-cancel" data-role="action" data-action="cancel">Annuler</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-action" data-role="action" data-action="save">Enregistrer</button>
			</div>
		</div>

	</div>

</form>
	
<div class="list-item no-hover"><a href="#" data-role="action" data-action="show">Ajouter un blogroll</a></div>
