<article data-role="list"></article>

<!--Filtres-->

<div class="modal fade" id="filtersblog" tabindex="-1" role="dialog" aria-labelledby="filtersblog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close md-icon md-cancel" data-dismiss="modal" aria-label="Close"></button>
				<h4 class="modal-title" id="myModalLabel">Ajouter des filtres avancés</h4>
			</div>
			<div class="modal-body">
				<article class="post-article">
					<div class="post-content post-list list-item-form">
						<div class="list-item">
							<div class="row">
								<div class="col-3">
									<div class="form-group has-feedback">
										<label class="sr-only" for="exmemple3">Intitulé de la page</label>
										<select class="form-control" ic="exmemple3">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
										<div class="md-feedback md-select"></div>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group">
										<label class="sr-only" for="exmemple1">Intitulé de la page</label>
										<input class="form-control" id="exmemple1" placeholder="Texte par défaut" type="text">
									</div>
								</div>
								<div class="col-4">
									<div class="form-group">
										<label class="sr-only" for="exmemple1">Intitulé de la page</label>
										<input class="form-control" id="exmemple1" placeholder="Texte par défaut" type="text">
									</div>
								</div>
								<div class="col-1"><a href="#" class="md-icon md-delete float-right"></a>
								</div>
							</div>
						</div>
						<div class="list-item">
							<div class="row">
								<div class="col-3">
									<div class="form-group has-feedback">
										<label class="sr-only" for="exmemple3">Intitulé de la page</label>
										<select class="form-control" ic="exmemple3">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
										<div class="md-feedback md-select"></div>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group">
										<label class="sr-only" for="exmemple1">Intitulé de la page</label>
										<input class="form-control" id="exmemple1" placeholder="Texte par défaut" type="text">
									</div>
								</div>
								<div class="col-4">
									<div class="form-group">
										<label class="sr-only" for="exmemple1">Intitulé de la page</label>
										<input class="form-control" id="exmemple1" placeholder="Texte par défaut" type="text">
									</div>
								</div>
								<div class="col-1"><a href="#" class="md-icon md-delete float-right"></a>
								</div>
							</div>
						</div>
						<div class="list-item"> <a href="">Ajouter un filtre</a> </div>
					</div>
					<footer class="post-footer"></footer>
				</article>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-lg btn-primary btn-cancel" data-dismiss="modal">Fermer</button>
				<button type="button" class="btn btn-lg btn-success btn-save">Valider</button>
			</div>
		</div>
	</div>
</div>

<footer class="footer"> </footer>
