<header class="post-header no-border">
	<h1>Type de billet</h1>
</header>
<div class="post-content">
	<div class="post-group">
		<div class="form-group">
			<p>Le type de billet détermine si des informations complémentaires peuvent être ajoutées au billet :</p>
			<div class="row">
				<div class="col-6">
					<select id="type" name="type" data-style="selectify">
						<% _(types).each(function(item){ %>
							<option value="<%- item.type %>" <%= (item.type == type) ? 'selected="selected"':''  %>><%- item.name %></option>
							<% }) %>
						</select>
					</div>
				</div>
			</div>
		</div>
	<% if (!fields || fields.length == 0) { %>
	<p class="hidden"><em>Pas d'information complémentaire...</em></p>
	<% } %>
	<% _(fields).each(function(field){ %>

		<% switch(field.type){ case 'text': %>
		<div class="form-group">
			<label for="<%- field.field %>"><%- field.name %></label>
			<input class="form-control" id="<%- field.field %>" name="<%- field.field %>" value="<%- post.get(field.field) %>">
		</div>
		<% break; case 'textarea': %>
		<div class="form-group" data-behavior="countable">
			<span class="letter-counter"></span>
			<label for="<%- field.field %>"><%- field.name %></label>
			<textarea class="form-control" id="<%- field.field %>" name="<%- field.field %>" rows="5"><%- post.get(field.field) %></textarea>
		</div>
		<% break; case 'wysiwyg': %>
		<div class="form-group">
			<label for="<%- field.field %>"><%- field.name %></label>
			<textarea class="form-control" id="<%- field.field %>" name="<%- field.field %>" data-role="wysiwyg" rows="21"><%- post.get(field.field) %></textarea>
		</div>
		<% break; case 'select': %>
		<label for="<%- field.field %>"><%- field.name %></label>
		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<select id="<%- field.field %>" name="<%- field.field %>" data-style="selectify">
						<% _(field.options).each(function(option){ %>
						<option value="<%- option.value %>" <%= (option.value == post.get(field.field)) ? 'selected="selected"':''  %>><%- option.name %></option>
						<% }) %>
					</select>
				</div>
			</div>
		</div>
		<% break; case 'image':case 'file': %>
		<div data-role="filepicker-<%- field.field %>"></div>
		<% break;} %>

	<% }) %>
</div>
<footer class="post-footer"></footer>
