<form>

	<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

<article class="post-article">
	<header class="post-header">
		<h1>Commentaires</h1>
	</header>
	<div class="post-content">
		<div class="form-group">
			<label class="control-label" for="">Commentaires ouverts</label>
			<div class="radio-group">
				<input name="comments_allowed" id="comments_allowed1" value="1" <%= comments_allowed ? 'checked="checked"' : '' %> type="radio">
				<label for="comments_allowed1">Oui</label>
				<input name="comments_allowed" id="comments_allowed0" value="0" <%= !comments_allowed ? 'checked="checked"' : '' %> type="radio">
				<label for="comments_allowed0">Non</label>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="">Autoriser les commentaires anonymes</label>
			<div class="radio-group">
				<input name="comments_anonymous" id="comments_anonymous1" value="1" <%= comments_anonymous ? 'checked="checked"' : '' %> type="radio">
				<label for="comments_anonymous1">Oui</label>
				<input name="comments_anonymous" id="comments_anonymous0" value="0" <%= !comments_anonymous ? 'checked="checked"' : '' %> type="radio">
				<label for="comments_anonymous0">Non</label>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="">Publication immédiate des commentaires</label>
			<div class="radio-group">
				<input name="comments_autopublish" id="comments_autopublish1" value="1" <%= comments_autopublish ? 'checked="checked"' : '' %> type="radio">
				<label for="comments_autopublish1">Oui</label>
				<input name="comments_autopublish" id="comments_autopublish0" value="0" <%= !comments_autopublish ? 'checked="checked"' : '' %> type="radio">
				<label for="comments_autopublish0">Non</label>
			</div>
		</div>
	</div>
	<footer class="post-footer"></footer>
</article>

<article class="post-article">
	<header class="post-header">
		<h1>Captcha</h1>
	</header>
	<div class="post-content">
		<p>Le "captcha" est une sorte d'anti-spam pour se prémunir contre l'usage
			abusif des commentaires : un champ de validation requiert de l'internaute
			qu'il réponde à une question aléatoirement posée pour poster un nouveau commentaire.
		</p>
		<div class="form-group">
			<label class="control-label" for="">Utilisation du captcha</label>
			<div class="radio-group">
				<input name="comments_captcha" id="comments_captcha1" value="1" <%= comments_captcha ? 'checked="checked"' : '' %> type="radio">
				<label for="comments_captcha1" class="visible">Activé</label>
				<input name="comments_captcha" id="comments_captcha0" value="0" <%= !comments_captcha ? 'checked="checked"' : '' %> type="radio">
				<label for="comments_captcha0" class="not-visible">Désactivé</label>
			</div>
		</div>
	</div>
	<footer class="post-footer"></footer>
</article>

<article class="post-article">
	<header class="post-header">
		<h1>Syndication</h1>
	</header>
	<div class="post-content">
		<p>En activant la syndication, les internautes vont pouvoir s’abonner aux flux RSS et/ou Atom du blog.</p>
		<div class="form-group">
			<label class="control-label">Utilisation</label>
			<div class="radio-group">
				<input name="is_rss_enabled" id="is_rss_enabled1" value="1" <%= is_rss_enabled ? 'checked="checked"' : '' %> type="radio">
				<label for="is_rss_enabled1" class="visible">Activé</label>
				<input name="is_rss_enabled" id="is_rss_enabled0" value="0" <%= !is_rss_enabled ? 'checked="checked"' : '' %> type="radio">
				<label for="is_rss_enabled0" class="not-visible">Désactivé</label>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="rss_post_count">Nombre de billets inclus dans le flux</label>
			<div class="row">
				<div class="col-xs-2">
					<input id="rss_post_count" name="rss_post_count" class="form-control" value="<%- rss_post_count %>" placeholder="max. 15">
				</div>
			</div>
		</div>
	</div>
	<footer class="post-footer"></footer>
</article>

</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-action btn-save pull-right" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"> </footer>
