<h2>Blog</h2>
<ul class="nav nav-sidebar flex-column">
	<li class="nav-item"><a class="nav-link" href="/blog"><span class="badge"><%- overview.posts_count %></span>Tous les billets</a></li>
	<li class="nav-item"><a class="nav-link" href="/blog/comments">Commentaires</a></li>
	<li class="nav-item"><a class="nav-link" href="/blog/links">Blogroll</a></li>
	<li class="nav-item"><a class="nav-link" href="/blog/settings">Paramètres</a></li>
</ul>

<h2>Catégories</h2>

<a href="#" data-role="category-add" class="page-add md-icon md-add-page" title="Ajouter une catégorie"></a>

<ul class="nav nav-sidebar flex-column">
	<% if(is_loaded) { %>
	<li class="nav-item <%= home.is_visible ? '' :'pagetype-visibility-off' %>"><a class="nav-link" href="/blog/home"><span class="md-icon"></span><%- home.name %></a></li>
	<% _.each(categories, function(model) { %>
	<li class="nav-item <%= model.is_visible ? '' :'pagetype-visibility-off' %>"><a class="nav-link" href="/blog/categories/<%- model.category_id %>"><span class="md-icon"></span><%- model.name %></a></li>
	<% })} %>
</ul>
