<div class="alert alert-warning" role="alert">
	<a href="https://aide.kiubi.com/documentation/marketing-et-referencement/remises-catalogue-b2b.html"
	   class="md-icon md-help pull-right" target="_blank"></a>
	Les remises définies pour un membre <strong>se substituent aux remises du groupe extranet</strong>.
</div>

<form>

	<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

	<article class="post-article">
		<header class="post-header">
			<h1>Remise sur tous les produits</h1>
		</header>
		<div class="post-content">
			<% if (group_discount != '' ) { %>
			<p>Ce membre fait partie du groupe extranet <strong>"<%- group_name %>"</strong> et profite d'une remise de
				<strong><%- group_discount %>%</strong> sur l'ensemble des produits du catalogue.
				Vous pouvez changer cette remise, uniquement pour ce membre.
			</p>
			<% } %>

			<div class="row">
				<div class="col-xs-3">
					<div class="form-group has-feedback">
						<label class="control-label" for="discount">Remise appliquée</label>
						<input class="form-control" id="discount" name="discount" value="<%- discount %>" placeholder="<%- group_discount %>">
						<span class="form-control-feedback md-percent"></span>
					</div>
				</div>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

	<article class="post-article">
		<header class="post-header">
			<h1>Remises par catégories</h1>
		</header>
		<div class="post-content post-list">
			<p>En complément de la remise sur tous les produits, ce membre peut bénéfichier
				en fonction de son groupe extranet de remises par catégories de produits.
				<strong>Ces remises remplacent la remise</strong> sur tous les produits pour les catégories
				sélectionnées.
				Vous pouvez changer ou ajouter des remises supplémentaires,
				uniquement pour ce membre.
			</p>

			<div class="row">
				<div class="col-xs-3"><label class="control-label" for="">Remise appliquée</label>
				</div>
				<div class="col-xs-4"><label class="control-label" for="">Catégorie concernée</label>
				</div>
			</div>

			<div data-role="discounts"></div>

			<div class="list-item no-hover"><a href="#" data-role="discount-add">Ajouter une remise</a></div>
		</div>
		<footer class="post-footer"></footer>
	</article>

</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-action btn-save pull-right" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"></footer>
