<div class="alert alert-warning" role="alert">
	<a href="https://aide.kiubi.com/membres.html#remises-automatiques"
	   class="md-icon md-help float-right" target="_blank"></a>
	Les remises définies pour un membre <strong>se substituent aux remises du groupe extranet</strong>.
</div>

<form>

	<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

	<article class="post-article">
		<header class="post-header">
			<h1>Remise sur tous les produits</h1>
		</header>
		<div class="post-content">
			<% if (group_discount != '' ) { %>
			<p>Ce membre fait partie du groupe extranet <strong>"<%- group_name %>"</strong> et profite d'une remise de
				<strong><%- group_discount %>%</strong> sur l'ensemble des produits du catalogue.
				Vous pouvez changer cette remise, uniquement pour ce membre.
			</p>
			<% } %>

			<div class="row">
				<div class="col-3">

					<div class="form-group">
						<label for="discount">Remise appliquée</label>
						<div class="input-group">
							<div class="input-group-prepend"><span class="input-group-text"></span></div>
							<input class="form-control" id="discount" name="discount" value="<%- discount %>" placeholder="<%- group_discount %>">
							<div class="input-group-append"><span class="input-group-text">%</span></div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

	<article class="post-article">
		<header class="post-header">
			<h1>Remises par catégories</h1>
		</header>
		<div class="post-content post-list">
			<p>En complément de la remise sur tous les produits, ce membre peut bénéfichier
				en fonction de son groupe extranet de remises par catégories de produits.
				<strong>Ces remises remplacent la remise</strong> sur tous les produits pour les catégories
				sélectionnées.
				Vous pouvez changer ou ajouter des remises supplémentaires,
				uniquement pour ce membre.
			</p>

			<div class="row">
				<div class="col-3"><label for="">Remise appliquée</label>
				</div>
				<div class="col-4"><label for="">Catégorie concernée</label>
				</div>
			</div>

			<div data-role="discounts"></div>

			<div class="list-item no-hover"><a href="#" data-role="discount-add"><span class="page-add md-icon md-add-page"></span>Ajouter une remise</a></div>
		</div>
		<footer class="post-footer"></footer>
	</article>

</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"></footer>
