<div class="alert alert-warning" role="alert">
  A chaque ajout de points de fidélité, si un bon de réduction est généré, <strong>le membre en est informé par email</strong>.
  Si vous modifiez le bon de réduction par la suite, <strong>veillez à informer le membre</strong> des nouvelles conditions d'utilisation du bon.
</div>
<article class="post-article">
  <header class="post-header">
    <h1>Points de fidélité</h1>
  </header>
  <div class="post-content post-list">
    <div class="list-item">
      <div class="row">
        <div class="col-xs-5">
          <div class="media">
            <div class="media-body">
              <h4>+100 points</h4>
              Le 25/08/2016 à 18h03
            </div>
          </div>
        </div>
        <div class="col-xs-3"><a href="/checkout/orders/123123">#C1608251</a></div>
        <div class="col-xs-4 text-right">Valide jusqu'au 10/04/2018</div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-5">
          <div class="media">
            <div class="media-body">
              <h4>+100 points</h4>
              Le 25/08/2016 à 18h03
            </div>
          </div>
        </div>
        <div class="col-xs-3">Ajout manuel</div>
        <div class="col-xs-4 text-right">Valide jusqu'au 10/04/2018</div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-5">
          <div class="media">
            <div class="media-body">
              <h4>-50 points</h4>
              Le 25/08/2016 à 18h03
            </div>
          </div>
        </div>
        <div class="col-xs-3">Points retirés</div>
        <div class="col-xs-4 text-right"></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group has-feedback">
            <label class="control-label" for="">Quantité</label>
            <select class="form-control" ic="exmemple3">
              <option value="" selected="selected">Ajouter</option>
              <option value="">Retirer</option>
            </select>
            <div class="form-control-feedback md-feedback md-select"></div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label class="control-label required">&nbsp;</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon3"></span>
              <input class="form-control" value="5" placeholder="0">
              <span class="input-group-addon" id="basic-addon2">point(s)</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label required" for="exmemple1">Commentaire</label>
        <input class="form-control" id="exmemple1" type="text">
      </div>
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-cancel">Annuler</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-action">Enregistrer</button>
        </div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-5">
          <div class="media">
            <div class="media-body">
              <h4>-50 points</h4>
              Le 25/08/2016 à 18h03
            </div>
          </div>
        </div>
        <div class="col-xs-3">Points retirés</div>
        <div class="col-xs-4 text-right"></div>
      </div>
    </div>
  </div>

  <div class="post-content post-list">
    <div class="list-item">
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group has-feedback">
            <label class="control-label" for="">Quantité</label>
            <select class="form-control" ic="exmemple3">
              <option value="" selected="selected">Ajouter</option>
              <option value="">Retirer</option>
            </select>
            <div class="form-control-feedback md-feedback md-select"></div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label class="control-label required">&nbsp;</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon3"></span>
              <input class="form-control" value="5" placeholder="0">
              <span class="input-group-addon" id="basic-addon2">point(s)</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label required" for="exmemple1">Commentaire</label>
        <input class="form-control" id="exmemple1" type="text">
      </div>
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-cancel">Annuler</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-action">Enregistrer</button>
        </div>
      </div>
    </div>
    <div class="list-item no-hover"><a href="">Ajouter/Retirer des points</a></div>
  </div>
  <footer class="post-footer"></footer>
</article>

<footer class="footer"> </footer>
