<div class="row">
	<div class="col-xs-5">
		<div class="media">
			<div class="media-body">
				<h4><%- name %></h4>
				<% if (!is_enabled) { %>
				<span class="text-danger">Bloqué</span>
				<% } else if(target_service) { %>
				<span class="md-icon md-home icon-left"></span><span class="spacer"><%- target_service %></span> <span class="spacer"><%- target_name %></span>
				<% } %>
			</div>
		</div>
	</div>
	<div class="col-xs-2 col-md-3"><a href="/customers/groups/<%- group_id %>"><%- plural(customer_count, '%d membre', '%d membres') %></a></div>
	<div class="col-xs-2"><!-- -15,00% --></div>
	<div class="col-xs-3 col-md-2">
		<div class="btn-group pull-right" role="group"><a class="btn btn-option" href="/customers/groups/<%- group_id %>" role="button">Détail</a>
			<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"><span class="caret"></span> </button>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a href="#" data-role="action" data-action="delete" data-confirm="warning">Supprimer</a></li>
			</ul>
		</div>
	</div>
</div>
