<form>

	<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

	<article class="post-article">
		<header class="post-header">
			<h1>Informations générales</h1>
		</header>
		<div class="post-content">
			<div class="form-group">
				<label class="required" for="name">Intitulé du groupe</label>
				<input class="form-control" id="name" name="name" value="<%- name %>"
					   placeholder="Intitulé permettant d'identifier le groupe" type="text">
			</div>
			<div class="form-group">
				<label>Accès</label>

				<div class="form-check">
					<input name="is_enabled" id="is_enabled1" value="1" type="radio" <%= is_enabled ? 'checked="checked"' : '' %>>
					<label for="is_enabled1" class="visible">Autorisé</label>
					<input name="is_enabled" id="is_enabled0" value="0" type="radio" <%= !is_enabled ? 'checked="checked"' : '' %>>
					<label for="is_enabled0" class="not-visible">Bloqué</label>
				</div>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

	<article class="post-article">
		<header class="post-header">
			<h1>Redirection automatique</h1>
		</header>
		<div class="post-content">
			<p>A la connection au site, les membres du groupe sont automatiquement redirigés vers une page du site, sauf
				s'ils s'y connectent à partir du tunel de commande.
			</p>

			<div class="row">
				<div class="col-3">
					<div class="form-group">
						<label>Vers quel service ?</label>

						<div data-role="type"></div>
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<label>Vers quelle page ?</label>

						<div data-role="page"></div>
					</div>
				</div>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

	<article class="post-article">
		<header class="post-header">
			<h1>Remise sur tous les produits</h1>
		</header>
		<div class="post-content">
			<p>Une remise en pourcentage sur l'ensemble des produits du catalogue peut être
				appliquée automatiquement pour tous les membres du groupe extranet.
				Cette remise change directement l'affichage du prix des produits dans le catalogue et dans le panier
				d'achat.
			</p>

			<div class="row">
				<div class="col-3">

					<div class="form-group">
						<label for="discount">Remise appliquée</label>
						<div class="input-group">
							<div class="input-group-prepend"><span class="input-group-text"></span></div>
							<input class="form-control" id="discount" name="discount" placeholder="0,00" value="<%- discount %>">
							<div class="input-group-append"><span class="input-group-text">%</span></div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

	<article class="post-article">
		<header class="post-header">
			<h1>Remises par catégories</h1>
		</header>
		<div class="post-content post-list">
			<p>
				En complément de la remise sur tous les produits, des remises par catégories de produits
				peuvent être définies pour tous les membres de ce groupe extranet.
				<strong>Ces remises remplacent la remise</strong> sur tous les produits pour les catégories
				sélectionnées.
				Pour en savoir plus sur l'ordre d'application des remises,
				<a href="https://aide.kiubi.com/documentation/marketing-et-referencement/remises-catalogue-b2b.html" target="_blank">consultez l'aide en ligne</a>.
			</p>

			<div class="row">
				<div class="col-3"><label for="">Remise appliquée</label>
				</div>
				<div class="col-4"><label for="">Catégorie concernée</label>
				</div>
			</div>

			<div data-role="discounts"></div>

			<div class="list-item no-hover"><a href="#" data-role="discount-add">Ajouter une remise</a></div>
		</div>
		<footer class="post-footer"></footer>
	</article>

</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-lg btn btn-danger btn-delete" data-role="delete">Supprimer</button>
		<button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"></footer>
