<div class="col-xs-6">
	<div class="form-group has-feedback">
		<label class="control-label" for="groups">Accès réservé aux groupes</label>
		<div class="dropdown" data-role="group">
		<input class="form-control" id="groups" data-toggle="dropdown" placeholder="Recherche des groupes" type="text"><span
			class="form-control-feedback md-feedback md-search"></span>
		<ul class="dropdown-menu dropdown-control"></ul>
		</div>

		<span data-role="groups"></span>
	</div>
</div>
<div class="col-xs-6">
	<div class="form-group has-feedback">
		<label class="control-label" for="customers">Accès réservé aux membres</label>
		<div class="dropdown" data-role="customer">
		<input class="form-control" id="customers" data-toggle="dropdown" placeholder="Recherche des membres" type="text"><span
			class="form-control-feedback md-feedback md-search"></span>
		<ul class="dropdown-menu dropdown-control"></ul>
		</div>

		<span data-role="customers"></span>
	</div>
</div>
