<form>

	<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

	<article class="post-article">
		<header class="post-header">
			<h1>Ouverture de compte</h1>
		</header>
		<div class="post-content">
			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label for="">Ouverture de nouveaux comptes</label>
						<div class="form-check">
							<input name="allow_registration" id="allow_registration1" value="1" <%= allow_registration ? 'checked="checked"' : '' %> type="radio">
							<label for="allow_registration1" class="visible">Autorisée</label>
							<input name="allow_registration" id="allow_registration0" value="0" <%= !allow_registration ? 'checked="checked"' : '' %> type="radio">
							<label for="allow_registration0" class="not-visible">Interdite</label>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<label for="">Identification des membres</label>
						<div class="form-check">
							<input name="allow_login" id="allow_login1" value="1" <%= allow_login ? 'checked="checked"' : '' %> type="radio">
							<label for="allow_login1" class="visible">Autorisée</label>
							<input name="allow_login" id="allow_login0" value="0" <%= !allow_login ? 'checked="checked"' : '' %> type="radio">
							<label for="allow_login0" class="not-visible">Interdite</label>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<label for="validation">Validation de compte</label>
						<select id="validation" name="validation" data-style="selectify">
							<option value="email" <%= validation == "email" ? 'selected="selected"' : '' %>>Par confirmation email</option>
							<option value="captcha" <%= validation == "captcha" ? 'selected="selected"' : '' %>>Par captcha</option>
							<option value="auto" <%= validation == "auto" ? 'selected="selected"' : '' %>>Pas de validation</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

	<% if(enableExtranet) { %>
	<article class="post-article">
		<header class="post-header">
			<h1>Extranet</h1>
		</header>
		<div class="post-content">
			<p>A l'ouverture d'un nouveau compte, vous pouvez automatiquement rattacher le membre à un groupe de l'extranet.</p>
			<div class="row">
				<div class="col-4">
					<div class="form-group">
						<label for="">Groupe extranet par défaut</label>
						<div data-role="groups"></div>
					</div>
				</div>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>
	<% } %>

	<article class="post-article">
		<header class="post-header">
			<h1>Conditions générales d'utilisation</h1>
		</header>
		<div class="post-content">
			<p>Vous pouvez personnaliser les conditions générales d'utilisation du site
				que tous les membres doivent accepter pour se créer un compte.
			</p>
			<div class="form-group">
				<textarea class="form-control" rows="20" placeholder="" name="terms"><%- terms %></textarea>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

	<article class="post-article">
		<header class="post-header">
			<h1>Données personnelles collectées et finalités de traitements</h1>
		</header>
		<div class="post-content">
			<p>
				Vous pouvez personnaliser les informations concernants les données personnelles
				collectées à la création d'un compte ainsi que leurs finalités de traitements.
				Tous les membres devront accepter, pour se créer un compte,
				l'utilisation qui sera faite de leurs données personnelles, si <a href="/prefs/gdpr">la demande de consentement préalable est activée</a>.
			</p>
			<div class="form-group">
				<textarea class="form-control" rows="20" placeholder="" name="processing_purposes"><%- processing_purposes %></textarea>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"> </footer>
