<form>

	<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

	<article class="post-article">
		<header class="post-header">
			<h1>Ouverture de compte</h1>
		</header>
		<div class="post-content">
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label" for="">Ouverture de nouveaux comptes</label>
						<div class="radio-group">
							<input name="allow_registration" id="allow_registration1" value="1" <%= allow_registration ? 'checked="checked"' : '' %> type="radio">
							<label for="allow_registration1" class="visible">Autorisée</label>
							<input name="allow_registration" id="allow_registration0" value="0" <%= !allow_registration ? 'checked="checked"' : '' %> type="radio">
							<label for="allow_registration0" class="not-visible">Interdite</label>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label" for="">Identification des membres</label>
						<div class="radio-group">
							<input name="allow_login" id="allow_login1" value="1" <%= allow_login ? 'checked="checked"' : '' %> type="radio">
							<label for="allow_login1" class="visible">Autorisée</label>
							<input name="allow_login" id="allow_login0" value="0" <%= !allow_login ? 'checked="checked"' : '' %> type="radio">
							<label for="allow_login0" class="not-visible">Interdite</label>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group has-feedback">
						<label class="control-label" for="validation">Validation de compte</label>
						<select class="form-control" id="validation" name="validation">
							<option value="email" <%= validation == "email" ? 'selected="selected"' : '' %>>Par confirmation email</option>
							<option value="captcha" <%= validation == "captcha" ? 'selected="selected"' : '' %>>Par catpcha</option>
							<option value="auto" <%= validation == "auto" ? 'selected="selected"' : '' %>>Pas de validation</option>
						</select>
						<div class="form-control-feedback md-feedback md-select"></div>
					</div>
				</div>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

	<article class="post-article">
		<header class="post-header">
			<h1>Extranet</h1>
		</header>
		<div class="post-content">
			<p>A l'ouverture d'un nouveau compte, vous pouvez automatiquement rattacher le membre à un groupe de l'extranet.</p>
			<div class="row">
				<div class="col-xs-4">
					<div class="form-group has-feedback">
						<label class="control-label" for="">Groupe extranet par défaut</label>
						<select data-role="groups"></select>
						<div class="form-control-feedback md-feedback md-select"></div>
					</div>
				</div>
				<div class="col-xs-offset-2 col-xs-4">
					<div class="form-group">
						<label class="control-label" for="">Utilisation de l'extranet </label>
						<div class="radio-group">
							<input name="captcha" id="captcha1" value="option1" checked="checked" type="radio">
							<label for="captcha1" class="visible">Activé</label>
							<input name="captcha" id="captcha0" value="option1" type="radio">
							<label for="captcha0" class="not-visible">Désactivé</label>
						</div>
					</div>
				</div>
			</div>

		</div>
		<footer class="post-footer"></footer>
	</article>

	<article class="post-article">
		<header class="post-header">
			<h1>Conditions générales d'utilisation</h1>
		</header>
		<div class="post-content">
			<p>Vous pouvez personnaliser les conditions générales d'utilisation du site
				que tous les membres doivent accepter pour se créer un compte.
			</p>
			<div class="form-group">
				<textarea class="form-control" rows="20" placeholder="Placeholder du contenu" name="terms"><%- terms %></textarea>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-action btn-save pull-right" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"> </footer>
