<div class="alert alert-warning" role="alert">
  <a href="https://aide.kiubi.com/documentation/Commandes/etat-des-commandes.html" class="md-icon md-help pull-right" target="_blank"></a>
  Les commandes listées ici peuvent correspondre à deux cas de figures :<br/><br/>
  <ol>
    <li>Les commandes abandonnées par les clients qui ne sont jamais allés au bout du processus de paiement en ligne (hors chèque et virement)
    </li>
    <li>Les commandes que les clients ont bien payées mais qui ont rencontré un problème temporaire qui
      a empeché votre fournisseur de moyen de paiement d'informer Kiubi que le paiement a bien été effectué.
      Vous avez donc un crédit sur votre compte bancaire qui ne se correspond à aucune commande "À traiter"
    </li>
  </ol>
  <br/>
  Vous seul pouvez distinguer le cas n°1 du cas n°2. Cette page vous permet de réintégrer les commandes
  du cas n°2 dans la liste des commandes "À traiter" <strong><span class="text-uppercase">uniquement si</span> vous avez bien reçu leur paiement sur votre compte bancaire</strong>.
</div>

<article class="post-article">
  <header class="post-header">
    <h1>Liste des commandes</h1>
  </header>
  <div class="post-content post-list">
    <div class="list-item">
      <div class="row">
        <div class="col-xs-5">
          <div class="media">
            <div class="media-body">
              <h4>C1608251</h4>
              Le 25/08/2016 à 18h03 par <a href="#">Marc BEYER</a>
            </div>
          </div>
        </div>
        <div class="col-xs-3"><span class="label label-paid">Payée</span></div>
        <div class="col-xs-2">
          <span class="price">20,00€<br/>Total TTC</span>
        </div>
        <div class="col-xs-2"><a class="btn btn-option pull-right" href="http://www.google.com" role="button">Réintégrer</a></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-5">
          <div class="media">
            <div class="media-body">
              <h4>C1608251</h4>
              Le 25/08/2016 à 18h03 par <a href="#">Marc BEYER</a>
            </div>
          </div>
        </div>
        <div class="col-xs-3"><span class="label label-payable">À payer</span></div>
        <div class="col-xs-2">
          <span class="price">20,00€<br/>Total TTC</span>
        </div>
        <div class="col-xs-2"><a class="btn btn-option pull-right" href="http://www.google.com" role="button">Réintégrer</a></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-5">
          <div class="media">
            <div class="media-body">
              <h4>C1608251</h4>
              Le 25/08/2016 à 18h03 par <a href="#">Marc BEYER</a>
            </div>
          </div>
        </div>
        <div class="col-xs-3"><span class="label label-paid">Payée</span></div>
        <div class="col-xs-2">
          <span class="price">20,00€<br/>Total TTC</span>
        </div>
        <div class="col-xs-2"><a class="btn btn-option pull-right" href="http://www.google.com" role="button">Réintégrer</a></div>
      </div>
    </div>
  </div>
  <footer class="post-footer"></footer>
</article>
