<div class="row no-gutters">
	<div class="col item-body">
		<h4>#<%- reference %> </h4>
		<%- creation_date %>
	</div>
	<div class="col-5">
		<span>
			<% if(customer_id) { %>
				<a href="/customers/<%- customer_id %>"><%- billing_address.firstname %> <%- billing_address.lastname %></a>
			<% } else { %>
				<%- billing_address.firstname %> <%- billing_address.lastname %>
			<% } %>

			<% if(shipping.type == 'pickup') { %><br/>
					<% if(shipping.scheduled) { %>
							 Retrait le <%- scheduled_date %>
					<% } else { %>
							<%- shipping.name %>
					<% } %>
			<% } else if(shipping.scheduled) { %><br/>
					À livrer le <%- scheduled_date %>
			<% } %>
		</span>
	</div>
	<div class="col-2">
		<% if (payment_status === 'refused') {%>
		<span class="badge badge-danger">
			 Paiement refusé
		</span>
		<%} %>
	</div>
	<div class="col-1 text-nowrap">
		<span class="price"><%- price_total_inc_vat_label %> TTC<br/></span>
	</div>
	<div class="col-auto">
		<a class="btn btn-primary float-right" data-role="action" data-action="restore" data-confirm="warning" href="#" role="button">Réintégrer</a>
	</div>
</div>
