<div class="alert alert-warning" role="alert">
  <a href="https://aide.kiubi.com/documentation/Commandes/etat-des-commandes.html" class="md-icon md-help float-right" target="_blank"></a>
  Les commandes abandonnées peuvent correspondre à deux cas de figures :<br/><br/>
  <ol>
    <li>Les commandes abandonnées par les clients qui ne sont jamais allés au bout du processus de paiement en ligne (hors chèque et virement)
    </li>
    <li>Les commandes qui ont bien été payées mais qui ont rencontré un problème temporaire qui
      a empêché le fournisseur de moyen de paiement d'informer Kiubi que le paiement a bien été effectué.
      Vous avez donc un crédit sur votre compte bancaire qui ne se correspond à aucune commande "À traiter"
    </li>
  </ol>
  Vous seul pouvez distinguer le cas n°1 du cas n°2. Cette page vous permet de réintégrer les commandes
  du cas n°2 dans la liste des commandes "À traiter" <strong><span class="text-uppercase">uniquement si</span> vous avez bien reçu leur paiement sur votre compte bancaire</strong>.
</div>

<article data-role="list"></article>
