<div class="alert alert-warning" role="alert">
  Vous pouvez créer et activer plusieurs transporteurs : <strong>le retrait en boutique</strong>,
  les solutions <strong>Colissimo Entreprise de la Poste</strong> et
  des transporteurs personnalisés pour des <strong>livraisons nationales</strong> (par pays)
  ou pour des <strong>livraisons locales</strong> (par codes postaux).
</div>

<article class="post-article">
  <header class="post-header">
    <h1>Liste des transporteurs</h1>
  </header>
  <div class="post-content post-list">
    <div class="list-item">
      <div class="row">
        <div class="col-xs-7">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>Retrait en boutique</h4>
              Commande à récupérer à l'adresse de la boutique
            </div>
          </div>
        </div>
        <div class="col-xs-2"><span class="label label-enable">Activé</span></div>
        <div class="col-xs-3"><a class="btn btn-option pull-right" href="/checkout/carriers/shop" role="button">Détail</a></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-7">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>Colissimo Entreprise de la Poste</h4>
              Options de livraison multiples (points relais, sur rendez-vous, etc.)
            </div>
          </div>
        </div>
        <div class="col-xs-2"><span class="label label-disable">Désactivé</span></div>
        <div class="col-xs-3"><a class="btn btn-option pull-right" href="/checkout/carriers/laposte" role="button">Détail</a></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-7">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>Colissimo (envoi standard)</h4>
              Commande envoyée à l'adresse de livraison (nationale)
            </div>
          </div>
        </div>
        <div class="col-xs-2"><span class="label label-enable">Par défaut</span></div>
        <div class="col-xs-3">
          <div class="btn-group pull-right" role="group"> <a class="btn btn-option" href="/checkout/carriers/1234" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span>  </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-7">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>Livraison locale</h4>
              Commande envoyée à l'adresse de livraison (locale)
            </div>
          </div>
        </div>
        <div class="col-xs-2"><span class="label label-enable">Par défaut</span></div>
        <div class="col-xs-3">
          <div class="btn-group pull-right" role="group"> <a class="btn btn-option" href="/checkout/carriers/local/1234" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span>  </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="post-footer"></footer>
</article>
