<div class="alert alert-warning" role="alert">
  <a href="https://aide.kiubi.com/transporteurs.html" class="md-icon md-help float-right"
     target="_blank"></a>
  Vous pouvez utiliser plusieurs transporteurs : <strong>le retrait en magasin</strong> pour le Click & Collect,
  les solutions de <strong>Colissimo La Poste</strong>, de <strong>DPD Relais Pickup</strong>, de <strong>Mondial Relay</strong> et
  des transporteurs personnalisés pour des <strong>livraisons nationales</strong> (par pays)
  ou <strong>locales</strong> (par codes postaux).
</div>

<article data-role="list"></article>
