		<div class="row no-gutters">
			<div class="col-auto"><a href="#" class="md-icon md-drag btn-drag"></a></div>
			<div class="col item-body">
		<h4><%- name %></h4>
		<% if(is_supported) { %>
			<%- type_label %>
		<% } else { %>
			<span class="text-danger">Transporteur non supporté : <%- type %></span>
		<% } %>
	</div>
	<div class="col-4">
		<% if(is_default) { %>
			<span class="badge badge-success">Par défaut</span>
		<% } else if (is_enabled) { %>
			<span class="badge badge-success">Activé</span>
		<% } else { %>
			<span class="badge badge-danger">Désactivé</span>
		<% } %>
	</div>
	<div class="col-auto">
		<% if(is_supported) { %>
			<% if (is_deletable) { %>
				<div class="btn-group float-right" role="group"><a class="btn btn-primary" href="/checkout/carriers/<%- carrier_id %>" role="button">Détail</a>
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a class="dropdown-item" href="#" data-role="action" data-action="delete" data-confirm="warning">Supprimer</a></li>
					</ul>
				</div>
			<% } else { %>
				<a class="btn btn-primary float-right" href="/checkout/carriers/<%- carrier_id %>" role="button">Détail</a>
			<% } %>
		<% } %>
	</div>
</div>
