<form>

	<% if(type == 'socolissimo') { %>
	<article class="post-article">
		<header class="post-header">
			<h1>Conditions préalables</h1>
		</header>
		<div class="post-content">
			<p>
				Colissimo Entreprise est une solution de livraison multiples (points relais, sur rendez-vous, etc.) de la Poste. Pour plus d'informations,
				<a href="https://www.colissimo.entreprise.laposte.fr/fr" target="_blank">rendez-vous sur le site officiel</a>
				ou contactez un conseiller la Poste au 3634.
			</p>
			<p>Afin de configurer correctement ce mode de livraison vous devez :</p>
			<ol>
				<li>
					Allez sur le site de la Poste et <a href="https://www.colissimo.entreprise.laposte.fr/fr" target="_blank">
					vous ouvrir un compte</a>
				</li>
				<li>
					Configurez l'outil de gestion de compte fourni par la Poste en indiquant les URL de retour sur le site marchand :
					<br/><br/>
					Lorsque le client a sélectionné son mode de livraison (Validation) :
					<br/>
					<strong><%- domain %>/ecommerce/socolissimo.html</strong>
					<br/><br/>
					Lorsque le client n'a pas pu sélectionner son mode de livraison (Echec) :
					<br/>
					<strong><%- domain %>/ecommerce/socolissimo.html</strong>
					<br/><br/>
				</li>
				<li>
					Complètez le formulaire ci-dessous et activez le transporteur
				</li>
			</ol>
			<p>
				<strong class="text-danger">Il est indispensable d'effectuer au moins une commande avec ce transporteur</strong> sur le site pour tester son bon fonctionnement.
			</p>
		</div>
		<footer class="post-footer"></footer>
	</article>
	<% } else { %>
	<div class="alert alert-warning" role="alert">
		<a href="https://aide.kiubi.com/documentation/Commandes/frais-de-port.html" class="md-icon md-help float-right"
		   target="_blank"></a>
		<% if(type == 'tranchespoids') { %>
		Un transporteur est défini pour une livraison à l'adresse indiquée dans une commande.
		Les frais de port sont calculés en fonction du <strong>pays</strong> de livraison, par <strong>tranche de
		poids</strong>.
		<% } else if(type == 'magasin') { %>
		Le retrait en boutique est disponible pour défaut pour toutes les commandes. Le retrait en boutique est <strong>
		toujours gratuit</strong>.
		<% } else if(type == 'local') { %>
		Un transporteur local est défini pour une livraison à l'adresse indiquée dans une commande.
		Les frais de port sont calculés en fonction du <strong>code postal</strong> de livraison, par <strong>tranche de
		poids</strong>.
		<% } %>
	</div>
	<% } %>

	<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

	<article class="post-article">
		<header class="post-header">
			<h1>Informations générales</h1>
		</header>
		<div class="post-content">
			<div class="form-group">
				<label class="required" for="name">Intitulé du transporteur</label>
				<input class="form-control" id="name" name="name" value="<%- name %>"
					   placeholder="Intitulé du transporteur tel qu'il apparaîtra dans le choix de la livraison"
					   type="text">
			</div>
			<div class="row">
				<div class="col-4">
					<div class="form-group">
						<label>Transporteur par défaut</label>

						<div class="form-check">
							<input name="is_default" id="is_default1" value="1" type="radio" <%= is_default ? 'checked="checked"' : '' %>>
							<label for="is_default1">Oui</label>
							<input name="is_default" id="is_default0" value="0" type="radio" <%= !is_default ? 'checked="checked"' : '' %>>
							<label for="is_default0">Non</label>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<label>Utilisation</label>

						<div class="form-check">
							<input name="is_enabled" id="is_enabled1" value="1" type="radio" <%= is_enabled ? 'checked="checked"' : '' %>>
							<label for="is_enabled1" class="visible">Activé</label>
							<input name="is_enabled" id="is_enabled0" value="0" type="radio" <%= !is_enabled ? 'checked="checked"' : '' %>>
							<label for="is_enabled0" class="not-visible">Désactivé</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

	<div data-role="infos"></div>

	<div data-role="export"></div>

	<div data-role="schedule"></div>

</form>

	<div data-role="charges"></div>



<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<% if(is_deletable) { %><button type="button" class="btn btn-lg btn btn-danger btn-delete" data-role="delete">Supprimer</button><% } %>
		<button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"></footer>