<article class="post-article">
  <header class="post-header">
    <h1>Conditions préalables</h1>
  </header>
  <div class="post-content">
    <p>
      Colissimo Entreprise est une solution de livraison multiples (points relais, sur rendez-vous, etc.) de la Poste. Pour plus d'informations,
      <a href="https://www.colissimo.entreprise.laposte.fr/fr" target="_blank">rendez-vous sur le site officiel</a>
      ou contactez un conseiller la Poste au 3634.
    </p>
    <p>
      Afin de configurer correctement ce mode de livraison vous devez :
    </p>
    <ol>
      <li>
        Allez sur le site de la Poste et <a href="https://www.colissimo.entreprise.laposte.fr/fr" target="_blank">
          vous ouvrir un compte</a>
        </li>
        <li>
          Configurez l'outil de gestion de compte fourni par la Poste en indiquant les URL de retour sur le site marchand :
          <br/><br/>
          Lorsque le client a sélectionné son mode de livraison (Validation) :
          <br/>
          <strong><%- domain %>/ecommerce/socolissimo.html</strong>
          <br/><br/>
          Lorsque le client n'a pas pu sélectionner son mode de livraison (Echec) :
          <br/>
          <strong><%- domain %>/ecommerce/socolissimo.html</strong>
          <br/><br/>
        </li>
        <li>
          Complètez le formulaire ci-dessous et activez le transporteur
        </li>
      </ol>
      <p>
        <strong class="text-danger">Il est indispensable d'effectuer au moins une commande avec ce transporteur</strong> sur le site pour tester son bon fonctionnement.
      </p>
    </div>
    <footer class="post-footer"></footer>
  </article>

  <article class="post-article">
    <header class="post-header">
      <h1>Informations générales</h1>
    </header>
    <div class="post-content">
      <div class="form-group">
        <label class="control-label required" for="exmemple1">Intitulé du transporteur</label>
        <input class="form-control" id="exmemple1" placeholder="Intitulé du transporteur tel qu'il apparaîtra dans le choix de la livraison" type="text">
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label class="control-label" for="">Transporteur par défaut</label>
            <div class="radio-group">
              <input name="Transporteur" id="Transporteur1" value="option1" checked="checked" type="radio">
              <label for="Transporteur1">Oui</label>
              <input name="Transporteur" id="Transporteur0" value="option1" type="radio">
              <label for="Transporteur0">Non</label>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label class="control-label" for="">Utilisation</label>
            <div class="radio-group">
              <input name="affichage" id="affichage1" value="option1" checked="checked" type="radio">
              <label for="affichage1" class="visible">Activé</label>
              <input name="affichage" id="affichage0" value="option1" type="radio">
              <label for="affichage0" class="not-visible">Désactivé</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="post-footer"></footer>
  </article>

  <article class="post-article">
    <header class="post-header">
      <h1>Paramètres de configuration</h1>
    </header>
    <div class="post-content">

      <div class="form-group">
        <label class="control-label required" for="exmemple1">Identifiant FO</label>
        <input class="form-control" id="exmemple1" placeholder="14 chiffres fournis par La Poste dans l'outil de gestion de compte" type="text">
      </div>

      <div class="form-group">
        <label class="control-label required" for="exmemple1">Clé de cryptage</label>
        <input class="form-control" id="exmemple1" placeholder="12 chiffres fournis par La Poste dans l'outil de gestion de compte" type="text">
      </div>

      <div class="form-group">
        <label class="control-label" for="">Remise contre signature</label>
        <p>Proposé uniquement lorsque l'internaute choisit une livraison à domicile.</p>
        <div class="radio-group">
          <input name="Transporteur" id="Transporteur1" value="option1" checked="checked" type="radio">
          <label for="Transporteur1">Oui</label>
          <input name="Transporteur" id="Transporteur0" value="option1" type="radio">
          <label for="Transporteur0">Non</label>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="exmemple1">Nom commercial du chargeur</label>
        <p>Utilisé pour l'export vers le logiciel Expeditor INET.</p>
        <input class="form-control" id="exmemple1" placeholder="La valeur renseignée se substitue à celle configurée dans l'outil de gestion de compte" type="text">
      </div>

    </div>
    <footer class="post-footer"></footer>
  </article>

  <article class="post-article">
    <header class="post-header">
      <h1>Informations complémentaires</h1>
    </header>
    <div class="post-content">
      <div class="form-group">
        <label class="control-label" for="exmemple1">Description</label>
        <textarea class="form-control" rows="5" placeholder="Description du transporteur telle qu'elle apparaîtra dans le choix de la livraison"></textarea>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label" for="exmemple1">Montant de commande minimum</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon3">Actif à partir de</span>
              <input class="form-control" value="300,00" placeholder="1,00">
              <span class="input-group-addon" id="basic-addon2">€TCC d'achat</span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label" for="exmemple1">Francos de port</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon3">Gratuit à partir de</span>
              <input class="form-control" value="300,00" placeholder="—">
              <span class="input-group-addon" id="basic-addon2">€TCC d'achat</span>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label" for="exmemple1">Délai de livraison</label>
            <input class="form-control" id="exmemple1" type="text" placeholder="3 jours, 1 semaine...">
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group has-feedback">
            <label class="control-label" for="exmemple3">Taxe</label>
            <select class="form-control" ic="exmemple3">
              <option selected="selected">20,00%</option>
              <option>5,50%</option>
            </select>
            <div class="form-control-feedback md-feedback md-select"></div>
          </div>
        </div>
      </div>
    </div>
    <footer class="post-footer"></footer>
  </article>

  <article class="post-article">
    <header class="post-header">
      <h1>Livraison vers la France Métropolitaine, Andorre et  Monaco</h1>
    </header>
    <div class="post-content post-list">
      <div class="row">
        <div class="col-xs-4"><label class="control-label" for="exmemple1">Tranche de poids</label></div>
        <div class="col-xs-3"><label class="control-label" for="exmemple1">Frais du port</label></div>
      </div>
      <div class="list-item list-item-form">
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Jusqu'à</span>
                <input class="form-control" value="300" placeholder="—">
                <span class="input-group-addon" id="basic-addon2">Kg</span>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input class="form-control" value="10,00" placeholder="0,00">
                <span class="input-group-addon" id="basic-addon2">€HT</span>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input class="form-control" value="12,00" placeholder="0,00">
                <span class="input-group-addon" id="basic-addon2">€TTC</span>
              </div>
            </div>
          </div>
          <div class="col-xs-2"><a href="#" class="md-icon md-delete pull-right"></a></div>
        </div>
      </div>
      <div class="list-item list-item-form">
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Jusqu'à</span>
                <input class="form-control" value="300" placeholder="—">
                <span class="input-group-addon" id="basic-addon2">Kg</span>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input class="form-control" value="10,00" placeholder="0,00">
                <span class="input-group-addon" id="basic-addon2">€HT</span>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input class="form-control" value="12,00" placeholder="0,00">
                <span class="input-group-addon" id="basic-addon2">€TTC</span>
              </div>
            </div>
          </div>
          <div class="col-xs-2"><a href="#" class="md-icon md-delete pull-right"></a></div>
        </div>
      </div>
      <div class="list-item list-item-form">
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Jusqu'à</span>
                <input class="form-control" value="300" placeholder="—">
                <span class="input-group-addon" id="basic-addon2">Kg</span>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input class="form-control" value="10,00" placeholder="0,00">
                <span class="input-group-addon" id="basic-addon2">€HT</span>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input class="form-control" value="12,00" placeholder="0,00">
                <span class="input-group-addon" id="basic-addon2">€TTC</span>
              </div>
            </div>
          </div>
          <div class="col-xs-2"><a href="#" class="md-icon md-delete pull-right"></a></div>
        </div>
      </div>
      <div class="list-item list-item-form">
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Jusqu'à</span>
                <input class="form-control" value="" placeholder="—">
                <span class="input-group-addon" id="basic-addon2">Kg</span>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input class="form-control" value="" placeholder="0,00">
                <span class="input-group-addon" id="basic-addon2">€HT</span>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input class="form-control" value="" placeholder="0,00">
                <span class="input-group-addon" id="basic-addon2">€TTC</span>
              </div>
            </div>
          </div>
          <div class="col-xs-2"><a href="#" class="md-icon md-delete pull-right"></a></div>
        </div>
      </div>
      <div class="list-item no-hover"><a href="">Ajouter une tranche de poids</a></div>
    </div>
    <footer class="post-footer"></footer>
  </article>

  <article class="post-article">
    <header class="post-header">
      <h1>Livraison en Point Relais</h1>
    </header>
    <div class="post-content post-list">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label" for="exmemple1">Francos de port</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon3">Gratuit à partir de</span>
              <input class="form-control" value="300,00" placeholder="—">
              <span class="input-group-addon" id="basic-addon2">€TCC d'achat</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4"><label class="control-label" for="exmemple1">Tranche de poids</label></div>
        <div class="col-xs-3"><label class="control-label" for="exmemple1">Frais du port</label></div>
      </div>
      <div class="list-item list-item-form">
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Jusqu'à</span>
                <input class="form-control" value="300" placeholder="—">
                <span class="input-group-addon" id="basic-addon2">Kg</span>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input class="form-control" value="10,00" placeholder="0,00">
                <span class="input-group-addon" id="basic-addon2">€HT</span>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input class="form-control" value="12,00" placeholder="0,00">
                <span class="input-group-addon" id="basic-addon2">€TTC</span>
              </div>
            </div>
          </div>
          <div class="col-xs-2"><a href="#" class="md-icon md-delete pull-right"></a></div>
        </div>
      </div>
      <div class="list-item list-item-form">
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Jusqu'à</span>
                <input class="form-control" value="300" placeholder="—">
                <span class="input-group-addon" id="basic-addon2">Kg</span>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input class="form-control" value="10,00" placeholder="0,00">
                <span class="input-group-addon" id="basic-addon2">€HT</span>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input class="form-control" value="12,00" placeholder="0,00">
                <span class="input-group-addon" id="basic-addon2">€TTC</span>
              </div>
            </div>
          </div>
          <div class="col-xs-2"><a href="#" class="md-icon md-delete pull-right"></a></div>
        </div>
      </div>
      <div class="list-item list-item-form">
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Jusqu'à</span>
                <input class="form-control" value="300" placeholder="—">
                <span class="input-group-addon" id="basic-addon2">Kg</span>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input class="form-control" value="10,00" placeholder="0,00">
                <span class="input-group-addon" id="basic-addon2">€HT</span>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input class="form-control" value="12,00" placeholder="0,00">
                <span class="input-group-addon" id="basic-addon2">€TTC</span>
              </div>
            </div>
          </div>
          <div class="col-xs-2"><a href="#" class="md-icon md-delete pull-right"></a></div>
        </div>
      </div>
      <div class="list-item list-item-form">
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Jusqu'à</span>
                <input class="form-control" value="" placeholder="—">
                <span class="input-group-addon" id="basic-addon2">Kg</span>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input class="form-control" value="" placeholder="0,00">
                <span class="input-group-addon" id="basic-addon2">€HT</span>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"></span>
                <input class="form-control" value="" placeholder="0,00">
                <span class="input-group-addon" id="basic-addon2">€TTC</span>
              </div>
            </div>
          </div>
          <div class="col-xs-2"><a href="#" class="md-icon md-delete pull-right"></a></div>
        </div>
      </div>
      <div class="list-item-empty">
        Tranches de poids et tarifs identiques à la livraison en France
      </div>
      <div class="list-item no-hover"><a href="">Ajouter une tranche de poids</a></div>
    </div>
    <footer class="post-footer"></footer>
  </article>

  <article class="post-article">
    <header class="post-header">
      <h1>Livraison vers la Belgique</h1>
    </header>
    <div class="post-content">
      <div class="form-group">
        <label class="control-label" for="exmemple1">Montant du surcout</label>
        <p>Le montant doit être égale à celui configuré dans l'outil de gestion de compte de la Poste.</p>
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon3"></span>
              <input class="form-control" value="300,00" placeholder="1,00">
              <span class="input-group-addon" id="basic-addon2">€TCC d'achat</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="">Autoriser la livraison vers la Belgique</label>
        <div class="radio-group">
          <input name="Transporteur" id="Transporteur1" value="option1" checked="checked" type="radio">
          <label for="Transporteur1">Oui</label>
          <input name="Transporteur" id="Transporteur0" value="option1" type="radio">
          <label for="Transporteur0">Non</label>
        </div>
      </div>
    </div>
    <footer class="post-footer"></footer>
  </article>

  <div class="save">
    <div class="btn-toolbar" role="toolbar">
      <a class="btn btn-cancel" href="/checkout/carriers">Retour</a>
      <button type="button" class="btn btn-action  pull-right">Enregistrer</button>
    </div>
  </div>

  <footer class="footer"> </footer>
