<div class="alert alert-warning" role="alert">
 <a href="https://aide.kiubi.com/recherche/catalogue/tags:Traitement%20des%20commandes/" class="md-icon md-help pull-right" target="_blank"></a>
  Avant de traiter une commande, <strong>vous devez vérifier auprès de votre établissement bancaire que la transaction correspondante</strong> a bien été acceptée.
</div>

<article class="post-article">
	<header class="post-header">
		<h1>Liste des commandes</h1>
		<div class="form-inline">
			<div class="checkbox-inline">
				<input id="inlineCheckboxTest10" value="option1" type="checkbox">
				<label for="inlineCheckboxTest10"></label>
			</div>
      <div class="btn-group" role="group">
				<button type="button" class="btn btn-option">Est En cours</button>
				<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span>  </button>
				<ul class="dropdown-menu">
					<li><a href="#">Est À traiter</a></li>
					<li><a href="#">Est Traitée</a></li>
					<li><a href="#">Est Expédiée</a></li>
					<li><a href="#">Est Annulée</a></li>
          <li><a href="#">Est Payée</a></li>
          <li><a href="#">Est À payer</a></li>
				</ul>
			</div>
			<div class="form-group has-feedback">
				<select class="form-control select-state" ic="exmemple3">
					<option selected="selected">Statuts</option>
					<option>Payée</option>
					<option>À payer</option>
				</select>
				<div class="form-control-feedback md-feedback md-select"></div>
			</div>
      <div class="form-group has-feedback">
        <select class="form-control select-state" ic="exmemple3">
          <option selected="selected">Livraison</option>
          <option>À livrer</option>
          <option>À retirer</option>
        </select>
        <div class="form-control-feedback md-feedback md-select"></div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-icon md-icon md-export dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <ul class="dropdown-menu">
          <li><a href="#">Exporter en PDF</a></li>
          <li><a href="#">Exporter en XLS</a></li>
          <li><a href="#">Exporter vers Expeditor INET</a></li>
        </ul>
      </div>
			<div class="btn-group">
				<button type="button" onclick="javascript:changeclass(popup);" class="btn btn-icon md-icon md-filter"></button>
			</div>
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-icon md-icon md-sort  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
				<ul class="dropdown-menu">
					<li class="active"><a href="#">Date</a></li>
          <li><a href="#">Livraison/retrait</a></li>
					<li><a href="#">Montant</a></li>
					<li><a href="#">Modification</a></li>
				</ul>
			</div>
		</div>
	</header>
	<div class="post-content post-list">
		<div class="list-item">
			<div class="row">
				<div class="col-xs-5">
					<div class="media">
						<div class="media-left">
							<div class="checkbox-inline">
								<input id="inlineCheckboxTest11" value="option1" type="checkbox">
								<label for="inlineCheckboxTest11"></label>
							</div>
						</div>
						<div class="media-body">
							<h4>C1608251</h4>
							Le 25/08/2016 à 18h03 par <a href="#">Marc BEYER</a>
						</div>
					</div>
				</div>
				<div class="col-xs-3"><span class="label label-paid">Payée par carte</span></div>
				<div class="col-xs-2">
          <span class="price">20,00€TTC<br/></span>
				</div>
				<div class="col-xs-2"><a class="btn btn-option pull-right" href="http://www.google.com" role="button">Détail</a></div>
			</div>
		</div>
		<div class="list-item">
			<div class="row">
        <div class="col-xs-5">
					<div class="media">
						<div class="media-left">
							<div class="checkbox-inline">
								<input id="inlineCheckboxTest11" value="option1" type="checkbox">
								<label for="inlineCheckboxTest11"></label>
							</div>
						</div>
						<div class="media-body">
							<h4>C1608251</h4>
							À retirer par <a href="#">Marc BEYER</a> le 25/08/2016 à 18h00
						</div>
					</div>
				</div>
				<div class="col-xs-3"><span class="label label-payable">À payer par chèque</span></div>
				<div class="col-xs-2">
					<span class="price">20,00€TTC<br/></span>
				</div>
				<div class="col-xs-2"><a class="btn btn-option pull-right" href="http://www.google.com" role="button">Détail</a></div>
			</div>
		</div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-5">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body">
              <h4>C1608251</h4>
              À livrer à <a href="#">Marc BEYER</a> le 25/08/2016 à 18h00
            </div>
          </div>
        </div>
        <div class="col-xs-3"><span class="label label-paid">Payée par chèque</span></div>
        <div class="col-xs-2">
          <span class="price">20,00€TTC<br/></span>
        </div>
        <div class="col-xs-2"><a class="btn btn-option pull-right" href="http://www.google.com" role="button">Détail</a></div>
      </div>
    </div>
		<div class="list-item">
			<div class="row">
        <div class="col-xs-5">
					<div class="media">
						<div class="media-left">
							<div class="checkbox-inline">
								<input id="inlineCheckboxTest11" value="option1" type="checkbox">
								<label for="inlineCheckboxTest11"></label>
							</div>
						</div>
						<div class="media-body">
							<h4>C1608251</h4>
							Le 25/08/2016 à 18h03 par <a href="#">Marc BEYER</a>
						</div>
					</div>
				</div>
				<div class="col-xs-3"><span class="label label-paid">Payée par virement</span></div>
				<div class="col-xs-2">
          <span class="price">20,00€TTC<br/></span>
				</div>
				<div class="col-xs-2"><a class="btn btn-option pull-right" href="http://www.google.com" role="button">Détail</a></div>
			</div>
		</div>
	</div>
	<footer class="post-footer"></footer>
</article>
