<article class="post-article">
	<div class="post-content">
		<div class="row no-gutters">
			<div class="col-4 d-flex">

				<div class="card card-select" data-role="select-simple">
					<div class="md-icon md-check-box"></div>
					<div class="card-body">
						<h4>Option simple</h4>
						<p>Une case à cocher dans le panier</p>
					</div>
				</div>
			</div>
			<div class="col-4 d-flex">

				<div class="card card-select" data-role="select-textarea">
					<div class="md-icon md-comment"></div>
					<div class="card-body">
						<h4>Zone de texte</h4>
						<p>Permet d'ajouter un commentaire</p>
					</div>
				</div>
			</div>
			<div class="col-4 d-flex">

				<div class="card card-select" data-role="select-select">
					<div class="md-icon md-list"></div>
					<div class="card-body">
						<h4>Liste de valeurs</h4>
						<p>Choisir une valeur prédéterminée</p>
					</div>
				</div>

			</div>
		</div>
		<div class="w-100"></div>
	</div>
	<footer class="post-footer"></footer>
</article>
