<div class="alert alert-warning" role="alert">
 Les options sont proposées dans le détail du panier d'achat.
 Elles peuvent être <strong>payantes</strong> ou <strong>gratuites</strong>, sous la forme d'une simple <strong>case à cocher</strong>,
 d'une <strong>zone de texte</strong> permettant de laisser un commentaire ou d'une <strong>liste de valeurs</strong> prédéterminées.
</div>

<article class="post-article">
	<header class="post-header">
		<h1>Liste des options</h1>
	</header>
	<div class="post-content post-list">
		<div class="list-item">
			<div class="row">
				<div class="col-xs-6">
					<div class="media">
						<div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
						<div class="media-body">
							<h4>Intitulé de l'option</h4>
							Option simple
						</div>
					</div>
				</div>
				<div class="col-xs-3">Gratuit</div>
        <div class="col-xs-3">
          <div class="btn-group pull-right" role="group"> <a class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
			</div>
		</div>
    <div class="list-item">
			<div class="row">
				<div class="col-xs-6">
					<div class="media">
						<div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
						<div class="media-body">
							<h4>Intitulé de l'option</h4>
							Zone texte
						</div>
					</div>
				</div>
				<div class="col-xs-3">Gratuit</div>
        <div class="col-xs-3">
          <div class="btn-group pull-right" role="group"> <a class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
			</div>
		</div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>Intitulé de l'option</h4>
              Liste de valeurs
            </div>
          </div>
        </div>
        <div class="col-xs-3">19,00€TTC</div>
        <div class="col-xs-3">
          <div class="btn-group pull-right" role="group"> <a class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>Intitulé de l'option</h4>
              <span class="text-danger">Masqué</span>
            </div>
          </div>
        </div>
        <div class="col-xs-3">19,00€TTC</div>
        <div class="col-xs-3">
          <div class="btn-group pull-right" role="group"> <a class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

	</div>
	<footer class="post-footer"></footer>
</article>
