<div class="row no-gutters">
	<div class="col-auto">
		<input id="order_<%- order_id %>" name="selection" value="<%- order_id %>" type="checkbox">
		<label for="order_<%- order_id %>"></label>
	</div>
	<div class="col item-body">
		<h4>#<%- reference %> </h4>
		<%- creation_date_fromnow %>
	</div>
	<div class="col-3">
		<span>
			<% if(customer_id) { %>
				<a href="/customers/<%- customer_id %>"><%- billing_address.firstname %> <%- billing_address.lastname %></a>
			<% } else { %>
				<%- billing_address.firstname %> <%- billing_address.lastname %>
			<% } %>

			<% if(shipping.scheduled) { %>
				<br><span title="<%- (shipping.type == 'pickup') ? 'Date de retrait' : 'Date de livraison' %>">
				<% if(shipping.type == 'pickup') { %>
					<i class="md-icon md-place mr-1"></i>
				<% } else { %>
					<i class="md-icon md-local-shipping mr-1"></i>
				<% } %>
				<%- scheduled_date %></span>
			<% } %>
		</span>
	</div>
	<div class="col-2">
		<span class="badge <%= is_paid ? 'badge-success' : 'badge-warning' %> is-toggle">
			<span><%= is_paid ? 'Payée' : 'À payer' %></span><span>Par <%- payment_name %></span>
		</span>
	</div>
	<div class="col-2">
		<span class="price"><%- price_total_inc_vat_label %> TTC<br/></span>
	</div>
	<div class="col-auto">
		<a class="btn btn-primary float-right" href="/checkout/orders/<%- order_id %>" role="button">Détail</a>
	</div>
</div>
