<article class="post-article">
  <header class="post-header">
    <h1>Liste des commandes</h1>
  </header>
  <div class="post-content post-list">
    <div class="list-item">
      <div class="row">
        <div class="col-xs-5">
          <div class="media">
            <div class="media-body">
              <h4>C1608251</h4>
              Le 25/08/2016 à 18h03 par <a href="#">Marc BEYER</a>
            </div>
          </div>
        </div>
        <div class="col-xs-3"><span class="label label-paid">Payée</span></div>
        <div class="col-xs-2">
          <span class="price">20,00€<br/>Total TTC</span>
        </div>
        <div class="col-xs-2"><a class="btn btn-option pull-right" href="http://www.google.com" role="button">Détail</a></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-5">
          <div class="media">
            <div class="media-body">
              <h4>C1608251</h4>
              Le 25/08/2016 à 18h03 par <a href="#">Marc BEYER</a>
            </div>
          </div>
        </div>
        <div class="col-xs-3"><span class="label label-payable">À payer</span></div>
        <div class="col-xs-2">
          <span class="price">20,00€<br/>Total TTC</span>
        </div>
        <div class="col-xs-2"><a class="btn btn-option pull-right" href="http://www.google.com" role="button">Détail</a></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-5">
          <div class="media">
            <div class="media-body">
              <h4>C1608251</h4>
              Le 25/08/2016 à 18h03 par <a href="#">Marc BEYER</a>
            </div>
          </div>
        </div>
        <div class="col-xs-3"><span class="label label-paid">Payée</span></div>
        <div class="col-xs-2">
          <span class="price">20,00€<br/>Total TTC</span>
        </div>
        <div class="col-xs-2"><a class="btn btn-option pull-right" href="http://www.google.com" role="button">Détail</a></div>
      </div>
    </div>
  </div>
  <footer class="post-footer"></footer>
</article>
