<form>

<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

<div class="order-detail">

	<article class="post-article post-article-bis">
		<div class="post-content">
			<div class="row">
				<div class="col-4">
					<div class="form-group">
						<select class="form-control" name="is_paid" data-style="selectify">
							<option value="1" <%= is_paid ? 'selected=selected' : '' %>>Commande payée</option>
							<option value="0" <%= !is_paid ? 'selected=selected' : '' %>>Commander à payer</option>
						</select>
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<select class="form-control" name="status" data-style="selectify">
							<option value="pending" <%= status == 'pending' ? 'selected=selected' : '' %>>Commande à traiter</option>
							<option value="processing" <%= status == 'processing' ? 'selected=selected' : '' %>>Commande en cours</option>
							<option value="processed" <%= status == 'processed' ? 'selected=selected' : '' %>>Commande traitée</option>
							<option value="shipped" <%= status == 'shipped' ? 'selected=selected' : '' %>>Commande expédiée</option>
							<option value="cancelled" <%= status == 'cancelled' ? 'selected=selected' : '' %>>Commande annulée</option>
						</select>
					</div>
				</div>
				<div class="col-4">
					<div class="form-group" data-role="notify" style="display: none">
						<div class="checkbox" style="margin: 5px 0 -5px 0;">
							<input id="notify" name="notify" value="1" type="checkbox">
							<label for="notify" class="">Notifier l'acheteur par email</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>



<div class="row">
	<div class="col-lg-8 col-12">

		<article class="post-article">
			<div class="post-content post-list no-hover">

				<% _.each(items, function(item){ %>
				<div class="list-item order-item">
					<div class="row">
						<div class="col item-body">

							<h4><!-- item.type == 'voucher' -->
								<% if(item.product_id) { %>
								<a href="/catalog/products/<%- item.product_id %>"><%- item.product_name %></a>
								<% } else { %>
								<%- item.product_name %>
								<% } %>
							</h4>
							<%- item.variant_name %>
							<% if (item.reference) { %><br />#<%- item.reference %><% } %>
							<% if(item.price_ecotax != 0) { %><br/><em>Éco-part. de <%- item.price_ecotax_label %></em><% } %>
							<% if (item.file_id) { %><br/><a href="/media/files/<%- item.file_id %>">Télécharger</a><% } %>
						</div>
						<div class="col-3 text-right no-white-space">
							<% if(base_price == 'TTC') { %>
							<%- item.price_inc_vat_label %> TTC
							<% } else { %>
							<%- item.price_ex_vat_label %> HT
							<% } %>
							<% if(item.is_discounted) { %><br/>-<%- item.discount %>% <% } %>
						</div>
						<div class="col-2">x<%- item.quantity %></div>
						<div class="col-auto text-right no-white-space" style="width: 150px;">
							<% if(base_price == 'TTC') { %>
							<%- item.price_total_inc_vat_label %> TTC
							<% } else { %>
							<%- item.price_total_ex_vat_label %> HT
							<% } %>
						</div>
					</div>
				</div>
				<%}) %>

				<% _.each(options, function(option){%>
				<div class="list-item order-item">
					<div class="row">
						<div class="col item-body">
							<h4><%- option.name %></h4>
							<%- option.value %>
						</div>
						<div class="col-3 text-right no-white-space">
							<% if(base_price == 'TTC') { %>
							<%- option.price_inc_vat_label %> TTC
							<% } else { %>
							<%- option.price_ex_vat_label %> TTC
							<% } %>
						</div>
						<div class="col-2">x<%- option.quantity %></div>
						<div class="col-auto text-right no-white-space" style="width: 150px;">
							<% if(base_price == 'TTC') { %>
							<%- option.price_total_inc_vat_label %> TTC
							<% } else { %>
							<%- option.price_total_ex_vat_label %> HT
							<% } %>
						</div>
					</div>
				</div>
				<%}) %>

				<% if (voucher && voucher_label) { %>
				<div class="list-item order-item">
					<div class="row">
						<div class="col item-body">
							<h4>Bon de réduction</h4>
							<%- voucher_label %> avec le code "<%- voucher.code %>"
						</div>
					</div>
				</div>
				<% } %>

				<% if (fidelity_reward > 0) { %>
				<div class="list-item order-item">
					<span class="md-icon md-card-membership icon-left"></span> <%- fidelity_reward %> points de fidélité ajoutés au compte du membre
				</div>
				<% } %>

				<div class="order-total">
					<div class="row">
						<% if(base_price == 'TTC') { %>
						<div class="col mr-md-3 text-right"> Total TTC hors frais de port<br/>
							Frais de port<br/>
							dont TVA<br/>
							<span class="total">Total TTC</span>
						</div>
						<div class="col-4 text-right"><%- price_items_inc_vat_label %><br/>
							<%- shipping.price_inc_vat_label %><br/>
							<%- price_vat_label %><br/>
							<span class="total"><%- price_total_inc_vat_label %></span>
						</div>
						<% } else { %>
						<div class="col mr-md-3 text-right"> Total HT hors frais de port<br/>
							Frais de port HT<br/>
							TVA<br/>
							<span class="total">Total TTC</span>
						</div>
						<div class="col-4 text-right"><%- price_items_ex_vat_label %><br/>
							<%- shipping.price_ex_vat_label %><br/>
							<%- price_vat_label %><br/>
							<span class="total"><%- price_total_inc_vat_label %></span>
						</div>
						<% } %>
					</div>
				</div>
			</div>
			<footer class="post-footer"></footer>
		</article>

		<% if(shipping && shipping.type != "pickup") { %>
		<article class="post-article">
			<header class="post-header">
				<h1>Informations sur la livraison</h1>
			</header>
			<div class="post-content">
				<div class="form-group">
					<label>Transporteur</label>
					<p class="form-control-static"><%- shipping.name %></p>
				</div>
				<div class="form-group">
					<label for="picking_number">Suivi de colis</label>
					<input class="form-control" id="picking_number" name="picking_number" value="<%- shipping.picking_number %>" placeholder="Adresse de suivi sous la forme https://www.adresse-de-suivi.com/" type="text">
				</div>
			</div>
			<footer class="post-footer"></footer>
		</article>
		<% } %>

		<article class="post-article">
			<header class="post-header">
				<h1>Ajouter une note</h1>
			</header>
			<div class="post-content">
				<div class="form-group">
					<p>La note est à usage interne et n'est pas visible sur la commande de l'acheteur.</p>
					<textarea class="form-control" name="comment" rows="7"><%- comment %></textarea>
				</div>
			</div>
			<footer class="post-footer"></footer>
		</article>

	</div>
	<div class="col-lg-4 col-12">
		<article class="post-article">
			<header class="post-header">
				<h1>À propos de l'acheteur</h1>
			</header>
			<div class="post-content" >
				<% if (billing_address) { %>
				<div class="post-subcontent">
					<% if (customer_id) { %><a href="/customers/<%- customer_id %>" class="md-icon md-person float-right"></a><% } %>
					<h4><%- billing_address.firstname %> <%- billing_address.lastname %></h4>
					<%- billing_address.phone %><br/>
					<a href="mailto:<%- customer_email %>">Contacter par email</a>
				</div>
				<% } %>
				<% if (shipping_address) { %>
				<div class="post-subcontent">
					<a href="<%- shipping_map %>" target="_blank" class="md-icon <%= shipping.type == 'pickup' ? 'md-place' : 'md-local-shipping' %> float-right"></a>
					<h4><%= shipping.type == 'pickup' ? 'Retrait en magasin' : 'Adresse de livraison' %></h4>
					<%- shipping_address.civility %> <%- shipping_address.firstname %> <%- shipping_address.lastname %><br/>
					<% if (shipping_address.company) { %><%- shipping_address.company %><br/><% } %>
					<%- shipping_address.address %><br/>
					<%- shipping_address.zipcode %> <%- shipping_address.city %><br/>
					<%- shipping_address.country %>
					<% if (shipping.scheduled) { %><br/>
					<span class="badge badge-primary mt-3"><%= shipping.type == 'pickup' ? 'À retirer' : 'À livrer' %> le <%- scheduled_date %></span>
					<% } %>
				</div>
				<% } %>
				<% if (billing_address) { %>
				<div class="post-subcontent">
					<a href="<%- billing_map %>" target="_blank" class="md-icon md-receipt float-right"></a>
					<h4>Adresse de facturation</h4>
					<%- billing_address.civility %> <%- billing_address.firstname %> <%- billing_address.lastname %><br/>
					<% if(billing_address.company) { %><%- billing_address.company %><br/><% } %>
					<%- billing_address.address %><br/>
					<%- billing_address.zipcode %> <%- billing_address.city %><br/>
					<%- billing_address.country %>
				</div>
				<% } %>
				<div class="post-subcontent">
					<a href="/checkout/payments/<%- payment_id %>" class="md-icon md-credit_card float-right"></a>
					<h4>Mode de paiement</h4>
					<%- payment_name %>
				</div>
			</div>
			<footer class="post-footer"></footer>
		</article>

		<article class="post-article order-history">
			<div class="post-content">
				<div class="post-subcontent">
					<span class="md-icon md-history float-right"></span>
					<h4>Historique</h4>
					<div data-role="activity"></div>
				</div>
			</div>
			<footer class="post-footer"></footer>
		</article>
	</div>
</div>

</div>

</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<a href="/checkout/orders?status=<%- status %>" class="btn btn-lg btn-primary btn-cancel">Annuler</a>
		<button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"></footer>
