<form>

<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

<div class="order-detail">


	<article class="post-article post-article-dark">
	  <div class="post-content">



			<div class="row align-items-center">
				<div class="col-auto">
					<div class="form-group">
						Commande
						créée le <%- creation_date %><%= is_reintegrated  ? ', réintégrée manuellement' : '' %>
					</div>
				</div>
				<div class="col-auto">
					<div class="form-group">
						<div data-role="is_paid"></div>
					</div>
				</div>
				<div class="col-auto">
					<div class="form-group">
						<div data-role="status"></div>
					</div>
				</div>
				<div class="col">
				<div class="form-group" data-role="notify" style="display: none">
					<div class="checkbox">
						<input id="notify" name="notify" value="1" type="checkbox">
						<label for="notify" class="mb-0">Notifier l'acheteur du changement d'état</label>
					</div>
				</div>
			</div>

		</div>





	  </div>
	  <footer class="post-footer"></footer>
	</article>

<div class="row">
	<div class="col-lg-8 col-12">

		<article class="post-article">
			<div class="post-content post-list no-hover">

				<% _.each(items, function(item){ %>
				<div class="list-item order-item">
					<div class="row">
						<div class="col item-body">

							<h4><!-- item.type == 'voucher' -->
								<% if(item.product_id) { %>
								<a href="/catalog/products/<%- item.product_id %>"><%- item.product_name %></a>
								<% } else { %>
								<%- item.product_name %>
								<% } %>
							</h4>
							<%- item.variant_name %>
							<% if (item.reference) { %><br />#<%- item.reference %><% } %>
							<% if(item.price_ecotax != 0) { %><br/><em>Éco-part. de <%- item.price_ecotax_label %></em><% } %>
							<% if (item.file_id) { %><br/><a href="/media/files/<%- item.file_id %>">Télécharger</a><% } %>
						</div>
						<div class="col-3 text-right no-white-space">
							<% if(base_price == 'TTC') { %>
							<%- item.price_inc_vat_label %> TTC
							<% } else { %>
							<%- item.price_ex_vat_label %> HT
							<% } %>
							<% if(item.is_discounted) { %><br/>-<%- item.discount %>% <% } %>
						</div>
						<div class="col-2">x<%- item.quantity %></div>
						<div class="col-auto text-right no-white-space" style="width: 150px;">
							<% if(base_price == 'TTC') { %>
							<%- item.price_total_inc_vat_label %> TTC
							<% } else { %>
							<%- item.price_total_ex_vat_label %> HT
							<% } %>
						</div>
					</div>
				</div>
				<%}) %>

				<% _.each(options, function(option){%>
				<div class="list-item order-item">
					<div class="row">
						<div class="col item-body">
							<h4><%- option.name %></h4>
							<%- option.value %>
						</div>
						<div class="col-3 text-right no-white-space">
							<% if(base_price == 'TTC') { %>
							<%- option.price_inc_vat_label %> TTC
							<% } else { %>
							<%- option.price_ex_vat_label %> TTC
							<% } %>
						</div>
						<div class="col-2">x<%- option.quantity %></div>
						<div class="col-auto text-right no-white-space" style="width: 150px;">
							<% if(base_price == 'TTC') { %>
							<%- option.price_total_inc_vat_label %> TTC
							<% } else { %>
							<%- option.price_total_ex_vat_label %> HT
							<% } %>
						</div>
					</div>
				</div>
				<%}) %>

				<% if (voucher && voucher_label) { %>
				<div class="list-item order-item">
					<div class="row">
						<div class="col item-body">
							<h4>Bon de réduction</h4>
							<%- voucher_label %> avec le code "<%- voucher.code %>"
						</div>
					</div>
				</div>
				<% } %>
				<% if (fidelity_reward > 0) { %>
				<div class="list-item order-item">
					<span class="md-icon md-card-membership icon-left"></span> <%- fidelity_reward %> points de fidélité ajoutés au compte du membre
				</div>
				<% } %>
				<div class="list-item order-item">
					<span class="md-icon md-icon-outlined md-payment icon-left"></span>Paiement par <%- payment_name %>
				</div>
				<div class="order-total">
					<div class="row">
						<% if(base_price == 'TTC') { %>
						<div class="col mr-md-3 text-right"> Total TTC hors frais de port<br/>
							Frais de port<br/>
							dont TVA<br/>
							<span class="total">Total TTC</span>
						</div>
						<div class="col-4 text-right"><%- price_items_inc_vat_label %><br/>
							<%- shipping.price_inc_vat_label %><br/>
							<%- price_vat_label %><br/>
							<span class="total"><%- price_total_inc_vat_label %></span>
						</div>
						<% } else { %>
						<div class="col mr-md-3 text-right"> Total HT hors frais de port<br/>
							Frais de port HT<br/>
							TVA<br/>
							<span class="total">Total TTC</span>
						</div>
						<div class="col-4 text-right"><%- price_items_ex_vat_label %><br/>
							<%- shipping.price_ex_vat_label %><br/>
							<%- price_vat_label %><br/>
							<span class="total"><%- price_total_inc_vat_label %></span>
						</div>
						<% } %>
					</div>
				</div>
			</div>
			<footer class="post-footer"></footer>
		</article>

		<% if(shipping && shipping.type == "delivery") { %>
		<article class="post-article">
			<div class="post-content">
				<div class="form-group">
					<label>Transporteur</label>
					<p class="form-control-static"><%- shipping.name %></p>
				</div>
				<div class="form-group">
					<label for="picking_number">Suivi de colis</label>
					<input class="form-control" id="picking_number" name="picking_number" value="<%- shipping.picking_number %>" placeholder="Adresse de suivi sous la forme https://www.adresse-de-suivi.com/" type="text">
				</div>
			</div>
			<footer class="post-footer"></footer>
		</article>
		<% } %>

		<article class="post-article">
			<div class="post-content">
				<div class="form-group">
					<label>Ajouter une note</label>
					<p>La note est à usage interne et n'est pas visible sur la commande de l'acheteur.</p>
					<textarea class="form-control" name="comment" rows="7"><%- comment %></textarea>
				</div>
			</div>
			<footer class="post-footer"></footer>
		</article>

	</div>
	<div class="col-lg-4 col-12">
		<article class="post-article">
			<div class="post-content" >
				<% if (billing_address) { %>
				<div class="post-subcontent">
					<% if (customer_id) { %><a href="/customers/<%- customer_id %>" class="float-right">Détail</a><% } %>
					<h4>À propos de l'acheteur</h4>
					<span class="md-icon md-icon-outlined md-account float-right"></span>
					<%- billing_address._civility %> <%- billing_address.firstname %> <%- billing_address.lastname %><br/>
					#<%- customer_number %><br/>
					<a href="mailto:<%- customer_email %>"><%- customer_email %></a>
				</div>
				<% } %>


				<% if (shipping_address) { %>
				<div class="post-subcontent">
					<% if(shipping_address.is_editable) { %><a href="#" data-role="addressEdit" data-type="shipping" class="float-right">Modifier</a><% } %>
					<h4><%= shipping.type == 'pickup' ? shipping.name : 'Adresse de livraison' %> </h4>
					<% if (shipping.type == 'delivery') { %>
					<span class="md-icon md-icon-outlined md-local-shipping float-right"></span>
					<% } else { %>
					<span class="md-icon md-icon-outlined md-storefront float-right"></span>
					<% } %>
					<%- shipping_address._civility %> <%- shipping_address.firstname %> <%- shipping_address.lastname %><br/>
					<% if (shipping_address.company) { %><%- shipping_address.company %><br/><% } %>
					<%- shipping_address.address %><br/>
					<%- shipping_address.zipcode %> <%- shipping_address.city %><br/>
					<%- shipping_address.country %>
					<% if (shipping.scheduled) { %><br/>
					<div class="mt-3">
						<span class="badge badge-lg badge-secondary rounded-pill"><%= shipping.type == 'pickup' ? 'À retirer' : 'À livrer' %> le <%- scheduled_date %></span>
					</div>
					<% } %>
					<p class="mt-3">
					<% if (shipping.type == 'delivery') { %><a href="<%- shipping_address.map %>" target="_blank">Localiser l'adresse</a><% } %>
					</p>
				</div>
				<% } %>

				<% if (billing_address) { %>
				<div class="post-subcontent">
					<% if(billing_address.is_editable) { %><a href="#" data-role="addressEdit" data-type="billing" class="float-right">Modifier</a><% } %>
					<h4>Adresse de facturation</h4>
					<span class="md-icon md-icon-outlined md-receipt float-right"></span>
					<%- billing_address._civility %> <%- billing_address.firstname %> <%- billing_address.lastname %><br/>
					<% if(billing_address.company) { %><%- billing_address.company %><br/><% } %>
					<%- billing_address.address %><br/>
					<%- billing_address.zipcode %> <%- billing_address.city %><br/>
					<%- billing_address.country %><br/>
					Tél. : <%- billing_address.phone %>
					<p class="mt-3">
					<a href="<%- billing_address.map %>" target="_blank">Localiser l'adresse</a>
					</p>
				</div>
				<% } %>

				<% if (_.isArray(xtra) && xtra.length > 0) { %>
				<div class="post-subcontent">
					<h4>Données complémentaires</h4>
					<span class="md-icon md-icon-outlined md-extension float-right"></span>
					<% _.each(xtra, function(field){ %>
						<div><strong><%- field.title  %></strong> :
							<% if (field.value === '') { %>
							<i>(vide)</i>
							<% } else { %>
							<%- field.value %>
							<% } %>
						</div>
					<% }) %>
				</div>
				<% } %>

			</div>
			<footer class="post-footer"></footer>
		</article>

		<article class="post-article order-history">
			<div class="post-content">
				<div class="post-subcontent">
					<span class="md-icon md-history float-right"></span>
					<h4>Historique</h4>
					<div data-role="activity"></div>
				</div>
			</div>
			<footer class="post-footer"></footer>
		</article>
	</div>
</div>

</div>

</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<a href="/checkout/orders?status=<%- status %>" class="btn btn-lg btn-primary btn-cancel">Annuler</a>
		<button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"></footer>
