<div class="alert alert-warning" role="alert">
  <a href="https://aide.kiubi.com/paiements.html" class="md-icon md-help float-right" target="_blank"></a>
  Vous pouvez activer plusieurs modes de paiement : par <strong>chèque</strong>,
  par <strong>virement bancaire</strong> et via <strong>PayPal</strong>.
  Si vous disposez d'un contrat de vende à distance avec un établissement bancaire,
  vous pourrez utiliser leur <strong>système de paiement en ligne sécurisé</strong>.
</div>

<article data-role="list"></article>
