<form>

<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

<article class="post-article">
	<header class="post-header">
		<h1>Gestion du stock</h1>
	</header>
	<div class="post-content">
		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<label for="stockout_selling">Vente en cas de rupture de stock</label>
					<select id="stockout_selling" name="stockout_selling" data-style="selectify">
						<option value="1" <%= stockout_selling ? 'selected="selected"' : '' %>>Autoriser la vente du produit</option>
						<option value="0" <%= !stockout_selling ? 'selected="selected"' : '' %>>Stopper la vente du produit</option>
					</select>
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<label for="decrement_stock">Retirer un produit du stock</label>
					<select id="decrement_stock" name="decrement_stock" data-style="selectify">
						<option value="at_payment" <%= decrement_stock == "at_payment" ? 'selected="selected"' : '' %>>Dès qu'il est commandé et payé</option>
						<option value="never" <%= decrement_stock == "never" ? 'selected="selected"' : '' %>>Jamais</option>
					</select>
				</div>
			</div>
		</div>
		<label for="stockout_threshold">Quantité avant rupture de stock</label>
		<p>Vous pouvez indiquer une quantité minimale d'un produit qui doit rester en stock.
			À la valeur indiquée et en dessous, le produit est considéré comme étant en rupture de stock.
		</p>
		<div class="row">
			<div class="col-3">
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-prepend"><span class="input-group-text"></span></div>
						<input class="form-control" name="stockout_threshold" id="stockout_threshold" value="<%- stockout_threshold %>">
						<div class="input-group-append"><span class="input-group-text">produit(s)</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="post-footer"></footer>
</article>

<article class="post-article">
	<header class="post-header">
		<h1>Numéros des commandes</h1>
	</header>
	<div class="post-content">
		<p>Vous avez la possibilité de choisir la lettre qui préfixe les numéros des commandes passées sur le site.
			Si vous possédez plusieurs boutiques en ligne, vous pouvez ainsi plus facilement distinguer l’origine d'une commande.
			Le préfixe par défaut est "C".
		</p>
		<label for="order_prefix">Préfixe des commandes</label>
		<div class="row">
			<div class="col-3">
				<div class="form-group">
					<select id="order_prefix" name="order_prefix" data-style="selectify" data-direction="up">
						<% for(i = 'A'.charCodeAt(0); i <= 'Z'.charCodeAt(0); i++) { var l = String.fromCharCode(i); %>
						<option value="<%- l %>" <%= order_prefix == l ? 'selected="selected"' : '' %>><%- l %></option>
						<% } %>
					</select>
				</div>
			</div>
		</div>
	</div>
	<footer class="post-footer"></footer>
</article>

<article class="post-article">
	<header class="post-header">
		<h1>Minimum de commande</h1>
	</header>
	<div class="post-content">
		<p>
			Le minimum de commande vous permet d'interdir la prise des commandes en-dessous d'un certain montant, frais de port compris.
			Vous pouvez définir un montant de 0,00<%= currency %> pour autoriser les commandes gratuites.
		</p>
		<label for="min_order_amount">Montant minimum</label>
		<div class="row">
			<div class="col-3">
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-prepend"><span class="input-group-text"></span></div>
						<input class="form-control" name="min_order_amount" id="min_order_amount" value="<%- min_order_amount %>" placeholder="0,00">
						<div class="input-group-append"><span class="input-group-text"><%= currency %> <%- base_price %></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="post-footer"></footer>
</article>

</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"> </footer>
