<form>

<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

<article class="post-article">
  <header class="post-header">
    <h1>Email d'accusé de réception</h1>
  </header>
  <div class="post-content">
    <p>L'email d'accusé de réception de commande est envoyé à l'acheteur à
      l'enregistrement de sa commande, quelque soit le mode de paiment utilisé. Vous pouvez ajouter un message personnalisé dans cet email.
    </p>
    <div class="form-group">
      <label for="mail_recipients">Destinataires</label>
      <p>Saisissez les emails des destinataires, séparés par des virgules. Sans destinataire, l'email par défaut est utilisé.</p>
      <input class="form-control" id="mail_recipients" name="mail_recipients" value="<%- mail_recipients %>">
    </div>
    <div class="form-group">
      <label class="required" for="mail_pending">Message personnalisé</label>
      <textarea class="form-control" name="mail_pending" id="mail_pending" placeholder="Message tel qu'il apparaîtra dans l'email"  data-role="wysiwyg" data-wysiwyg-toolbar="micro" rows="14"><%- mail_pending %></textarea>
    </div>
  </div>
  <footer class="post-footer"></footer>
</article>

<article class="post-article">
  <header class="post-header">
    <h1>Emails de notification de changement d'état</h1>
  </header>
  <div class="post-content">
    <p>Un email de notification peut être envoyé à l'acheteur à chaque changement d'état de sa commande.
      Vous pouvez ajouter un message personnalisé pour chacuns de ces emails.
    </p>
    <div class="form-group">
      <label class="required" for="mail_processing">Message personnalisé de l'état : <span class="badge badge-primary">En cours</span></label>
      <textarea class="form-control" name="mail_processing" id="mail_processing" placeholder="Message tel qu'il apparaîtra dans l'email" data-role="wysiwyg" data-wysiwyg-toolbar="micro" rows="14"><%- mail_processing %></textarea>
    </div>
    <div class="form-group">
      <label class="required" for="mail_processed">Message personnalisé de l'état : <span class="badge badge-primary">Traitée</span></label>
      <textarea class="form-control" name="mail_processed" id="mail_processed" placeholder="Message tel qu'il apparaîtra dans l'email" data-role="wysiwyg" data-wysiwyg-toolbar="micro" rows="14"><%- mail_processed %></textarea>
    </div>
    <div class="form-group">
      <label class="required" for="mail_shipped">Message personnalisé de l'état : <span class="badge badge-primary">Expédiée</span></label>
      <textarea class="form-control" name="mail_shipped" id="mail_shipped" placeholder="Message tel qu'il apparaîtra dans l'email" data-role="wysiwyg" data-wysiwyg-toolbar="micro" rows="14"><%- mail_shipped %></textarea>
    </div>
    <div class="form-group">
      <label class="required" for="mail_cancelled">Message personnalisé de l'état : <span class="badge badge-primary">Annulée</span></label>
      <textarea class="form-control" name="mail_cancelled" id="mail_cancelled" placeholder="Message tel qu'il apparaîtra dans l'email" data-role="wysiwyg" data-wysiwyg-toolbar="micro" rows="14"><%- mail_cancelled %></textarea>
    </div>
  </div>
  <footer class="post-footer"></footer>
</article>

</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"> </footer>
