<h2>Commandes</h2>
<ul class="nav nav-sidebar flex-column">
	<li class="nav-item"><a class="nav-link" href="/checkout/orders?status=pending"><span class="md-icon"></span><span class="badge"><%- overview.pending_count %></span>À traiter</a></li>
	<li class="nav-item"><a class="nav-link" href="/checkout/orders?status=processing"><span class="md-icon"></span><span class="badge"><%- overview.processing_count %></span>En cours</a></li>
	<li class="nav-item"><a class="nav-link" href="/checkout/orders?status=processed"><span class="md-icon"></span><span class="badge"><%- overview.processed_count %></span>Traitées</a></li>
	<li class="nav-item"><a class="nav-link" href="/checkout/orders?status=shipped"><span class="md-icon"></span><span class="badge"><%- overview.shipped_count %></span>Expédiées</a></li>
	<li class="nav-item"><a class="nav-link" href="/checkout/orders?status=cancelled"><span class="md-icon"></span><span class="badge"><%- overview.cancelled_count %></span>Annulées</a></li>
	<li class="nav-item"><a class="nav-link" href="/checkout/aborted">Abandonnées</a></li>
</ul>
<h2>Paramètres e-commerce</h2>
<ul class="nav nav-sidebar flex-column">
	<li class="nav-item"><a class="nav-link" href="/checkout/payments"><span class="md-icon"></span>Modes de paiement</a></li>
	<li class="nav-item"><a class="nav-link" href="/checkout/carriers"><span class="md-icon"></span>Transporteurs et frais de port</a></li>
	<li class="nav-item"><a class="nav-link" href="/checkout/emails"><span class="md-icon"></span>Emails de confirmation</a></li>
	<li class="nav-item"><a class="nav-link" href="/checkout/options"><span class="md-icon"></span>Options à la commande</a></li>
	<li class="nav-item"><a class="nav-link" href="/checkout/settings"><span class="md-icon"></span>Paramètres</a></li>
</ul>
