<form>

  <div class="alert alert-warning" role="alert">
    <a href="https://aide.kiubi.com/modules.html#google-analytics" class="md-icon md-help float-right" target="_blank"></a>
    Google Analytics est <strong>le service d'analyse d'audience</strong> proposé par Google.
    Pour bénéficier de ces fonctionnalités, vous devez vous
    <a href="https://www.google.com/intl/fr_ALL/analytics/"  target="_blank">ouvrir un compte sur Google Analytics</a>.<br/><br/>
    Google Analytics vous permettra également de <strong>suivre précisément l'activité de vente en ligne</strong>
    si vous activez l'option "<em>Site Web de commerce électronique</em>" dans l'interface de Google Analytics.
  </div>

  <div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

  <article class="post-article">
    <header class="post-header">
      <h1>Configuration de Google Analytics</h1>
    </header>
    <div class="post-content">
      <div class="form-group">
        <label class="required" for="UA">Numéro de compte</label>
        <p>Ce numéro est contenu dans le fragment de code fourni pour Google Analytics à l'ouverture d'un compte.
          Seul ce numéro, de la forme UA-XXXXX-X, doit être renseigné ci-dessous et non pas l'ensemble du fragment de code.</p>
        <input id="UA" name="UA" class="form-control" value="<%- UA %>" placeholder="Numéro de la forme : UA-XXXXX-X">
      </div>

      <div class="form-group">
        <label>Utilisation</label>
        <div class="form-check">
          <input name="is_enabled" id="is_enabled1" value="1" <%= is_enabled ? 'checked="checked"' : '' %> type="radio">
          <label for="is_enabled1" class="visible">Activé</label>
          <input name="is_enabled" id="is_enabled0" value="0" <%= !is_enabled ? 'checked="checked"' : '' %> type="radio">
          <label for="is_enabled0" class="not-visible">Désactivé</label>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="type" >Type de Tracker</label>
            <select id="type" name="type" data-style="selectify">
              <option value="universal" <%= type == "universal" ? 'selected="selected"' : '' %>>Tracking universel (recommandé)</option>
              <option value="async" <%= type == "async" ? 'selected="selected"' : '' %>>Tracking web asynchrone</option>
              <option value="sync" <%= type == "sync" ? 'selected="selected"' : '' %>>Tracking web standard</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="target" >Position du tracker</label>
            <select id="target" name="target" data-style="selectify">
              <option value="body" <%= target == "body" ? 'selected="selected"' : '' %>>Dans la balise body (recommandé)</option>
              <option value="head" <%= target == "head" ? 'selected="selected"' : '' %>>Dans la balise head</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="options">Paramètres complémentaires</label>
        <textarea class="form-control" rows="5" id="options" name="options"><%- options %></textarea>
      </div>

    </div>
    <footer class="post-footer"></footer>
  </article>

</form>

<div class="save">
  <div class="btn-toolbar" role="toolbar">
    <a class="btn btn-lg btn-primary btn-cancel" href="/modules">Retour</a>
    <button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Enregistrer</button>
  </div>
</div>

<footer class="footer"> </footer>
