<div class="alert alert-warning" role="alert">
  <a href="https://aide.kiubi.com/documentation/Gestion-du-compte/sauvegardes.html" class="md-icon md-help pull-right" target="_blank"></a>
  Kiubi sauvegarde automatiquement l'<strong>intégralité du site Internet</strong>
  (contenus, pages, catégories, préférences, médiathèque, thème graphique, etc.) une fois par jour et conserve une sauvegarde de la veille,
  une de l'avant-veille et une du lundi précédent.
  Vous pouvez à tout moment créer un point de sauvegarde manuellement qui <strong>remplacera le dernier point de sauvegarde effectué</strong>.
  <br/><br/>
  Les utilisateurs, les membres, les commandes, les noms de domaines, les clés APIs, la formule d'abonnement,
  les crédits souscrits et les factures d'abonnement sont spécifiquement <strong>exclues</strong> des points de sauvegarde.<br/><br/>
  <strong class="text-danger">
    Attention, la restauration d'une sauvegarde entraînera la perte de toutes les
    données qui ont été ajoutées entre la date de la sauvegarde et la date de sa restauration</strong>,
    à l'exception des données exclues des points de sauvegarde.
</div>

<article class="post-article">
  <header class="post-header">
    <h1>Dernières sauvegardes</h1>
  </header>
  <div class="post-content post-list">
    <div class="list-item">
      <div class="row">
        <div class="col-xs-4">
          <h4>Point de sauvegarde n°1</h4>
        </div>
        <div class="col-xs-5">Le 04 septembre 2017 à 03h55</div>
        <div class="col-xs-3">
          <a class="btn btn-option pull-right" href="#" role="button">Restaurer</a>
        </div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-4">
          <h4>Point de sauvegarde n°2</h4>
        </div>
        <div class="col-xs-5">Le 04 septembre 2017 à 03h55</div>
        <div class="col-xs-3">
          <a class="btn btn-option pull-right" href="#" role="button">Restaurer</a>
        </div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-4">
          <h4>Point de sauvegarde n°3</h4>
        </div>
        <div class="col-xs-5">Le 04 septembre 2017 à 03h55</div>
        <div class="col-xs-3">
          <a class="btn btn-option pull-right" href="#" role="button">Restaurer</a>
        </div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-4">
          <h4>Point de sauvegarde n°4</h4>
        </div>
        <div class="col-xs-5">Le 04 septembre 2017 à 03h55</div>
        <div class="col-xs-3">
          <a class="btn btn-option pull-right" href="#" role="button">Restaurer</a>
        </div>
      </div>
    </div>
    <div class="list-item no-hover"><a href="">Créer un point de sauvegarde</a></div>
  </div>
  <footer class="post-footer"></footer>
</article>
