<div class="alert alert-warning" role="alert">
	<a href="https://aide.kiubi.com/modules.html#gestion-des-sauvegardes" class="md-icon md-help float-right" target="_blank"></a>
	Kiubi sauvegarde automatiquement l'<strong>intégralité du site Internet</strong>
	(contenus, pages, catégories, préférences, médiathèque, thème graphique, etc.) une fois par jour et conserve une
	sauvegarde de la veille, une de l'avant-veille et une du lundi précédent.
	Vous pouvez à tout moment créer un point de sauvegarde manuellement qui <strong>remplacera le dernier point de
	sauvegarde effectué</strong>.
	<br/><br/>
	Les utilisateurs, les membres, les commandes, les noms de domaines, les clés APIs, la formule d'abonnement,
	les crédits souscrits et les factures d'abonnement sont spécifiquement <strong>exclues</strong> des points de
	sauvegarde.<br/><br/>
	<span class="text-danger">
		Attention, <strong>la création d’un nouveau point de sauvegarde</strong> écrasera le dernier point de sauvegarde créé.
		<strong>La restauration d'une sauvegarde</strong> entraînera quant à elle la perte de toutes les données
		qui ont été ajoutées entre la date de la sauvegarde et la date de sa restauration,
		à l'exception des données exclues des points de sauvegarde.</span>
</div>

<article data-role="list"></article>
