<div class="alert alert-warning" role="alert">
  <a href="https://aide.kiubi.com/documentation/marketing-et-referencement/parametrer-les-points-de-fidelite-sur-votre-site-web.html" class="md-icon md-help pull-right" target="_blank"></a>
  Le paiement d’une commande permet à un membre d’<strong>accumuler des points</strong> sur une carte de réduction virtuelle.
  Ces points sont valables un an et peuvent être <strong>échangés contre un bon de réduction</strong> utilisable lors d'une prochaine commande.
</div>

<article class="post-article">
  <header class="post-header">
    <h1>Conditions de gains des points de fidélité</h1>
  </header>
  <div class="post-content">
    <div class="form-group">
      <label class="control-label" for="exmemple1">Gains par commande</label>
      <p>Nombre de points de fidélité gagnés pour 1,00€TTC payé à chaque commande (hors frais de port).</p>
      <div class="row">
        <div class="col-xs-3">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3"></span>
            <input class="form-control" value="5" placeholder="0">
            <span class="input-group-addon" id="basic-addon2">points</span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="exmemple1">Gains bonus</label>
      <p>Nombre de points de fidélité gagnés à la première commande.</p>
      <div class="row">
        <div class="col-xs-3">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3"></span>
            <input class="form-control" value="5" placeholder="0">
            <span class="input-group-addon" id="basic-addon2">points</span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <p>Nombre de points de fidélité gagnés à l'inscription à la newsletter lors de l'ouverture de compte.</p>
      <div class="row">
        <div class="col-xs-3">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3"></span>
            <input class="form-control" value="5" placeholder="0">
            <span class="input-group-addon" id="basic-addon2">points</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="post-footer"></footer>
</article>

<article class="post-article">
  <header class="post-header">
    <h1>Conversion des points en bons de réduction</h1>
  </header>
  <div class="post-content">
    <p>Un bon de réduction à usage unique est envoyé par email à un membre chaque fois qu'il dépasse le seuil de points de fidélité.</p>
    <div class="form-group">
      <label class="control-label" for="">Envoi du bon de réduction</label>
      <div class="radio-group">
        <input name="affichage" id="affichage1" value="option1" checked="checked" type="radio">
        <label for="affichage1" class="visible">Activé</label>
        <input name="affichage" id="affichage0" value="option1" type="radio">
        <label for="affichage0" class="not-visible">Désactivé</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label class="control-label" for="exmemple1">Seuil d'envoi</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">À partir de</span>
            <input class="form-control" value="5" placeholder="500">
            <span class="input-group-addon" id="basic-addon2">points</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="exmemple1">Seuil de validité</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">À partir de</span>
            <input class="form-control" value="5" placeholder="0">
            <span class="input-group-addon" id="basic-addon2">€TTC d'achats</span>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="control-label" for="exmemple3">Limite d'utilisation</label>
          <select class="form-control" ic="exmemple3">
            <option selected="selected">Seulement au membre à qui il est envoyé</option>
            <option>Utilisable par n'importe quel membre</option>
          </select>
          <div class="form-control-feedback md-feedback md-select"></div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label class="control-label" for="exmemple1">Montant de la réduction</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3"></span>
            <input class="form-control" value="5" placeholder="0">
            <span class="input-group-addon" id="basic-addon2">€TTC</span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="exmemple1">Durée de validité</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3"></span>
            <input class="form-control" value="5" placeholder="0">
            <span class="input-group-addon" id="basic-addon2">mois</span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="exmemple1">Sujet de l'email</label>
      <input class="form-control" id="exmemple1" placeholder="Sujet de l'email envoyé au membre qui a obtenu le bon de réduction. Laisser vide pour utiliser le sujet par défaut." type="text">
    </div>
  </div>
  <footer class="post-footer"></footer>
</article>


<div class="save">
  <div class="btn-toolbar" role="toolbar">
    <button type="button" class="btn btn-cancel">Retour</button>
    <button type="button" class="btn btn-action  pull-right">Enregistrer</button>
  </div>
</div>

<footer class="footer"> </footer>
