<% if(step == 0) { %>

<form>

	<div class="alert alert-warning" role="alert">
		<a href="https://aide.kiubi.com/site-web.html#import-de-contenus" class="md-icon md-help float-right"
		   target="_blank"></a>
		Vous pouvez <strong>importer plusieurs contenus simultanément</strong> pour remplir et mettre à jour les pages et les symboles du
		site web.
		Nous vous conseillons avant tout import de contenus de <a
			href="https://aide.kiubi.com/site-web.html#import-de-contenus"
			target="_blank">consulter la documentation en ligne</a>
		et de <a href="/modules/backups" target="_blank">réaliser un point de sauvegarde</a>.
	</div>

	<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

	<article class="post-article">
		<header class="post-header">
			<h1>Paramètres d'import</h1>
		</header>
		<div class="post-content">
			<div class="form-group">
				<label>Fichier d'import</label>

				<p>Vous pouvez télécharger un exemple de modèle de fichier d'import
					(<a href="https://cdn.kiubi-admin.com/69/documents/import.csv" target="_blank">CSV</a> ou
					<a href="https://cdn.kiubi-admin.com/69/documents/import.xls" target="_blank">XLS</a>)
					pour vous aider à préparer votre propre fichier.
				</p>
				<div data-role="file"></div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label for="page" class="required">Page ou symbole de destination</label>

						<div data-role="page"></div>

					</div>
				</div>
			</div>
			<div class="form-group">
				<label>Action à réaliser</label>

				<div class="radio">
					<input name="mode" id="mode1" value="add" type="radio" checked="checked">
					<label for="mode1" class="">Ajouter les contenus importés à la page ou au symbole de destination</label>
					<p class="ml-4">Cette action <em>conserve</em> les contenus de la page ou du symbole de destination</p>
				</div>
				<div class="radio">
					<input name="mode" id="mode2" value="replace" type="radio">
					<label for="mode2" class="">Remplacer tous les contenus de la page ou du symbole de destination</label>
					<p class="ml-4">Cette action <em>supprime</em> les contenus de la page ou du symbole de destination</p>
				</div>
			</div>
			<div class="form-group">
				<label>Afficher les contenus après l'import</label>

				<div class="form-check">
					<input name="is_visible" id="is_visible1" value="1" type="radio">
					<label for="is_visible1" class="">Oui</label>
					<input name="is_visible" id="is_visible0" value="0" type="radio" checked="checked">
					<label for="is_visible0" class="">Non</label>
				</div>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Importer</button>
	</div>
</div>
<% } else if(step == 1) { %>

	<% if (report.warnings && report.warnings.length > 0) { %>
	<div class="alert alert-warning">
		<strong>Il y a des alertes</strong>
		<% if(!report.errors || report.errors.length == 0) { %>mais vous pouvez quand même valider l'import des contenus<% } %>.<br/>
		Il est cependant conseillé avant de valider un import d'<a href="/modules/backups" target="_blank">effectuer un
		point de sauvegarde</a> de son site.<br/><br/>
		<ul>
			<% _.each(report.warnings, function(msg){ %>
			<li><%= msg %></li>
			<% }); %>
		</ul>
	</div>
	<% } %>

	<% if (report.errors && report.errors.length > 0) { %>
	<div class="alert alert-danger">
		<strong>Il y a des erreurs dans le fichier</strong>, vous ne pouvez pas valider l'import de contenus.
		Veuillez <a
			href="https://aide.kiubi.com/site-web.html#import-de-contenu"
			target="_blank" class="alert-link">consulter la documentation en ligne</a> afin de corriger ces erreurs.<br/><br/>
		<ul>
			<% _.each(report.errors, function(msg){ %>
			<li><%= msg %></li>
			<% }); %>
		</ul>
	</div>
	<% } %>

	<% if(!report.errors || report.errors.length == 0) { %>
	<div class="alert alert-info">
		<strong>Les données sont prêtes à être importées.</strong><br/>
		Il est cependant conseillé avant de valider un import d'<a href="/modules/backups" target="_blank" class="alert-link">effectuer un point de sauvegarde</a>
		de son site.
	</div>
	<% } %>

	<div class="save">
		<div class="btn-toolbar" role="toolbar">
			<button type="button" class="btn btn-lg btn-primary btn-cancel" data-role="cancel">Retour</button>
			<% if(!report.errors || report.errors.length == 0) { %>
			<button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Importer</button>
			<% } %>
		</div>
	</div>

<% } else { %>

	<% if (report.errors && report.errors.length > 0) { %>
	<div class="alert alert-danger">
		<strong>L'import n'a pas été réalisé</strong>, il y a des erreurs dans le fichier.<br/><br/>
		<ul>
			<% _.each(report.errors, function(msg){ %>
			<li><%= msg %></li>
			<% }); %>
		</ul>
	</div>
	<% } else { %>
	<div class="alert alert-success">
		<strong>Import réussi</strong>, les contenus du site web ont été correctement importées !
	</div>
	<% } %>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-lg btn-primary btn-cancel" data-role="cancel">Retour</button>
	</div>
</div>

<% } %>

<footer class="footer"></footer>
