<article class="post-article post-article-empty text-center">
	<header class="post-header">
		<h1>Les modules disponibles sur votre site et dans vos espaces de travail</h1>
	</header>

	<div class="post-content">
		<p class="lead">
			Optimiser votre site, fidéliser vos clients, améliorer votre référencement et booster votre productivité
		</p>
	</div>

	<footer class="post-footer"></footer>
</article>

<div class="module-list mt-2 mb-4">

	<div data-role="spotlights"></div>

</div>

<article class="post-article">
	<header class="post-header">
		<h1>Autres modules disponibles</h1>
	</header>

	<div data-role="modules"></div>

	<footer class="post-footer"></footer>
</article>


<article class="post-article post-article-empty mt-5 text-center">
	<header class="post-header">
		<h1>Les APIs pour développer de nouvelles applications</h1>
	</header>

	<div class="post-content">
		<p class="lead">
			Permettre aux développeurs web d'enrichir leurs projets avec de nouvelles fonctionnalités et applications
		</p>
	</div>

	<footer class="post-footer"></footer>
</article>

<div class="module-list">
	<div class="row">
		<div class="col-12 col-md-6 d-flex">
			<article class="post-article thumbs-desc">
				<header class="post-header">
					<span class="md-icon md-icon-module md-module-apipfo rounded-circle mr-3"></span>
				</header>
				<div class="post-content">
					<h1>API Front-Office</h1>
					<p>
						Pour les intégrateurs Front-End qui ont besoin d'accéder
						aux données publiques de leurs sites afin de les enrichir avec de nouvelles interactions.
						<a href="https://aide.kiubi.com/api-front-generalites.html" target="_blank">En savoir plus</a>
					</p>
					<a class="btn btn-outline-primary" href="<%- domain %>/api/v1/" target="_blank">Se connecter</a>
				</div>
				<footer class="post-footer"></footer>
			</article>
		</div>
		<div class="col-12 col-md-6 d-flex">
			<article class="post-article thumbs-desc">
				<header class="post-header">
					<span class="md-icon md-icon-module md-module-apibdo rounded-circle mr-3"></span>
				</header>
				<div class="post-content">
					<h1>API Developers</h1>
					<p>
						Pour les développeurs qui souhaitent interfacer leurs propres applications avec
						Kiubi grâce à un accès direct et sécurisé aux données de leurs sites.
						<a href="https://aide.kiubi.com/api-dev-generalites.html" target="_blank">En savoir plus</a>
					</p>
					<a class="btn btn-outline-primary" href="https://api.kiubi.com/" target="_blank">Se connecter</a>
				</div>
				<footer class="post-footer"></footer>
			</article>
		</div>
	</div>
</div>
