<div class="thumbs-list">
	<div class="row">

		<% _.each(spotlights, function(module){ %>

		<div class="col-6 <% if(!module.has_scope || !module.has_feature) { %>disabled<% } %>">
			<article class="post-article thumbs-desc <%- module.icon %>">
				<header class="post-header">
					<span class="md-icon"></span><% if(module.quota) { %><span><%- module.quota %></span><% } %>
					<% if(module.has_scope && module.has_feature) { %>
					<a class="btn btn-primary float-right" href="<%- module.href %>">Utiliser</a>
					<% } else { %>
					<span class="badge px-0 float-right" href="#">Indisponible</span>
					<% } %>
				</header>
				<div class="post-content">
					<h1><%- module.name %></h1>
					<%= module.desc %>
				</div>
				<footer class="post-footer"></footer>
			</article>
		</div>

		<% }) %>

	</div>
</div>

<article class="post-article">
	<header class="post-header">
		<h1>Autres modules</h1>
	</header>
	<div class="post-content post-list">

		<% _.each(list, function(module){ %>
		<div class="list-item visible-btn <% if(!module.has_scope || !module.has_feature) { %>disabled<% } %>">
			<div class="row no-gutters">
				<div class="col item-body">
					<h4><%- module.name %></h4>
					<%= module.desc %>
				</div>
				<div class="col-auto">
				<% if(module.has_scope && module.has_feature) { %>
				<a class="btn btn-primary float-right" href="<%- module.href %>" role="button">Utiliser</a>
				<% } else { %>
				<span class="badge px-1 mx-0 float-right" href="#">Indisponible</span>
				<% } %>
				</div>
			</div>
		</div>
		<% }) %>

	</div>
	<footer class="post-footer"></footer>
</article>

<article class="post-article">
	<div class="row">
		<div class="col-6">
			<header class="post-header">
				<h1>API Front-Office</h1>
			</header>
			<div class="post-content">
				<p>
					Pour les intégrateurs et les développeurs Front-End qui ont besoin d'accéder
					aux données publiques de leurs sites afin de les enrichir avec de nouvelles interactions.
				</p>
				<a class="btn btn-primary mr-3" href="<%- domain %>/api/v1/" target="_blank">Se connecter</a>
				<a class="btn btn-info" href="https://aide.kiubi.com/api-front-office.html" target="_blank">En savoir plus</a>
			</div>
		</div>
		<div class="col-6">
			<header class="post-header">
				<h1>API Developers</h1>
			</header>
			<div class="post-content">
				<p>Pour les développeurs qui souhaitent interfacer leurs propres applications avec
					Kiubi grâce à un accès direct et sécurisé aux données de tous les sites.</p>
				<a class="btn btn-primary mr-3" href="https://api.kiubi.com/" target="_blank">Se connecter</a>
				<a class="btn btn-info" href="https://aide.kiubi.com/api-developers.html" target="_blank">En savoir plus</a>
			</div>
		</div>
	</div>
	<footer class="post-footer"></footer>
</article>
