
<article class="post-article post-article-empty kps">
  <header class="post-header">
    <h1>Technologie et Services sur-mesure</h1>
  </header>
  <div class="post-content">
    <p class="lead">
       Construisez la solution qui vous convient avec les briques fonctionnelles et le support technique avancés des Kiubi Professionnal Services.
    </p>
    <p class="lead">Pour en savoir plus, contactez votre agence web référente ou consultez notre équipe composée de professionnels experts.
      <a href="https://www.kiubi.com/contact-professional-services.html" target="_blank">Contactez nous</a></p>

  </div>
  <footer class="post-footer"></footer>
</article>
<div class="module-list">
  <div class="row">
    <div class="col-12 col-md-6 d-flex">
      <article class="post-article post-article-dark thumbs-desc w-100">
        <header class="post-header"><span class="md-icon md-icon-module rounded-circle" style="background-color: #a24100">sync_alt</span> </header>
        <div class="post-content">
          <h1>Migration de sites</h1>
          <p>Transfert d'un site web depuis un CMS vers Kiubi, Copie de données d'un site à un autre, Intégration HTML/CSS, Accompagnement à la mise en production, ...</p>
          <a class="btn btn-outline-light" href="https://www.kiubi.com/professional-services.html" target="_blank">En savoir plus</a> </div>
        <footer class="post-footer"></footer>
      </article>
    </div>
    <div class="col-12 col-md-6 d-flex">
      <article class="post-article post-article-dark thumbs-desc w-100">
        <header class="post-header"><span class="md-icon md-icon-module rounded-circle" style="background-color: #fda951">storefront</span> </header>
        <div class="post-content">
          <h1>eCommerce avancé</h1>
          <p>Filtres à facettes, Variantes multicritères, Modes de paiement personnalisés, Paiement d'acomptes, Vente par lots, Commandes récurrentes, ...</p>
					<a class="btn btn-outline-light" href="https://www.kiubi.com/professional-services.html" target="_blank">En savoir plus</a> </div>
        <footer class="post-footer"></footer>
      </article>
    </div>
    <div class="col-12 col-md-6 d-flex">
      <article class="post-article post-article-dark thumbs-desc w-100">
        <header class="post-header"><span class="md-icon md-icon-module rounded-circle" style="background-color: #c4b1c4;">get_app</span> </header>
        <div class="post-content">
          <h1>Exports personnalisés</h1>
          <p>Synchronisation avec les ERP/CRM, Export des ventes vers les systèmes de comptabilité, Flux personnalisés de produits (Google Merchant, Lengow, etc.), ...</p>
					<a class="btn btn-outline-light" href="https://www.kiubi.com/professional-services.html" target="_blank">En savoir plus</a> </div>
        <footer class="post-footer"></footer>
      </article>
    </div>
    <div class="col-12 col-md-6 d-flex">
      <article class="post-article post-article-dark thumbs-desc w-100">
        <header class="post-header"><span class="md-icon md-icon-module rounded-circle" style="background-color: #8a6d3b">publish</span> </header>
        <div class="post-content">
          <h1>Imports automatiques</h1>
          <p>Automatisation des imports à partir d’un fichier de données (XLS, CSV, XML, JSON, Google Sheets, etc.), Traitement automatisé du contenu, ...</p>
					<a class="btn btn-outline-light" href="https://www.kiubi.com/professional-services.html" target="_blank">En savoir plus</a> </div>
        <footer class="post-footer"></footer>
      </article>
    </div>
    <div class="col-12 col-md-6 d-flex">
      <article class="post-article post-article-dark thumbs-desc w-100">
        <header class="post-header"><span class="md-icon md-icon-module rounded-circle" style="background-color: #fed558">share</span> </header>
        <div class="post-content">
          <h1>Interface avec des services tiers</h1>
          <p>Échanges de données (produits, commandes, contenus, etc.) via API, Synchronisation avec des plateformes tierces (Google Agenda, Plateformes Immobilières, etc.), ...</p>
					<a class="btn btn-outline-light" href="https://www.kiubi.com/professional-services.html" target="_blank">En savoir plus</a> </div>
        <footer class="post-footer"></footer>
      </article>
    </div>
    <div class="col-12 col-md-6 d-flex">
      <article class="post-article post-article-dark thumbs-desc w-100">
        <header class="post-header"><span class="md-icon md-icon-module rounded-circle" style="background-color: #86df6a">dns</span> </header>
        <div class="post-content">
          <h1>Hébergement dédié</h1>
          <p>Mise à disposition d'une instance Kiubi dédiée : Serveurs, Backup, Noms de domaine, Certificats SSL, Monitoring 24/7, Maintenance applicative et évolutive.</p>
					<a class="btn btn-outline-light" href="https://www.kiubi.com/professional-services.html" target="_blank">En savoir plus</a> </div>
        <footer class="post-footer"></footer>
      </article>
    </div>
    <div class="col-12 col-md-6 d-flex">
      <article class="post-article post-article-dark thumbs-desc w-100">
        <header class="post-header"><span class="md-icon md-icon-module rounded-circle" style="background-color: #a15db1">devices_other</span> </header>
        <div class="post-content">
          <h1>Applications métiers</h1>
          <p>App mobile, Objets connectés, Configurateur produit, Vote en ligne, Génération de PDF, Géolocation, Demande de devis, Web-to-Store, ...</p>
					<a class="btn btn-outline-light" href="https://www.kiubi.com/professional-services.html" target="_blank">En savoir plus</a> </div>
        <footer class="post-footer"></footer>
      </article>
    </div>
    <div class="col-12 col-md-6 d-flex">
      <article class="post-article post-article-dark thumbs-desc w-100">
        <header class="post-header"><span class="md-icon md-icon-module rounded-circle" style="background-color: #5CB299; transform: rotate(90deg);	-webkit-transform: rotate(90deg);">account_tree</span> </header>
        <div class="post-content">
          <h1>Automatisation marketing</h1>
          <p>Connexion avec les plateformes d'emailing, Suggestions personnalisées de produits, Relances clients, Remises de bienvenue, ...</p>
					<a class="btn btn-outline-light" href="https://www.kiubi.com/professional-services.html" target="_blank">En savoir plus</a> </div>
        <footer class="post-footer"></footer>
      </article>
    </div>
  </div>
</div>

<article class="post-article post-article-empty text-center">
	<header class="post-header">
		<h1>Les APIs pour développer de nouvelles applications</h1>
	</header>

	<div class="post-content">
		<p class="lead">
			Permettre aux développeurs web d'enrichir leurs projets avec de nouvelles fonctionnalités et applications
		</p>
	</div>

	<footer class="post-footer"></footer>
</article>

<div class="module-list">
	<div class="row">
		<div class="col-12 col-md-6 d-flex">
			<article class="post-article thumbs-desc">
				<header class="post-header">
					<span class="md-icon md-icon-module md-module-apipfo rounded-circle mr-3"></span>
				</header>
				<div class="post-content">
					<h1>API Front-Office</h1>
					<p>
						Pour les intégrateurs Front-End qui ont besoin d'accéder
						aux données publiques de leurs sites afin de les enrichir avec de nouvelles interactions.
						<a href="https://aide.kiubi.com/api-front-generalites.html" target="_blank">En savoir plus</a>
					</p>
					<a class="btn btn-outline-primary" href="<%- domain %>/api/v1/" target="_blank">Se connecter</a>
				</div>
				<footer class="post-footer"></footer>
			</article>
		</div>
		<div class="col-12 col-md-6 d-flex">
			<article class="post-article thumbs-desc">
				<header class="post-header">
					<span class="md-icon md-icon-module md-module-apibdo rounded-circle mr-3"></span>
				</header>
				<div class="post-content">
					<h1>API Developers</h1>
					<p>
						Pour les développeurs qui souhaitent interfacer leurs propres applications avec
						Kiubi grâce à un accès direct et sécurisé aux données de leurs sites.
						<a href="https://aide.kiubi.com/api-dev-generalites.html" target="_blank">En savoir plus</a>
					</p>
					<a class="btn btn-outline-primary" href="https://api.kiubi.com/" target="_blank">Se connecter</a>
				</div>
				<footer class="post-footer"></footer>
			</article>
		</div>
	</div>
</div>
