<article class="post-article">
	<div class="post-content">
		<div class="row no-gutters">
			<div class="col-4 ">

				<div class="card card-select" data-role="select-amount">
					<div class="md-icon md-euro"></div>
					<div class="card-body">
						<h4>Montant fixe</h4>
						<p>Réduction d'un montant fixe</p>
					</div>
				</div>

			</div>
			<div class="col-4 border-right border-left">

				<div class="card card-select" data-role="select-percent">
					<div class="md-icon md-percent" style="height: 38px; line-height: 32px;"></div>
					<div class="card-body">
						<h4>Pourcentage</h4>
						<p>Réduction en pourcentage</p>
					</div>
				</div>

			</div>
			<div class="col-4">

				<div class="card card-select" data-role="select-shipping">
					<div class="md-icon md-local-shipping"></div>
					<div class="card-body">
						<h4>Frais de port</h4>
						<p>Frais de port personnalisés</p>
					</div>
				</div>

			</div>
		</div>
		<div class="w-100"></div>
	</div>
	<footer class="post-footer"></footer>
</article>
