<div class="alert alert-warning" role="alert">
	<a href="https://aide.kiubi.com/documentation/marketing-et-referencement/mettre-en-place-des-redirections-301.html" class="md-icon md-help float-right" target="_blank"></a>
	Vous pouvez rediriger des adresses vers d'autres adresses à l'aide des redirections 301. Le nombre de redirections
	est <strong>limité à 600</strong> et chaque adresse à <strong>255 caractères</strong>.<br/><br/>
	Chaque redirection est de la forme suivante :
	<br/>
	<code>/chemin-a-rediriger.html http://www.example.org/nouvelle-adresse-complete.html</code>
	<br/><br/>
	Une syntaxe permet également de rediriger toutes les adresses des pages d’un répertoire vers un autre. Exemple :<br/>
	<code>^/blog/    http://www.example.org/blog/</code>
	<br/>
	va rediriger <code>/blog/categorie/billet.html</code> vers <code>http://www.example.org/blog/categorie/billet.html</code><br/><br/>
	Nous vous encourageons fortement avant toute modification
	des règles de redirections à <a href="https://aide.kiubi.com/documentation/marketing-et-referencement/mettre-en-place-des-redirections-301.html" target="_blank" >consulter la documentation en ligne</a>
	et à <a href="/modules/backups" target="_blank" >réaliser un point de sauvegarde</a>.
</div>

<form>

	<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

	<article class="post-article">
		<header class="post-header">
			<h1>Redirections actives</h1>
		</header>
		<div class="post-content">
			<div class="form-group">
				<textarea name="redirections" class="form-control" rows="20"><%- redirections %></textarea>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<a class="btn btn-lg btn-primary btn-cancel" href="/modules">Retour</a>
		<button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"> </footer>
