<h2>Modules disponibles</h2>
<ul class="nav nav-sidebar flex-column">
	<% if(has_scope_modules) { %>
	<li class="nav-item"><a class="nav-link" href="/forms/inbox">Dismoi?</a></li>
	<% } else { %>
	<li class="nav-item"><span class="nav-link disabled">Dismoi?</span></li>
	<% } %>
	<% if(has_scope_checkout && has_feature_checkout) { %>
	<li class="nav-item"><a class="nav-link" href="/modules/vouchers">Bons de réduction</a></li>
	<% } else { %>
	<li class="nav-item"><span class="nav-link disabled">Bons de réduction</span></li>
	<% } %>
	<% if(has_scope_modules && has_feature_fidelity) { %>
	<li class="nav-item"><a class="nav-link" href="/modules/fidelity">Points de fidélité</a></li>
	<% } else { %>
	<li class="nav-item"><span class="nav-link disabled">Points de fidélité</span></li>
	<% } %>
	<% if(has_scope_marketing && has_feature_checkout) { %>
	<li class="nav-item"><a class="nav-link" href="/modules/merchantcenter">Google Merchant Center</a></li>
	<% } else { %>
	<li class="nav-item"><span class="nav-link disabled">Google Merchant Center</span></li>
	<% } %>
	<% if(has_scope_catalog && has_feature_catalog) { %>
	<li class="nav-item"><a class="nav-link" href="/modules/import/products">Import dans le Catalogue</a></li>
	<% } else { %>
	<li class="nav-item"><span class="nav-link disabled">Import dans le Catalogue</span></li>
	<% } %>
	<% if(has_feature_extranet) { %>
	<li class="nav-item"><a class="nav-link" href="/customers/groups">Extranet</a></li>
	<% } else { %>
	<li class="nav-item"><span class="nav-link disabled">Extranet</span></li>
	<% } %>
	<% if(has_feature_advanced_media) { %>
	<li class="nav-item"><a class="nav-link" href="/modules/import/files">Import dans la Médiathèque</a></li>
	<% } else { %>
	<li class="nav-item"><span class="nav-link disabled">Import dans la Médiathèque</span></li>
	<% } %>
	<% if(has_scope_checkout && has_feature_multi_pickup) { %>
	<li class="nav-item"><a class="nav-link" href="/checkout/carriers">Points de retrait multiples</a></li>
	<% } else { %>
	<li class="nav-item"><span class="nav-link disabled">Points de retrait multiples</span></li>
	<% } %>
	<% if(has_scope_checkout && has_feature_tier_prices) { %>
	<li class="nav-item"><a class="nav-link" href="/modules/tier_prices">Tarifs dégressifs</a></li>
	<% } else { %>
	<li class="nav-item"><span class="nav-link disabled">Tarifs dégressifs</span></li>
	<% } %>
</ul>
<h2>Autres modules</h2>
<ul class="nav nav-sidebar flex-column">
		<% if(has_scope_modules) { %>
		<li class="nav-item"><a class="nav-link" href="/modules/analytics">Google Analytics</a></li>
		<% } else { %>
		<li class="nav-item"><span class="nav-link disabled">Google Analytics</span></li>
		<% } %>
		<% if(has_scope_pref) { %>
		<li class="nav-item"><a class="nav-link" href="/modules/captcha">Google reCaptcha</a></li>
		<% } else { %>
		<li class="nav-item"><span class="nav-link disabled">Google reCaptcha</span></li>
		<% } %>
		<% if(has_scope_seo) { %>
		<li class="nav-item"><a class="nav-link" href="/modules/redirections">Redirections 301</a></li>
		<li class="nav-item"><a class="nav-link" href="/modules/injectcode">Injection de code</a></li>
		<% } else { %>
		<li class="nav-item"><span class="nav-link disabled">Redirections 301</span></li>
		<li class="nav-item"><span class="nav-link disabled">Injection de code</span></li>
		<% } %>
		<% if(has_scope_marketing) { %>
		<li class="nav-item"><a class="nav-link" href="/modules/subscribers">Abonnés à la newsletter</a></li>
		<li class="nav-item"><a class="nav-link" href="/modules/ads">Authorized Digital Sellers</a></li>
		<% } else { %>
		<li class="nav-item"><span class="nav-link disabled">Abonnés à la newsletter</span></li>
		<li class="nav-item"><span class="nav-link disabled">Authorized Digital Sellers</span></li>
		<% } %>
		<% if(has_scope_cms) { %>
		<li class="nav-item"><a class="nav-link" href="/modules/import/contents">Import dans le Site Web</a></li>
		<% } else { %>
		<li class="nav-item"><span class="nav-link disabled">Import dans le Site Web</span></li>
		<% } %>
		<% if(has_scope_blog) { %>
		<li class="nav-item"><a class="nav-link" href="/modules/import/wordpress">Import depuis WordPress</a></li>
		<% } else { %>
		<li class="nav-item"><span class="nav-link disabled">Import depuis WordPress</span></li>
		<% } %>
		<% if(has_scope_checkout && has_feature_checkout) { %>
		<li class="nav-item"><a class="nav-link" href="/modules/import/coliship">Import Coliship</a></li>
		<% } else { %>
		<li class="nav-item"><span class="nav-link disabled">Import Coliship</span></li>
		<% } %>
		<% if(has_scope_backup) { %>
		<li class="nav-item"><a class="nav-link" href="/modules/backups">Gestion des sauvegardes</a></li>
		<% } else { %>
		<li class="nav-item"><span class="nav-link disabled">Gestion des sauvegardes</span></li>
		<% } %>
		<% if(has_scope_marketing && has_feature_checkout) { %>
		<li class="nav-item"><a class="nav-link" href="/modules/lengow">Lengow</a></li>
		<li class="nav-item"><a class="nav-link" href="/modules/iadvize">iAdvize</a></li>
		<li class="nav-item"><a class="nav-link" href="/modules/avisverifies">Avis Verifiés</a></li>
		<% } else { %>
		<li class="nav-item"><span class="nav-link disabled">Lengow</span></li>
		<li class="nav-item"><span class="nav-link disabled">iAdvize</span></li>
		<li class="nav-item"><span class="nav-link disabled">Avis Verifiés</span></li>
		<% } %>
</ul>
<h2>API</h2>
<ul class="nav nav-sidebar flex-column">
	<li class="nav-item"><a class="nav-link" href="https://aide.kiubi.com/api-front-generalites.html" target="_blank">API Front-Office</a></li>
	<li class="nav-item"><a class="nav-link" href="https://aide.kiubi.com/api-dev-generalites.html" target="_blank">API Developers</a></li>
	<li class="nav-item"><a class="nav-link" href="https://status.dev.kiubi.com/" target="_blank">Statuts des services</a></li>
</ul>
