<h2>Modules</h2>
<ul class="nav nav-sidebar">
	<li><a href="/forms/inbox">Dismoi?</a></li>
	<li><a href="/modules/vouchers">Bons de réduction</a></li>
	<li><a href="/modules/fidelity">Points de fidélité</a></li>
	<li><a href="/modules/redirections">Redirections 301</a></li>
	<li><a href="/modules/injectcode">Injection de code</a></li>
	<li><a href="/modules/subscribers">Abonnés à la newsletter</a></li>
	<li><a href="/modules/backups">Gestion des sauvegardes</a></li>
</ul>
<h2>Imports</h2>
<ul class="nav nav-sidebar">
	<li><a href="/modules/import/posts">Dans le Site Web</a></li>
	<li><a href="/modules/import/products">Dans le Catalogue</a></li>
	<li><a href="/modules/import/wordpress">Depuis WordPress</a></li>
</ul>
<h2>Services tiers</h2>
<ul class="nav nav-sidebar">
	<li><a href="/modules/analytics">Google Analytics</a></li>
	<li><a href="/modules/merchantcenter">Google Merchant Center</a></li>
	<li><a href="/modules/lengow">Lengow</a></li>
	<li><a href="/modules/iadvize">iAdvize</a></li>
	<li><a href="/modules/avisverifies">Avis Verifiés</a></li>
</ul>
