<div class="row no-gutters align-items-center">
	<div class="col-auto">
			<input id="subscriber_<%- subscriber_id %>" name="selection" value="<%- subscriber_id %>" type="checkbox">
			<label for="subscriber_<%- subscriber_id %>"></label>
		</div>
		<div class="col item-body">
				<h4><%- email %></h4>
			</div>
			<div class="col-3">
				<% if (is_registered) { %>
					<span class="badge badge-success">Abonné</span>
					<% } else { %>
						<span class="badge badge-danger">Désabonné</span>
						<% } %>
					</div>
					<div class="col-4">
						<span title="Date d'inscription">
						<i class="md-icon md-submit-date"></i><%- subscription_date %></span>
					</div>

				</div>
