<article class="post-article">
  <header class="post-header">
    <h1>Liste des abonnés à la newsletter</h1>
    <div class="form-inline">
      <div class="checkbox-inline">
        <input id="inlineCheckboxTest10" value="option1" type="checkbox">
        <label for="inlineCheckboxTest10"></label>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-option">Désinscrire</button>
        <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
        <ul class="dropdown-menu">
          <li><a href="#">Inscrire</a></li>
          <li><a href="#">Supprimer</a></li>
        </ul>
      </div>
      <div class="form-group has-feedback">
        <select class="form-control select-state" ic="exmemple3">
          <option selected="selected">État</option>
          <option>Inscrit</option>
          <option>Désinscrit</option>
        </select>
        <div class="form-control-feedback md-feedback md-select"></div>
      </div>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-icon md-icon md-sort  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
        <ul class="dropdown-menu">
          <li class="active"><a href="#">Inscription</a></li>
          <li> <a href="#">Email</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="post-content post-list">
    <div class="list-item">
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body">
              <h4>gekkogo@gmail.com</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-2"><span class="label label-enable">Inscrit</span></div>
        <div class="col-xs-4 text-right no-white-space">Inscrit le 03/05/2009 à 21h03</div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body">
              <h4>gekkogo@gmail.com</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-2"><span class="label label-enable">Inscrit</span></div>
        <div class="col-xs-4 text-right no-white-space">Inscrit le 03/05/2009 à 21h03</div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-body">
              <h4>gekkogo@gmail.com</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-2"><span class="label label-disable">Désinscrit</span></div>
        <div class="col-xs-4 text-right no-white-space">Inscrit le 03/05/2009 à 21h03</div>
      </div>
    </div>
  </div>
  <footer class="post-footer"></footer>
</article>
