<div class="alert alert-warning" role="alert">
 <a href="https://aide.kiubi.com/documentation/marketing-et-referencement/creer-un-bon-de-reduction.html" class="md-icon md-help pull-right" target="_blank"></a>
  Vous pouvez créer 3 types de bons de réduction différents :
    <strong>une remise en pourcentage</strong>, <strong>une remise d'un montant fixe</strong> ou <strong>une remise sur les frais de port</strong>.
</div>

<article class="post-article">
	<header class="post-header">
		<h1>Liste des bons de réduction</h1>
		<div class="form-inline">
			<div class="checkbox-inline">
				<input id="inlineCheckboxTest10" value="option1" type="checkbox">
				<label for="inlineCheckboxTest10"></label>
			</div>
      <div class="btn-group" role="group">
				<button type="button" class="btn btn-option">Activer</button>
				<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
				<ul class="dropdown-menu">
					<li><a href="#">Désactiver</a></li>
					<li><a href="#">Supprimer</a></li>
				</ul>
			</div>
			<div class="form-group has-feedback">
				<select class="form-control select-state" ic="exmemple3">
					<option selected="selected">État</option>
					<option>Valide</option>
					<option>Non valide</option>
				</select>
				<div class="form-control-feedback md-feedback md-select"></div>
			</div>
			<div class="btn-group">
				<button type="button" onclick="javascript:changeclass(popup);" class="btn btn-icon md-icon md-filter"></button>
			</div>
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-icon md-icon md-sort  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
				<ul class="dropdown-menu">
          <li class="active"><a href="#">Date de validité</a></li>
				  <li> <a href="#">Code</a></li>
				</ul>
			</div>
		</div>
	</header>
	<div class="post-content post-list">
		<div class="list-item">
			<div class="row">
				<div class="col-xs-4 col-md-6">
					<div class="media">
						<div class="media-left">
							<div class="checkbox-inline">
								<input id="inlineCheckboxTest11" value="option1" type="checkbox">
								<label for="inlineCheckboxTest11"></label>
							</div>
						</div>
						<div class="media-body">
							<h4>BON-21231</h4>
							Frais de port à 1,00€TTC • À partir de 100,00€ d'achat
						</div>
					</div>
				</div>
        <div class="col-xs-8 col-md-6">
          <div class="row">
            <div class="col-xs-3"><span class="label label-enable">Activé</span></div>
            <div class="col-xs-3 no-white-space">12 utilisés</div>
            <div class="col-xs-3 no-white-space">Du 19/09/2016<br/>Au 19/09/2016 </div>
            <div class="col-xs-3"><a class="btn btn-option pull-right" href="#" role="button">Détail</a></div>
          </div>
        </div>
      </div>
    </div>

      <div class="list-item">
        <div class="row">
          <div class="col-xs-4 col-md-6">
            <div class="media">
              <div class="media-left">
                <div class="checkbox-inline">
                  <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                  <label for="inlineCheckboxTest11"></label>
                </div>
              </div>
              <div class="media-body">
                <h4>BON-21231</h4>
                10,00€TTC de remise • À partir de 100,00€ d'achat
              </div>
            </div>
          </div>
          <div class="col-xs-8 col-md-6">
            <div class="row">
              <div class="col-xs-3"><span class="label label-enable">Activé</span></div>
              <div class="col-xs-3 no-white-space">Illimité</div>
              <div class="col-xs-3 no-white-space">Du 19/09/2016<br/>Au 19/09/2016 </div>
              <div class="col-xs-3"><a class="btn btn-option pull-right" href="#" role="button">Détail</a></div>
            </div>
          </div>
        </div>
      </div>

    		<div class="list-item">
    			<div class="row">
    				<div class="col-xs-4 col-md-6">
    					<div class="media">
    						<div class="media-left">
    							<div class="checkbox-inline">
    								<input id="inlineCheckboxTest11" value="option1" type="checkbox">
    								<label for="inlineCheckboxTest11"></label>
    							</div>
    						</div>
    						<div class="media-body">
    							<h4>BON-21231</h4>
    							15,00% de remise • À partir de 100,00€ d'achat
    						</div>
    					</div>
    				</div>
            <div class="col-xs-8 col-md-6">
              <div class="row">
                <div class="col-xs-3"><span class="label label-disable">Désactivé</span></div>
                <div class="col-xs-3 no-white-space">12 utilisés</div>
                <div class="col-xs-3 no-white-space">Du 19/09/2016<br/>Au 19/09/2016 </div>
                <div class="col-xs-3"><a class="btn btn-option pull-right" href="#" role="button">Détail</a></div>
              </div>
            </div>
          </div>
        </div>

	</div>
	<footer class="post-footer"></footer>
</article>
