		<div class="row no-gutters">
			<div class="col-auto">
					<input id="voucher_<%- voucher_id %>" name="selection" value="<%- voucher_id %>" type="checkbox">
					<label for="voucher_<%- voucher_id %>"></label>
			</div>
			<div class="col item-body">
				<h4><%- code %></h4>
				<span>
					<% if(type == 'shipping') { %>
						Frais de port à <%- value_label %><% if(threshold > 0) { %> pour <%- threshold_label %> d'achat <% } %>
						<% } else if(type == 'amount') { %>
							<%- value_label %> de remise pour <%- threshold_label %> d'achat
							<% } else if(type == 'percent') { %>
								<%- value_label %> de remise<% if(threshold > 0) { %> pour <%- threshold_label %> d'achat <% } %>
								<% } %>
							</span>
						</div>
						<div class="col-4">
							<span title="Dates de début et de fin de validité">
						<span class="mr-2"><i class="md-icon md-card-giftcard"></i><%- start_date %></span>
						<span class="d-inline-block"><i class="md-icon md-from-to"></i><%- end_date %></span>
							<span>
						</div>

						<div class="col-2">
							<% if(is_enabled) { %>
								<span class="badge badge-success">Activé</span>
								<% } else { %>
									<span class="badge badge-danger">Désactivé</span>
									<% }%>
								</div>
								<div class="col-1 no-white-space">
									<% if(is_stock_unlimited) { %>Illimité<% } else { %><%= plural(used, '%d utilisé', '%d utilisés') %> <% } %>
								</div>
								<div class="col-auto">
									<a class="btn btn-primary float-right" href="/modules/vouchers/<%- voucher_id %>" role="button">Détail</a>
								</div>
							</div>
