<article class="post-article">
  <header class="post-header">
    <h1>Liste des transporteurs</h1>
  </header>
  <section class="post-section post-list">
    <div class="list-item">
      <div class="row">
        <div class="col-xs-7">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>Retrait en boutique</h4>
              Commande à récupérer à l'adresse de la boutique
            </div>
          </div>
        </div>
        <div class="col-xs-2"><span class="label label-enable">Activé</span></div>
        <div class="col-xs-3"><a type="button" class="btn btn-option pull-right" href="http://www.google.com" role="button">Détail</a></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-7">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>So Colissimo - la Poste</h4>
              Options de livraison multiples (points relais, sur rendez-vous, etc.)
            </div>
          </div>
        </div>
        <div class="col-xs-2"><span class="label label-disable">Désactivé</span></div>
        <div class="col-xs-3"><a type="button" class="btn btn-option pull-right" href="http://www.google.com" role="button">Détail</a></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-7">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>Colissimo (envoi standard)</h4>
              Commande envoyée à l'adresse de livraison
            </div>
          </div>
        </div>
        <div class="col-xs-2"><span class="label label-enable">Transporteur par défaut</span></div>
        <div class="col-xs-3">
          <div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="post-footer"></footer>
</article>
