<div class="row">
  <div class="col-xs-8">

    <article class="post-article order-detail">
      <header class="post-header">La commande est
        <div class="form-group has-feedback">
          <select class="form-control" ic="exmemple3">
            <option>Payée</option>
            <option>À payer</option>
          </select>
          <div class="form-control-feedback md-feedback md-select"></div>
        </div>
        et
        <div class="form-group has-feedback">
          <select class="form-control" ic="exmemple3">
            <option>À traiter</option>
            <option>En cours</option>
            <option>Traitée</option>
            <option>Expédiée</option>
            <option>Annulée</option>
          </select>
          <div class="form-control-feedback md-feedback md-select"></div>
        </div>
      </header>
      <section class="post-section post-list no-hover">
        <div class="list-item order-item">
          <div class="row">
            <div class="col-xs-5">
              <div class="media">
                <div class="media-left">
                    <div class="media-object md-icon md-image img-default"></div>
      							<div class="media-object"><img alt="" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg" /></div>
                </div>
                <div class="media-body">
                  <h4><a href="#">Intitulé du produit</a></h4>
                  Intitulé de la variante<br/>
                  Réf. : 1234567890
                </div>
              </div>
            </div>
            <div class="col-xs-3 text-right">300,17€TTC<br/>-15,00%</div>
            <div class="col-xs-1">x2</div>
            <div class="col-xs-3 text-right">600,34€TTC</div>
          </div>
        </div>
        <div class="list-item order-item">
          <div class="row">
            <div class="col-xs-5">
              <div class="media">
                <div class="media-left">
                    <div class="media-object md-icon md-image img-default"></div>
    								<div class="media-object"><img alt="" src="http://fr.web.img3.acsta.net/videothumbnails/16/11/04/16/27/220962.jpg" /></div>
                </div>
                <div class="media-body">
                  <h4><a href="#">Intitulé du produit</a></h4>
                  Intitulé de la variante<br/>
                  Réf. : 1234567890
                </div>
              </div>
            </div>
            <div class="col-xs-3 text-right">300,17€TTC</div>
            <div class="col-xs-1">x21</div>
            <div class="col-xs-3 text-right">600,34€TTC</div>
          </div>
        </div>
        <div class="list-item order-item">
          <div class="row">
            <div class="col-xs-5">
              <div class="media">
                <div class="media-left">
                  <div class="media-object media-empty"></div>
                </div>
                <div class="media-body">
                  <h4>Intitulé de l'option</h4>
                  Blabla de l'option
                </div>
              </div>
            </div>
            <div class="col-xs-3 text-right">300,17€TTC</div>
            <div class="col-xs-1">x2</div>
            <div class="col-xs-3 text-right">600,34€TTC</div>
          </div>
        </div>
        <div class="list-item order-item"><span class="md-icon md-card-membership icon-left"></span> 200 points de fidélité ajoutés au compte du membre</div>
        <div class="order-total">
          <div class="row">
            <div class="col-xs-8 text-right"> Total TTC hors frais de port<br>
              Frais de port<br>
              dont TVA<br>
              <span class="total">Total TTC</span>
            </div>
            <div class="col-xs-4 text-right">1200,68€<br>
              8,00€<br>
              68,67€<br>
              <span class="total">1208,68€</span>
            </div>
          </div>
        </div>
      </section>
      <footer class="post-footer"></footer>
    </article>

    <article class="post-article">
      <header class="post-header">
        <h1>Informations sur la livraison</h1>
      </header>
      <section class="post-section">
        <div class="form-group">
          <label class="control-label" for="exmemple1">Transporteur</label>
          <p>So Colissimo</p>
        </div>
        <div class="form-group">
          <label class="control-label" for="exmemple1">Suivi de colis</label>
          <input class="form-control" id="exmemple1" placeholder="Adresse de suivi sous la forme https://www.adresse-de-suivi.com/" type="text">
        </div>
      </section>
      <footer class="post-footer"></footer>
    </article>

    <article class="post-article">
      <header class="post-header">
        <h1>Ajouter une note</h1>
      </header>
      <section class="post-section">
        <div class="form-group">
          <p>La note est à usage interne et n'est pas visible sur la commande de l'acheteur.</p>
          <textarea class="form-control" rows="3"></textarea>
        </div>
      </section>
      <footer class="post-footer"></footer>
    </article>

  </div>
  <div class="col-xs-4">
    <article class="post-article">
      <header class="post-header">
        <h1>À propos de l'acheteur</h1>
      </header>
      <section class="post-section">
        <div class="post-content">
          <a href="#" class="md-icon md-person pull-right"></a>
          <h4>Marc BEYER</h4>
          00 00 00 00 00<br>
          <a href="#">Contacter par email</a>
        </div>
        <div class="post-content">
          <a href="#" class="md-icon md-local-shipping pull-right"></a>
          <h4>Adresse de livraison</h4>
          M Marc Beyer<br>
          40 rue de la cavalerie<br>
          68000 Colmar<br>
          FRANCE METROPOLITAINE
        </div>
        <div class="post-content">
          <a href="#" class="md-icon md-place pull-right"></a>
          <h4>Retrait en magasin</h4>
          Société<br>
          40 rue de la cavalerie<br>
          68000 Colmar<br>
          FRANCE METROPOLITAINE
        </div>
        <div class="post-content">
          <a href="#" class="md-icon md-receipt pull-right"></a>
          <h4>Adresse de facturation</h4>
          M Marc Beyer<br>
          40 rue de la cavalerie<br>
          68000 Colmar<br>
          FRANCE METROPOLITAINE
        </div>
        <div class="post-content">
          <a href="#" class="md-icon md-credit_card pull-right"></a>
          <h4>Mode de paiement</h4>
          Chèque
        </div>
      </section>
      <footer class="post-footer"></footer>
    </article>

    <article class="post-article order-history">
      <section class="post-section">
        <div class="post-content">
          <span class="md-icon md-history pull-right"></span>
          <h4>Historique</h4>
          <p>La commande est Expédiée<br>
            le 22/11/2016 à 18h01<br>
            par Marc Beyer
          </p>
          <p>Validation du paiement<br>
            le 22/11/2016 à 18h01<br>
            par Marc Beyer
          </p>
          <p>Création de la commande<br>
            le 25/08/2016 à 18h03
          </p>
        </div>
      </section>
      <footer class="post-footer"></footer>
    </article>
  </div>
</div>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-cancel">Annuler</button>
		<button type="button" class="btn btn-action  pull-right">Enregistrer</button>
	</div>
</div>

<footer class="footer"> </footer>
