<div class="alert alert-warning" role="alert">
  <a href="https://aide.kiubi.com/recherche/catalogue/tags:Modes%20de%20paiement/" class="md-icon md-help pull-right" target="_blank"></a>
  Vous pouvez activer plusieurs modes de paiement : par <strong>chèque</strong>, par <strong>virement bancaire</strong> et via <strong>PayPal</strong>.
  Si vous disposez d'un contrat de vende à distance avec votre établissement bancaire,
  vous pourrez utiliser les systèmes de paiement en ligne sécurisés <strong>PayBox</strong>, <strong>ATOS-SIPS</strong>, <strong>CM-CIC p@iement</strong> et <strong>Systempay</strong>.
</div>

<article class="post-article">
  <header class="post-header">
    <h1>Liste des modes de paiement</h1>
  </header>
  <section class="post-section post-list">
    <div class="list-item">
      <div class="row">
        <div class="col-xs-7">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>PayBox</h4>
              Solution de paiement en ligne sécurisé multi-banques
            </div>
          </div>
        </div>
        <div class="col-xs-3"><span class="label label-enable">Activé</span></div>
        <div class="col-xs-2"><a type="button" class="btn btn-option pull-right" href="http://www.google.com" role="button">Détail</a></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-7">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>Chèque</h4>
              Paiement par chèque bancaire
            </div>
          </div>
        </div>
        <div class="col-xs-3"><span class="label label-enable">Activé</span></div>
        <div class="col-xs-2"><a type="button" class="btn btn-option pull-right" href="http://www.google.com" role="button">Détail</a></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-7">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>Virement bancaire</h4>
              Paiement par virement bancaire
            </div>
          </div>
        </div>
        <div class="col-xs-3"><span class="label label-disable">Désactivé</span></div>
        <div class="col-xs-2"><a type="button" class="btn btn-option pull-right" href="http://www.google.com" role="button">Détail</a></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-7">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>PayPal</h4>
              Paiement par PayPal
            </div>
          </div>
        </div>
        <div class="col-xs-3"><span class="label label-enable">Activé</span></div>
        <div class="col-xs-2"><a type="button" class="btn btn-option pull-right" href="http://www.google.com" role="button">Détail</a></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-7">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>CM-CIC p@iement</h4>
              Paiement par carte bancaire distribué par les banques :
              <br/>
              Crédit Mutuel - CyberMUT, OBC, Groupe CIC - P@iement CIC
            </div>
          </div>
        </div>
        <div class="col-xs-3"><span class="label label-enable">Activé</span></div>
        <div class="col-xs-2"><a type="button" class="btn btn-option pull-right" href="http://www.google.com" role="button">Détail</a></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-7">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>ATOS SIPS</h4>
              Paiement par carte bancaire distribué par les banques suivantes :
              <br/>
              Société Générale - Sogénactif / Agora, Crédit Lyonnais - Sherlock, HSBC, CCF -
              Elysnet, Crédit du Nord - Webaffaires, La Poste - Scellius, Crédit Agricole -
              e-Transactions, BNP Paribas - Merc@net
            </div>
          </div>
        </div>
        <div class="col-xs-3"><span class="label label-disable">Désactivé</span></div>
        <div class="col-xs-2"><a type="button" class="btn btn-option pull-right" href="http://www.google.com" role="button">Détail</a></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-7">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>Systempay</h4>
              Paiement par carte bancaire distribué par la Banque Populaire (Cyberplus Paiement)
            </div>
          </div>
        </div>
        <div class="col-xs-3"><span class="label label-disable">Désactivé</span></div>
        <div class="col-xs-2"><a type="button" class="btn btn-option pull-right" href="http://www.google.com" role="button">Détail</a></div>
      </div>
    </div>
  </section>
  <footer class="post-footer"></footer>
</article>
