<h2>Accès rapide</h2>
<ul class="nav nav-sidebar">
	<li><a href="/test/checkout">Liste des commandes</a></li>
	<li><a href="/test/checkout/orders">Liste des commandes</a></li>
	<li><a href="/test/checkout/orders/123123">Détail d'une commande</a></li>
	<li><a href="/test/checkout/aborted">Commandes abandonnées</a></li>
	<li><a href="/test/checkout/payments">Modes de paiements</a></li>
	<li><a href="/test/checkout/options">Options à la commande</a></li>
	<li><a href="/test/checkout/options/1234">Détail d'une option</a></li>
	<li><a href="/test/checkout/emails">Emails de confirmation</a></li>
	<li><a href="/test/checkout/carriers">Transporteurs et frais de port</a></li>
	<li><a href="/test/checkout/carriers/shop">Retrait en boutique</a></li>
	<li><a href="/test/checkout/carriers/1234">Détail d'un transporteur</a></li>
	<li><a href="/test/checkout/settings">Paramètres</a></li>
</ul>
<h2>Commandes</h2>
<ul class="nav nav-stacked">
	<li><a href=""><span class="md-icon"></span><span class="badge"><%- overview.pending_count %></span>À traiter</a></li>
	<li><a href=""><span class="md-icon"></span><span class="badge"><%- overview.processing_count %></span>En cours</a></li>
	<li><a href=""><span class="md-icon"></span><span class="badge"><%- overview.processed_count %></span>Traitées</a></li>
	<li><a href=""><span class="md-icon"></span><span class="badge"><%- overview.shipped_count %></span>Expédiées</a></li>
	<li><a href=""><span class="md-icon"></span><span class="badge"><%- overview.cancelled_count %></span>Annulées</a></li>
	<li><a href="">Abandonnées</a></li>
</ul>
<h2>Paramètres e-commerce</h2>
<ul class="nav nav-stacked">
	<li><a href=""><span class="md-icon"></span>Modes de paiement</a></li>
	<li><a href=""><span class="md-icon"></span>Transporteurs et frais de port</a></li>
	<li><a href=""><span class="md-icon"></span>Emails de confirmation</a></li>
	<li><a href=""><span class="md-icon"></span>Options à la commande</a></li>
	<li><a href="/test/checkout/settings"><span class="md-icon"></span>Paramètres</a></li>
</ul>
