<div class="row no-gutters">
	<div class="col-auto">
		<input id="media_file_<%- media_id %>" name="selection" value="<%- media_id %>" type="checkbox">
		<label for="media_file_<%- media_id %>"></label>
	</div>
	<div class="col-auto">
		<% if(type == 'image' && has_thumb) { %>
		<div class="media-object md-icon md-image img-default"></div>
		<div class="media-object"><img alt="" src="<%- convertMediaPath('/media/miniature/' + media_id + '.jpg') %>" /></div>
		<% } else { %>
		<div class="md-icon md-file media-object file"></div><span class="file-type"><%- ext %></span>
		<% } %>
	</div>
	<div class="col item-body">
		<h4><%- name %></h4>
		<span><%- size %><% if(type == 'image') { %> • <%- width %> x <%- height %>px<% } %></span>
	</div>
	<div class="col-5">
		<span title="Date de dernière modification">
		<i class="md-icon md-update"></i><%- last_date %>
		</span>
	</div>
	<div class="col-auto">
		<div class="btn-group float-right" role="group"> <a class="btn btn-primary" href="/media/files/<%- media_id %>" role="button">Détail</a>
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
			<ul class="dropdown-menu dropdown-menu-right">
				<% if(is_copy_supported) { %>
				<li><a class="dropdown-item" href="#" data-role="clipboard" data-clipboard-text="<%- thumb.url %>">Copier l'adresse</a></li>
				<% } %>
				<li><a class="dropdown-item" href="#" data-role="action" data-action="delete" data-confirm="warning">Supprimer</a></li>
			</ul>
		</div>
	</div>
</div>
