<% if(step == 0) { %>
<form>

	<div class="alert alert-warning" role="alert">
		<a href="https://aide.kiubi.com/documentation/Modules/import-de-produits.html"
		   class="md-icon md-help float-right" target="_blank"></a>
		Vous pouvez <strong>importer des fichiers volumineux</strong> de plus de 7Mo dans la médiathèque à partir de votre espace FTP.
		Nous vous conseillons avant tout import de <a
			href="https://aide.kiubi.com/documentation/Preferences-generales/zone-ftp.html"
			target="_blank">consulter la documentation en ligne</a>
		et de <a href="/modules/backups" target="_blank">réaliser un point de sauvegarde</a>.
	</div>

	<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

	<article class="post-article">
		<header class="post-header">
			<h1>Paramètres d'import</h1>
		</header>
		<div class="post-content">

			<div class="form-group has-feedback">
				<label>Dossier</label>

				<p>Vous devez choisir un dossier la médiathèque dans lequel seront importés tous les fichiers.</p>

				<div class="row">
					<div class="col-6">
						<div data-role="folder"></div>
					</div>
				</div>
			</div>

			<div class="form-group has-feedback">
				<label>Contenu</label>

				<% if(summary && summary.count == 0) { %>
					<p>Il n'y a aucun fichier dans l'espace FTP. Publier y des fichiers pour les importer.</p>
				<% } else if(summary && summary.count > 0) { %>
					<p>L'espace FTP contient <%- summary_count %> pour <%- summary_size %>.</p>
				<% } else { %>
					<p data-role="summary">En chargement ...</p>
				<% } %>

			</div>

		</div>
		<footer class="post-footer"></footer>
	</article>

	<article class="post-article">
		<header class="post-header">
			<h1>Publier des fichiers volumineux</h1>
		</header>
		<div class="post-content">
			<p>
				Un compte FTP est disponible pour chaque site. Les informations ci-dessous servent à configurer un logiciel FTP.
			</p>
			<div class="row">
				<div class="col-3">
					<label for="">Adresse de l'hôte :</label>
				</div>
				<div class="col-9"><p><%- ftp.host %></p>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<label for="">Port :</label>
				</div>
				<div class="col-9"><p><%- ftp.port %></p>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<label for="">Nom d'utilisateur :</label>
				</div>
				<div class="col-9"><p><%- ftp.login %></p>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<label for="">Mot de passe :</label>
				</div>
				<div class="col-9"><p><span style="display: none" data-role="password-mask"><%- ftp.password %></span><a data-role="password-toggle" href="#">Afficher le mot de passe</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<label for="">Répertoire racine :</label>
				</div>
				<div class="col-9"><p>/mediatheque/</p>
				</div>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>


</form>

<% if(summary && summary.count > 0){ %>
<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Importer</button>
	</div>
</div>
<% } %>

<% } else { %>

<% if (report.errors && report.errors.length > 0) { %>
<div class="alert alert-danger">
	<strong>L'import n'a pas été réalisé</strong>, il y a des erreurs dans les fichiers.<br/><br/>
	<ul>
		<% _.each(report.errors, function(msg){ %>
		<li><%= msg %></li>
		<% }); %>
	</ul>
</div>
<% } else { %>
<div class="alert alert-success">
	<strong>Import réussi</strong>, les fichiers ont été correctement importées dans la médiathèque !
</div>
<% } %>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-lg btn-primary btn-cancel" data-role="cancel">Retour</button>
	</div>
</div>

<% } %>

<footer class="footer"></footer>
