<div class="row">
	<div class="col-xs-8">
		<div class="media">
			<div class="media-left">
				<% if(type == 'image') { %>
				<div class="media-object md-icon md-image img-default"></div>
				<div class="media-object"><img alt="<%- name %>" src="<%= uploadPreview %>" /></div>
				<% } else { %>
				<div class="md-icon md-file media-object file"></div><span class="file-type"><%- ext %></span>
				<% } %>
			</div>
			<div class="media-body">
				<h4><%- name %></h4>
				<%- size %>
				<% if (uploadProgression.status == 'fail' ) { %>
				<div class="text-danger"><%- uploadProgression.error %></div>
				<% } %>
			</div>
		</div>
	</div>

<% if ( uploadProgression.status == 'pending' || uploadProgression.status == 'uploading' ) { %>
	<div class="col-xs-3">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="<%- uploadProgression.prct %>" aria-valuemin="0" aria-valuemax="100" style="width:<%- uploadProgression.prct %>%"></div>
		</div>
	</div>

<% } else if ( uploadProgression.status == 'done' ) { %>
	<div class="col-xs-4">
		<span class="md-icon md-check-circle pull-right"></span>
	</div>
<% } %>

<% if ( uploadProgression.status == 'pending' ) { %>
	<div class="col-xs-1"><a href="#" class="md-icon md-delete pull-right" data-role="cancel"></a></div>
<% } %>

</div>
