<div class="row no-gutters">
	<div class="col-auto">
		<% if(type == 'image') { %>
		<div class="media-object md-icon md-image img-default"></div>
		<div class="media-object"><img alt="<%- name %>" src="<%= uploadPreview %>" /></div>
		<% } else { %>
		<div class="md-icon md-file media-object file"></div><span class="file-type"><%- ext %></span>
		<% } %>
	</div>
	<div class="col item-body">
				<h4><%- name %></h4>
				<%- size %>
				<% if (uploadProgression.status == 'fail' ) { %>
				<div class="text-danger"><%- uploadProgression.error %></div>
				<% } %>
	</div>

<% if ( uploadProgression.status == 'uploading' ) { %>
	<div class="col-3">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="<%- uploadProgression.prct %>" aria-valuemin="0" aria-valuemax="100" style="width:<%- uploadProgression.prct %>%"></div>
		</div>
	</div>

<% } else if ( uploadProgression.status == 'done' ) { %>
	<div class="col-3">
		<span class="md-icon md-check-circle float-right"></span>
	</div>
<% } %>

<% if ( uploadProgression.status == 'pending' ) { %>
	<div class="col-3"><a href="#" class="md-icon md-delete float-right" data-role="cancel"></a></div>
<% } %>

</div>
