<div class="container-fluid">

	<a href="https://github.com/Kiubi/alpha"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

	<div class="alert alert-warning" role="alert">
	  Vous utilisez <strong>une version alpha</strong> de l'application Back-office de Kiubi qui reste sujette à certains risques de dysfonctionnements.
		Par conséquent, il est important d'y <strong> utiliser un site Internet dédié exclusivement aux tests</strong>.
		Certains modules ne sont <strong>pas encore disponibles</strong> (catalogue, commandes...) ou <strong>fictifs</strong> (dashboard, moteur de recherche...) et seront ajoutés ultérieurement.
	</div>

	<article class="post-article post-acticle-empty dashboard-stats">
		<div class="post-content">
			<div class="row">
				<div class="col-xs-2">
					<div class="dashboard-stats-item" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Total des commandes payées">
						<h1>2</h1>
						<span class="stats-label">Commandes</span><span class="dashboard-stats-select"></span>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="dashboard-stats-item" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Montant total des commandes payées">
						<h1>12k€</h1>
						<span class="stats-label">Chiffre d'affaire</span><span class="dashboard-stats-select"></span>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="dashboard-stats-item" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Moyenne des montants payés par commande">
						<h1>62,00€</h1>
						<span class="stats-label">Panier moyen</span><span class="dashboard-stats-select"></span>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="dashboard-stats-item" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="V.U. ayant passés au moins une commande">
						<h1>4,00%</h1>
						<span class="stats-label">Conversion</span><span class="dashboard-stats-select"></span>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="dashboard-stats-item active" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Total des visiteurs uniques (V.U.)">
						<h1>123</h1>
						<span class="stats-label">Visiteurs uniques</span><span class="dashboard-stats-select"></span>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="dashboard-stats-item" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Total des pages vues (P.V.)">
						<h1>1 435</h1>
						<span class="stats-label">Pages vues</span><span class="dashboard-stats-select"></span>
					</div>
				</div>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

	<article class="post-article dashboard-graph">
		<header class="post-header" style="display:;"><a href="#" class="pull-right">Afficher toutes les statistiques</a>
			<h1>Visiteurs sur les 30 derniers jours</h1>
		</header>
		<div class="post-content">
			<div class="row">
				<div class="col-xs-8 col-lg-9">
					<p><iframe class="chartjs-hidden-iframe" style="display: block; overflow: hidden; border: 0px none; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" tabindex="-1"></iframe>
						<canvas data-role="chart" width="975" height="280" style="display: block; width: 975px; height: 280px;"></canvas>
					</p>
				</div>
				<div class="col-xs-4 col-lg-3">
					<div class="form-group has-feedback no-margin">
						<label class="control-label" for="exmemple3">Période</label>
						<select class="form-control" ic="exmemple3">
							<option>7 derniers jours</option>
							<option>30 derniers jours</option>
							<option selected="selected">Période personnalisée</option>
						</select>
						<div class="form-control-feedback md-feedback md-select"></div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group has-feedback spacer">
								<select class="form-control" ic="exmemple3">
									<option>&nbsp;</option>
									<option>Janvier</option>
									<option selected="selected">Février</option>
									<option>Mars</option>
									<option>Avril</option>
									<option>Mai</option>
									<option>Juin</option>
									<option>juillet</option>
									<option>Aout</option>
									<option>Septembre</option>
									<option>Octobre</option>
									<option>Novembre</option>
									<option>Décembre</option>
								</select>
								<div class="form-control-feedback md-feedback md-date"></div>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group has-feedback">
								<select class="form-control" ic="exmemple3">
									<option>&nbsp;</option>
									<option selected="selected">2017</option>
									<option>2016</option>
									<option>2015</option>
									<option>2014</option>
									<option>2013</option>
									<option>2012</option>
									<option>2011</option>
									<option>2010</option>
									<option>2009</option>
									<option>2008</option>
									<option>2007</option>
								</select>
								<div class="form-control-feedback md-feedback md-date"></div>
							</div>
						</div>
					</div>
					<div class="form-group has-feedback no-margin">
						<label class="control-label" for="exmemple3">Comparer à</label>
						<select class="form-control" ic="exmemple3">
							<option>&nbsp;</option>
							<option>Période précédente</option>
							<option selected="selected">Période personnalisée</option>
						</select>
						<div class="form-control-feedback md-feedback md-select"></div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group has-feedback spacer">
								<select class="form-control" ic="exmemple3">
									<option>&nbsp;</option>
									<option>Janvier</option>
									<option selected="selected">Février</option>
									<option>Mars</option>
									<option>Avril</option>
									<option>Mai</option>
									<option>Juin</option>
									<option>juillet</option>
									<option>Aout</option>
									<option>Septembre</option>
									<option>Octobre</option>
									<option>Novembre</option>
									<option>Décembre</option>
								</select>
								<div class="form-control-feedback md-feedback md-date"></div>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group has-feedback">
								<select class="form-control" ic="exmemple3">
									<option>&nbsp;</option>
									<option selected="selected">2017</option>
									<option>2016</option>
									<option>2015</option>
									<option>2014</option>
									<option>2013</option>
									<option>2012</option>
									<option>2011</option>
									<option>2010</option>
									<option>2009</option>
									<option>2008</option>
									<option>2007</option>
								</select>
								<div class="form-control-feedback md-feedback md-date"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

	<article class="post-article dashboard-activity">
		<header class="post-header"><div class="form-group pull-right">
			<div class="radio-group">
				<input name="affichage" id="affichage1" value="option1" checked="checked" type="radio">
				<label for="affichage1">Toutes les activités</label>
				<input name="affichage" id="affichage0" value="option1" type="radio">
				<label for="affichage0">Utilisateurs</label>
				<input name="affichage" id="affichage2" value="option1" type="radio">
				<label for="affichage2">Site Internet</label>
			</div>
		</div>
		<h1>Activités récentes</h1>
	</header>
	<div class="post-content post-list no-hover">
		<div class="list-item">
			<div class="row">
				<div class="col-xs-8">
					<div class="media">
						<div class="media-left">
							<div class="media-object md-icon md-face img-default img-circle img-avatar"></div>
							<!--- <div class="media-object img-circle img-avatar"><img alt="" src="https://dl.dropboxusercontent.com/u/3502492/avatar.png" /></div> --->
						</div>
						<div class="media-body">Mise à jour du billet du Blog : <a href="#">Kiubi fête ses 10 ans et va de l'avant : open-source et gestion de flux</a>
							<h4>Marc Beyer</h4>
						</div>
					</div>
				</div>
				<div class="col-xs-4 text-right">23/02/2017 à 16h36
				</div>
			</div>
		</div>
		<div class="list-item">
			<div class="row">
				<div class="col-xs-8">
					<div class="media">
						<div class="media-left">
							<div class="media-object md-icon md-face img-default img-circle img-avatar"></div>
							<div class="media-object img-circle img-avatar"><img alt="" src="https://dl.dropboxusercontent.com/u/3502492/avatar.png" /></div>
						</div>
						<div class="media-body">Mise à jour du billet du Blog : <a href="#">Kiubi fête ses 10 ans et va de l'avant : open-source et gestion de flux</a>
							<h4>Marc Beyer</h4>
						</div>
					</div>
				</div>
				<div class="col-xs-4 text-right">23/02/2017 à 16h36
				</div>
			</div>
		</div>
		<div class="list-item">
			<div class="row">
				<div class="col-xs-8">
					<div class="media">
						<div class="media-left">
							<div class="media-object md-icon md-face img-default img-circle img-avatar"></div>
							<div class="media-object img-circle img-avatar"><img alt="" src="https://dl.dropboxusercontent.com/u/3502492/avatar.png" /></div>
						</div>
						<div class="media-body">Mise à jour du billet du Blog : <a href="#">Kiubi fête ses 10 ans et va de l'avant : open-source et gestion de flux</a>
							<h4>Marc Beyer</h4>
						</div>
					</div>
				</div>
				<div class="col-xs-4 text-right">23/02/2017 à 16h36
				</div>
			</div>
		</div>
	</div>
	<footer class="post-footer"></footer>
</article>
</div>
