<h2>Activité en attente</h2>
<ul class="nav nav-stacked">
	<li><a href="/checkout"><span class="md-icon"></span><span class="badge">199</span>Commandes à traiter</a></li>
	<li><a href="/catalog"><span class="md-icon"></span><span class="badge">10 454</span>Ruptures de stock</a></li>
	<li><a href="/catalog/comments"><span class="md-icon"></span><span class="badge">1454</span>Évaluations</a></li>
	<li><a href="/forms/responses"><span class="md-icon"></span><span class="badge">1454</span>Réponses non lues</a></li>
	<li><a href="/blog/comments"><span class="md-icon"></span><span class="badge">3</span>Commentaires</a></li>
</ul>
<div class="quotas">
	<h4>Espace disque <span class="pull-right quotas-detail">500Mo / 2Go</span></h4>
	<div class="progress">
		<div class="progress-bar progress-bar-storage-media" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:15%" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Médias : 3,16Mo"></div>
		<div class="progress-bar progress-bar-storage-data" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Données : 554,71Ko"></div>
		<div class="progress-bar progress-bar-storage-ftp" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="FTP : 5,12Mo"></div>
		<div class="progress-bar progress-bar-free" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Libre : 1,99Go"></div>
	</div>
	<h4>Bande passante <span class="pull-right quotas-detail">80Go / 60Go</span></h4>
	<div class="progress">
		<div class="progress-bar progress-bar-bandwith" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Utilisée : 60Go"></div>
		<div class="progress-bar progress-bar-exceed" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Dépassée : 20Go"></div>
	</div>
	<h4>Requêtes API <span class="pull-right quotas-detail">200K / 879K</span></h4>
	<div class="progress">
		<div class="progress-bar progress-bar-api" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Utilisées : 200K"></div>
		<div class="progress-bar progress-bar-free" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%" data-toggle="tooltip" data-placement="bottom" data-container="body" title="" data-original-title="Disponibles : 679K"></div>
	</div>
</div>
