<div class="brand"><img src="/assets/img/logo_kiubi.png" class="brand-logo" alt="Kiubi"></div>
<div class="login-box">
	<article class="post-article">
		<header class="post-header">
			<h1>Bienvenue sur votre site Internet</h1>
		</header>
		<div class="post-content">
			<form>
			<div class="alert alert-danger" role="alert" style="display:none"></div>
			<div id="group_login" class="form-group has-feedback">
				<label class="control-label" for="login_input">Identifiant <span>ou</span> email</label>
				<input class="form-control" id="login_input" placeholder="" type="text">
				<span class="form-control-feedback md-feedback md-person"></span> 
			</div>
			<div id="group_password" class="form-group has-feedback"><a href="#" class="pull-right">Oublié ?</a>
				<label class="control-label" for="password_input">Mot de passe</label>
				<input class="form-control" id="password_input" placeholder="" type="password">
				<span class="form-control-feedback md-feedback md-key"></span> 
			</div>
			<div class="form-group">
				<div class="checkbox">
					<input id="remember_input" value="" checked="checked" type="checkbox">
					<label for="remember_input">Se souvenir de moi</label>
				</div>
			</div>
			<input type="submit" class="btn btn-action" style="width: 100%;" value="Se connecter">
			<p>Si vous n'avez pas de compte, <a href="https://www.kiubi-admin.com/login/register.html">inscrivez-vous</a>.</p>
			</form>
		</div>
		<footer class="post-footer"><a href="#">Informations légales</a> | <a href="#">Conditions générales d'utilisation</a><br>
			Copyright  © 2017 Kiubi. Tous droits réservés. <br>
			100% fabriqué et hébergé avec ♥ en France. 
		</footer>
	</article>
</div>
