<article class="post-article">
  <header class="post-header">
    <h1>Informations personnelles</h1>
  </header>
  <section class="post-section">
    <div class="media media-detail">
      <div class="media-left">
        <div class="media-object md-icon md-face img-default img-circle img-avatar"></div>
        <div class="media-object img-circle img-avatar">
          <img alt="Un intitulé d'un truc" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg"></a>
        </div><br/>
        <div class="form-group"><input id="exampleInputFile" type="file"></div>
        <p class="media-info">Format : gif, jpeg ou png<br/>Taille : 120 x 120px minimum</p>
      </div>
      <div class="media-body">
        <div class="row">
          <div class="col-xs-6">

            <div class="input-group-select">
              <label class="control-label required" for="exmemple1">Nom</label>
              <div class="form-group has-feedback">
                <select class="form-control" ic="exmemple3" style="">
                  <option selected="selected">M</option>
                  <option>Mme</option>
                </select>
                <div class="form-control-feedback md-feedback md-select"></div>
              </div>
              <div class="input-group">
                <input class="form-control" id="exmemple1" type="text">
              </div>
            </div>

          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label class="control-label required" for="exmemple1">Prénom</label>
              <input class="form-control" id="exmemple1" type="text">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Accès</label>
          <div class="radio-group">
            <input name="affichage" id="affichage1" value="option1" checked="checked" type="radio">
            <label for="affichage1" class="visible">Autorisé</label>
            <input name="affichage" id="affichage0" value="option1" type="radio">
            <label for="affichage0" class="not-visible">Bloqué</label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label required" for="exmemple1">Email</label>
          <input class="form-control" id="exmemple1" type="text" placeholder="L'email est utilisé pour se connecter au site">
        </div>
        <div class="form-group">
          <label class="control-label required" for="exmemple1">Mot de passe</label>
          <input class="form-control" id="exmemple1" type="text" placeholder="Le mot de passe est utilisé pour se connecter au site">
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label class="control-label" for="exmemple1">Pseudo</label>
              <input class="form-control" id="exmemple1" type="text" placeholder="S'affiche à la place du nom">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label class="control-label" for="exmemple1">Site Web</label>
              <input class="form-control" id="exmemple1" type="text" placeholder="https://www.site-web.com/">
            </div>
          </div>
        </div>
        <label class="control-label" for="exmemple3">Groupe extranet</label>
        <p>Un membre peut faire partie d'un groupe de l'<a href="#">extranet</a> ce qui lui permettra d'accéder à certaines pages et fichiers disposant d'un accès restrint.</p>
        <div class="form-horizontal">
          <div class="form-group has-feedback col-xs-6">
            <select class="form-control" ic="exmemple3">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <div class="form-control-feedback md-feedback md-select"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="post-footer"></footer>
</article>

<div class="save">
  <div class="btn-toolbar" role="toolbar">
    <button type="button" class="btn btn-cancel">Supprimer</button>
    <button type="button" class="btn btn-action  pull-right">Enregistrer</button>
  </div>
</div>

<footer class="footer"> </footer>
