<div class="alert alert-warning" role="alert">
  <a href="https://aide.kiubi.com/documentation/marketing-et-referencement/remises-catalogue-b2b.html" class="md-icon md-help pull-right" target="_blank"></a>
  Les remises définies pour un membre <strong>se substituent aux remises du groupe extranet</strong>.
</div>

<article class="post-article">
  <header class="post-header">
    <h1>Remise sur tous les produits</h1>
  </header>
  <section class="post-section">
    <p>Ce membre fait partie du groupe extranet <strong>"Client"</strong> et profite d'une remise de
      <strong>15,00%</strong> sur l'ensemble des produits du catalogue.
      Vous pouvez changer cette remise, uniquement pour ce membre.
    </p>
    <div class="row">
      <div class="col-xs-3">
        <div class="form-group has-feedback">
          <label class="control-label" for="exmemple2">Remise appliquée</label>
          <input class="form-control" id="exmemple2" placeholder="15,00">
          <span class="form-control-feedback md-percent"></span>
        </div>
      </div>
    </div>
  </section>
  <footer class="post-footer"></footer>
</article>

<article class="post-article">
  <header class="post-header">
    <h1>Remises par catégories</h1>
  </header>
  <section class="post-section post-list">
    <p>En complément de la remise sur tous les produits, ce membre peut bénéfichier
      en fonction de son groupe extranet de remises par catégories de produits.
      <strong>Ces remises remplacent la remise</strong> sur tous les produits pour les catégories sélectionnées.
      Vous pouvez changer ou ajouter des remises supplémentaires,
      uniquement pour ce membre.
    </p>
    <div class="row">
      <div class="col-xs-3"><label class="control-label" for="">Remise appliquée</label>
      </div>
      <div class="col-xs-4"><label class="control-label" for="">Catégorie concernée</label>
      </div>
    </div>
    <div class="list-item list-item-form">
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group has-feedback">
            <input class="form-control" id="exmemple2" placeholder="5,00%" value="">
            <span class="form-control-feedback md-percent"></span>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group has-feedback">
            <select class="form-control" ic="exmemple3">
              <option value="151" selected="selected">1 Kg acheté = 1 Kg offert</option>
              <option value="6">Amandes &amp; douceurs</option>
              <option value="7">Pains d'épices</option>
              <option value="12">Meringues à la française</option>
              <option value="47">Macarons fins</option>
              <option value="19">Macarons de Riquewihr</option>
              <option value="26">Gâteaux de Noël "Bredele"</option>
              <option value="20">Gâteaux d'Alsace</option>
              <option value="30">Chocolat &amp; Confiserie</option>
              <option value="32">Biscuits Sablés fins</option>
              <option value="33">Coffrets cadeaux et &lt;br /&gt;Boîtes...</option>
              <option value="212">Notre Sélection &lt;br /&gt; Fête des ...</option>
              <option value="382">Au pied du Sapin</option>
              <option value="392">Fleurs de Pâques</option>
              <option value="402">Fête des mères</option>
              <option value="412">Le goût du bonheur</option>
              <option value="422">Les Trésors de Noël</option>
            </select>
            <div class="form-control-feedback md-feedback md-select"></div>
          </div>
        </div>
        <div class="col-xs-5"><a href="#" class="md-icon md-delete pull-right"></a></div>
      </div>
    </div>
    <div class="list-item list-item-form">
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group has-feedback">
            <input class="form-control" id="exmemple2" placeholder="5,00%" value="">
            <span class="form-control-feedback md-percent"></span>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group has-feedback">
            <select class="form-control" ic="exmemple3">
              <option value="151">1 Kg acheté = 1 Kg offert</option>
              <option value="6" selected="selected">Amandes &amp; douceurs</option>
              <option value="7">Pains d'épices</option>
              <option value="12">Meringues à la française</option>
              <option value="47">Macarons fins</option>
              <option value="19">Macarons de Riquewihr</option>
              <option value="26">Gâteaux de Noël "Bredele"</option>
              <option value="20">Gâteaux d'Alsace</option>
              <option value="30">Chocolat &amp; Confiserie</option>
              <option value="32">Biscuits Sablés fins</option>
              <option value="33">Coffrets cadeaux et &lt;br /&gt;Boîtes...</option>
              <option value="212">Notre Sélection &lt;br /&gt; Fête des ...</option>
              <option value="382">Au pied du Sapin</option>
              <option value="392">Fleurs de Pâques</option>
              <option value="402">Fête des mères</option>
              <option value="412">Le goût du bonheur</option>
              <option value="422">Les Trésors de Noël</option>
            </select>
            <div class="form-control-feedback md-feedback md-select"></div>
          </div>
        </div>
        <div class="col-xs-5"><a href="#" class="md-icon md-delete pull-right"></a></div>
      </div>
    </div>
    <div class="list-item list-item-form">
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group has-feedback">
            <input class="form-control" id="exmemple2" placeholder="5,00%" value="">
            <span class="form-control-feedback md-percent"></span>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group has-feedback">
            <select class="form-control" ic="exmemple3">
              <option value="151">1 Kg acheté = 1 Kg offert</option>
              <option value="6">Amandes &amp; douceurs</option>
              <option value="7" selected="selected">Pains d'épices</option>
              <option value="12">Meringues à la française</option>
              <option value="47">Macarons fins</option>
              <option value="19">Macarons de Riquewihr</option>
              <option value="26">Gâteaux de Noël "Bredele"</option>
              <option value="20">Gâteaux d'Alsace</option>
              <option value="30">Chocolat &amp; Confiserie</option>
              <option value="32">Biscuits Sablés fins</option>
              <option value="33">Coffrets cadeaux et &lt;br /&gt;Boîtes...</option>
              <option value="212">Notre Sélection &lt;br /&gt; Fête des ...</option>
              <option value="382">Au pied du Sapin</option>
              <option value="392">Fleurs de Pâques</option>
              <option value="402">Fête des mères</option>
              <option value="412">Le goût du bonheur</option>
              <option value="422">Les Trésors de Noël</option>
            </select>
            <div class="form-control-feedback md-feedback md-select"></div>
          </div>
        </div>
        <div class="col-xs-5"><a href="#" class="md-icon md-delete pull-right"></a></div>
      </div>
    </div>

    <div class="list-item no-hover"><a href="">Ajouter une remise</a></div>
  </section>
  <footer class="post-footer"></footer>
</article>

<div class="save">
  <div class="btn-toolbar" role="toolbar">
    <button type="button" class="btn btn-action  pull-right">Enregistrer</button>
  </div>
</div>

<footer class="footer"> </footer>
