<div class="alert alert-warning" role="alert">
  <a href="https://aide.kiubi.com/recherche/catalogue/tags:Extranet/" class="md-icon md-help pull-right" target="_blank"></a>
  L'extranet vous permet de restreindre à vos membres l'accès à certaines pages et fichiers de votre site.
  Créez des groupes, modifiez les droits d'accès des membres, protégez les pages de votre site et appliquez des remises de groupes.
</div>

<article class="post-article">
  <header class="post-header">
    <h1>Liste des groupes extranet</h1>
  </header>
  <section class="post-section post-list">
    <div class="list-item">
      <div class="row">
        <div class="col-xs-5">
          <div class="media">
            <div class="media-body">
              <h4>Un intitulé d'un truc</h4>
              <span class="md-icon md-home icon-left"></span><span class="spacer">Membres</span> <span class="spacer">Gestion : Compte</span>
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-md-3"><a href="#">3 membres</a></div>
        <div class="col-xs-2">-15,00%</div>
        <div class="col-xs-3 col-md-2">
          <div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-5">
          <div class="media">
            <div class="media-body">
              <h4>Un intitulé d'un truc</h4>
              <span class="md-icon md-home icon-left"></span><span class="spacer">Membres</span> <span class="spacer">Gestion : Compte</span>
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-md-3"><a href="#">3 membres</a></div>
        <div class="col-xs-2">—</div>
        <div class="col-xs-3 col-md-2">
          <div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-5">
          <div class="media">
            <div class="media-body">
              <h4>Un intitulé d'un truc</h4>
              <span class="text-danger">Bloqué</span>
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-md-3"><a href="#">3 membres</a></div>
        <div class="col-xs-2">-15,00%</div>
        <div class="col-xs-3 col-md-2">
          <div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-5">
          <div class="media">
            <div class="media-body">
              <h4>Un intitulé d'un truc</h4>
              <span class="md-icon md-home icon-left"></span><span class="spacer">Catalogue</span> <span class="spacer">Accueil du catalogue</span>
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-md-3"><a href="#">3 membres</a></div>
        <div class="col-xs-2">-15,00%</div>
        <div class="col-xs-3 col-md-2">
          <div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="post-footer"></footer>
</article>
