<article class="post-article">
  <header class="post-header">
    <h1>Liste des membres</h1>
    <div class="form-inline">
      <div class="checkbox-inline">
        <input id="inlineCheckboxTest10" value="option1" type="checkbox">
        <label for="inlineCheckboxTest10"></label>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-option">Exporter</button>
        <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
        <ul class="dropdown-menu">
          <li><a href="#">Autoriser</a></li>
          <li><a href="#">Bloquer</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" onclick="javascript:changeclass(popup);" class="btn btn-icon md-icon md-filter"></button>
      </div>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-icon md-icon md-sort  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
        <ul class="dropdown-menu">
          <li class="active"><a href="#">Nom</a></li>
          <li><a href="#">Connexion</a></li>
        </ul>
      </div>
    </div>
  </header>
  <section class="post-section post-list">
    <div class="list-item">
      <div class="row">
        <div class="col-xs-5">
          <div class="media">
            <div class="media-left">
              <div class="checkbox-inline">
                <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                <label for="inlineCheckboxTest11"></label>
              </div>
            </div>
            <div class="media-left">
              <div class="media-object md-icon md-face img-default img-circle img-avatar"></div>
              <div class="media-object img-circle img-avatar">
                <img alt="" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg">
              </div>
            </div>
            <div class="media-body">
              <h4>Marc BEYER</h4>
              Connecté le 25/08/2016
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-md-3"><a href="/checkout/orders/123123">#C1703201</a><br/>Colmar (68)</div>
        <div class="col-xs-3 col-md-2">50 commandes<br/>1920,00€TTC</div>
        <div class="col-xs-2"><a type="button" class="btn btn-option pull-right" href="/customers/1234" role="button">Détail</a></div>
        </div>
      </div>
      <div class="list-item">
        <div class="row">
          <div class="col-xs-5">
            <div class="media">
              <div class="media-left">
                <div class="checkbox-inline">
                  <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                  <label for="inlineCheckboxTest11"></label>
                </div>
              </div>
              <div class="media-left">
                <div class="media-object md-icon md-face img-default img-circle img-avatar"></div>
                <div class="media-object img-circle img-avatar">
                  <img alt="" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg">
                </div>
              </div>
              <div class="media-body">
                <h4>Marc BEYER</h4>
                <span class="text-danger">Bloqué</span>
              </div>
            </div>
          </div>
          <div class="col-xs-2 col-md-3">—</div>
          <div class="col-xs-3 col-md-2">—</div>
          <div class="col-xs-2"><a type="button" class="btn btn-option pull-right" href="/customers/1234" role="button">Détail</a></div>
          </div>
        </div>
        <div class="list-item">
          <div class="row">
            <div class="col-xs-5">
              <div class="media">
                <div class="media-left">
                  <div class="checkbox-inline">
                    <input id="inlineCheckboxTest11" value="option1" type="checkbox">
                    <label for="inlineCheckboxTest11"></label>
                  </div>
                </div>
                <div class="media-left">
                  <div class="media-object md-icon md-face img-default img-circle img-avatar"></div>
                  <div class="media-object img-circle img-avatar">
                    <img alt="" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg">
                  </div>
                </div>
                <div class="media-body">
                  <h4>Marc BEYER</h4>
                  Connecté le 25/08/2016
                </div>
              </div>
            </div>
            <div class="col-xs-2 col-md-3"><a href="/checkout/orders/123123">#C1703201</a><br/>Colmar (68)</div>
            <div class="col-xs-3 col-md-2">50 commandes<br/>1920,00€TTC</div>
            <div class="col-xs-2"><a type="button" class="btn btn-option pull-right" href="/customers/1234" role="button">Détail</a></div>
            </div>
          </div>
    </section>
    <footer class="post-footer"></footer>
  </article>
