<h2>Accès direct</h2>
<ul class="nav nav-sidebar">
	<li><a href="/test/customers">Liste des membres</a></li>
	<li><a href="/test/customers/1234">Détail d'un membre</a></li>
	<li><a href="/test/customers/1234/comments/blog">Commentaires</a></li>
	<li><a href="/test/customers/1234/comments/catalog">Evaluations</a></li>
	<li><a href="/test/customers/1234/comments/orders">Commandes</a></li>
	<li><a href="/test/customers/1234/discount">Remise</a></li>
	<li><a href="/test/customers/1234/fidelity">Points de fidélité</a></li>
	<li><a href="/test/customers/groups">Liste des groupes extranet</a></li>
	<li><a href="/test/customers/groups/1234">Détail d'un groupe extranet</a></li>
	<li><a href="/test/customers/settings">Paramètres</a></li>
</ul>

<h2>Membres</h2>
<ul class="nav nav-sidebar">
	<li><a href="/test/customers">Tous les membres</a></li>
	<li><a href="/test/customers/groups">Extranet</a></li>
	<li><a href="/test/customers/settings">Paramètres</a></li>
</ul>

<h2>Modules additionnels</h2>
<ul class="nav nav-sidebar">
	<li><a href="#">Points de fidélité</a></li>
	<li><a href="#">Abonnés à la newsletter</a></li>
	<li><a href="#">Autres modules</a></li>
</ul>
