<h2>Activités en attente</h2>
<ul class="nav nav-sidebar flex-column">
	<% if (show_checkout) { %>
	<li class="nav-item"><a class="nav-link" href="/checkout/orders?status=pending"><span class="badge"><%- pending_orders %></span>Commandes à traiter</a></li>
	<% } %>
	<% if (show_catalog) { %>
	<li class="nav-item"><a class="nav-link" href="/catalog?stock=no"><span class="badge"><%- stock_shortage_count %></span>Ruptures de stock</a></li>
	<% } %>
	<!-- <li class="nav-item"><a class="nav-link" href="/catalog/comments"><span class="badge">0</span>Évaluations</a></li> -->
	<li class="nav-item"><a class="nav-link" href="/forms/inbox?is_read=0"><span class="badge"><%- unread_responses %></span>Réponses non lues</a></li>
	<!-- <li class="nav-item"><a class="nav-link" href="/blog/comments"><span class="badge">0</span>Commentaires</a></li> -->
</ul>
<p class="dashboard-alert">
Vous utilisez la nouvelle console d'administration de Kiubi.
<br><br>Vous pouvez revenir à la version précédente en cliquant sur le bouton ci-dessous.
<a href="#" data-role="dashboard" class="btn btn-info text-white w-100 mt-3">Version précédente</a>
</p>
