<div class="row no-gutters">
	<div class="col-auto">
		<div class="media-object md-icon md-face img-default rounded-circle img-avatar"></div>
		<img src="<%= convertMediaPath(avatar_url) %>" class="rounded-circle media-object img-avatar">
	</div>
	<div class="col item-body">
				<%- text %>
				<h4><%- user_name %></h4>
	</div>
			<div class="col-3">
				<i class="md-icon type-<%- type %>"></i>
			</div>
			<div class="col-3">
				<span data-toggle="tooltip" data-placement="left" data-container="body"
				title="" data-original-title="<%- creation_date %>">
				<%- creation_date_fromnow %></span>
			</div>
	</div>
