<div class="brand"><img src="/assets/img/logo_kiubi.png" class="brand-logo" alt="Kiubi"></div>
<div class="login-box">
	<article class="post-article">
		<header class="post-header">
			<h1>Connectez-vous à votre site</h1>
			<p class="my-4">Vous n'avez pas de compte ? <a href="https://www.kiubi-admin.com/login/register.html">Inscrivez-vous</a></p>
		</header>
		<div class="post-content">
			<form>
			<div class="alert alert-danger" role="alert" style="display:none"></div>
			<div id="group_login" class="form-group has-feedback">
				<label for="login_input">Identifiant <span>ou</span> email</label>
				<input class="form-control form-control-lg" id="login_input" placeholder="" type="text">
				<span class="md-feedback md-person"></span>
			</div>
			<div id="group_password" class="form-group has-feedback"><a href="#" class="float-right d-none">Oublié ?</a>
				<label for="password_input">Mot de passe</label>
				<input class="form-control form-control-lg" id="password_input" placeholder="" type="password">
				<span class="md-feedback md-key"></span>
			</div>
			<div class="form-group">
					<input id="remember_input" value="" checked="checked" type="checkbox">
					<label for="remember_input">Se souvenir de moi</label>
			</div>
				<% if(code_site) { %>
					<input type="submit" class="btn btn-lg btn-success btn-save w-100" value="Se connecter à <%- code_site %>">
					<p><a href="#" data-role="clear">Vous ne voulez pas vous connecter à ce site ?</a></p>
				<% } else { %>
					<input type="submit" class="btn btn-lg btn-success btn-save w-100" value="Se connecter">
				<% } %>
			</form>
		</div>
		<footer class="post-footer"><a href="https://www.kiubi.com/mentions-legales.html" target="_blank">Informations légales</a> | <a href="http://www.kiubi.com/theme/fr/CGV_Kiubi.pdf" target="_blank">Conditions générales d'utilisation</a><br>
			Copyright  © 2017 Kiubi. Tous droits réservés. <br>
			100% fabriqué et hébergé avec ♥ en France.
		</footer>
	</article>
</div>
