<div class="container">
	<article class="post-article post-acticle-empty">
		<header class="post-header">
			<h1><% if(message) { %><%-message%><% } else { %>La page que vous essayez de consulter n'existe plus<% } %></h1>
		</header>
		<div class="post-content">
			<div class="post-content">
			Nous vous invitons à retourner sur <a href="/">le tableau de bord</a>.
			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>
</div>

<div class="container-fluid"></div>

<footer class="footer"> </footer>
