

<div class="logo"><img src="/assets/img/logo_kiubi.png"></div>

<ul class="nav flex-column nav-main">
	<% _(mainItems).each(function(item){ %>
	<li class="nav-item <%= item.is_active ? 'active' : '' %>">
		<% if(item.is_enabled) { %>
		<a href='<%- item.path %>' class="nav-link" title="<%- item.name %>"><span class="md-icon md-icon-menu <%- item.className %>"></span></a>
		<% } else { %>
		<span class="nav-link disabled" title="<%- item.name %> indisponible"><span class="md-icon md-icon-menu <%- item.className %>"></span></span>
		<% } %>
	</li>
	<% }) %>
</ul>

<ul class="nav flex-column tools">
	<% _(toolsItems).each(function(item){ %>
	<li class="nav-item <%= item.is_active ? 'active' : '' %>">
		<% if(item.is_enabled) { %>
		<a href="<%- item.path %>" <%= item.blank ? 'target="_blank"' : '' %>  class="nav-link" title="<%- item.name %>"><span class="md-icon md-icon-menu <%- item.className %>"></span></a>
		<% } else { %>
		<span class="nav-link disabled" title="<%- item.name %> (Désactivé) indisponible"><span class="md-icon md-icon-menu <%- item.className %>"></span></span>
		<% } %>
	</li>
	<% }) %>
	<li class="nav-item bt-closed"><span class="nav-link" title="Réduire/Agrandir" data-role="close"><span class="md-icon md-icon-menu"></span></span></li>
</ul>

<% if(isAuth) { %>
<div class="user dropup">
	<a href="#" id="accountmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<img src="<%- user.avatar %>" class="rounded-circle img-avatar d-block mx-auto" title="<%- user.firstname %> <%- user.lastname %>">
	</a>
	<div class="dropdown-menu ml-2 mb-2" aria-labelledby="accountmenu">
		<div class="user-detail dropdown-item-text text-nowrap">
			<a href="#" data-role="me" class="d-inline-block" title="Gérer mon profil">
				<img src="<%- user.avatar %>" class="rounded-circle img-avatar d-block float-left mr-3">
				<span>
					<strong><%- user.firstname %> <%- user.lastname %></strong>
					<br>
					<small><%- user.email %></small>
				</span>
			</a>
		</div>
		<div class="dropdown-divider"></div>
		<div class="row no-gutters">
			<div class="col-5 d-none d-md-flex flex-column border-right border-light">
				<% if (has_scope_subscription) { %>
					<div class="text-nowrap">
						<a class="dropdown-item" data-role="subscription" href="#" title="Gérer mon abonnement">
						<%- site.plan.plan_name %><br>
						<% if (site.plan.is_free) { %>
							<small class="">Offert</small>
						<% } else if (site.plan.is_trial) { %>
							<small class="">Jusqu'au <%- endtrial_date %></small>
						<% } else { %>
							<small class="">Jusqu'au <%- closing_date %><br>
							<%- plural(site.plan.balance, '%d crédit restant', '%d crédits restant') %><br>
							</small>
						<% } %>
					</a>
					</div>
				<% } else { %>
					<div class="dropdown-item-text text-nowrap">
						<%- site.plan.plan_name %><br>
						<% if (site.plan.is_free) { %>
							<small class="">Offert</small>
						<% } else if (site.plan.is_trial) { %>
							<small class="">Jusqu'au <%- endtrial_date %></small>
						<% } else { %>
							<small class="">Jusqu'au <%- closing_date %><br>
							<%- plural(site.plan.balance, '%d crédit restant', '%d crédits restant') %><br>
							</small>
						<% } %>
					</div>
				<% } %>

				<div class="dropdown-divider"></div>
				<div><a class="dropdown-item py-2" target="_blank" href="https://aide.kiubi.com/" title="Documentation et aide en ligne">Documentation</a></div>
				<% if(has_scope_support) { %>
				<div><a class="dropdown-item py-2" href="#" data-role="support" title="Ouvrir un ticket de support">Support</a></div>
				<% } else { %>
				<div><span class="dropdown-item-text disabled py-2">Support</span></div>
				<% } %>
				<% if (has_scope_users) { %>
				<div><a class="dropdown-item py-2" href="#" data-role="users" title="Gérer les utilisateurs">Utilisateurs</a></div>
				<% } else { %>
				<div><span class="dropdown-item-text disabled py-2">Utilisateurs</span></div>
				<% } %>
				<% if (has_scope_subscription) { %>
				<div><a class="dropdown-item py-2" data-role="bill" href="#" title="Accéder aux factures">Factures</a></div>
				<% } else { %>
				<div><span class="dropdown-item-text disabled py-2">Factures</span></div>
				<% } %>
				<div class="dropdown-divider mt-auto"></div>
				<div><a class="dropdown-item" href="#" data-role="logout" title="Se déconnecter de Kiubi">Se déconnecter</a></div>
			</div>
			<div class="col-12 col-md-7 quotas">
				<div data-role="usage"></div>
				<% if(has_scope_subscription) { %>
				<div>
					Quand vos quotas sont atteints, <a href="#" data-role="subscription" class="text-info">faites évoluer votre abonnement</a>
				</div>
				<% } %>
			</div>
		</div>
	</div>
</div>
<% } %>
