<form>

  <div class="alert alert-warning" role="alert">
    Les coordonnées ci-dessous concernent uniquement <strong>le propriétaire de ce site Internet</strong>,
    qui peut être différent du propriétaire du compte Kiubi.
    Les coordonnées de ce site Internet sont mentionnées dans de nombreux documents :
    factures, commandes, mentions légales, etc. <strong>Veillez donc à ce qu'elles soient toujours valides</strong>.
  </div>

  <div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

  <article class="post-article">
    <header class="post-header">
      <h1>Propriétaire du site</h1>
    </header>
    <div class="post-content">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="civility">Civilité</label>
            <select id="civility" name="civility" data-style="selectify">
              <option value="Mr" <%= civility == "Mr" ? 'selected="selected"' : '' %>>M</option>
              <option value="Mrs" <%= civility == "Mrs" ? 'selected="selected"' : '' %>>Mme</option>
              <option value="Miss" <%= civility == "Miss" ? 'selected="selected"' : '' %>>Mlle</option>
            </select>
          </div>
        </div>
        <div class="col-5">
          <div class="form-group">
            <label class="required" for="lastname">Nom</label>
            <input class="form-control" name="lastname" id="lastname" type="text" value="<%- lastname %>">
          </div>
        </div>
        <div class="col-5">
          <div class="form-group">
            <label class="required" for="firstname">Prénom</label>
            <input class="form-control" name="firstname" id="firstname" type="text" value="<%- firstname %>">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label class="required" for="email">Email</label>
            <p>
              Cet email sera le destinataire de plusieurs informations
              provenant de Kiubi : notifications, messages d'information, factures d'abonnement, copies des commandes, etc.
            </p>
            <input class="form-control" name="email" id="email" type="text" value="<%- email %>" placeholder="">
          </div>
        </div>
      </div>
    </div>
    <footer class="post-footer"></footer>
  </article>

  <article class="post-article">
    <header class="post-header">
      <h1>Coordonnées postales et téléphoniques</h1>
    </header>
    <div class="post-content">
      <div class="form-group">
        <label class="required" for="address">Adresse</label>
        <input id="address" name="address" class="form-control" value="<%- address %>" placeholder="">
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label class="required" for="zipcode">Code postal</label>
            <input id="zipcode" name="zipcode" class="form-control" value="<%- zipcode %>" placeholder="">
          </div>
        </div>
        <div class="col-8">
          <div class="form-group">
            <label class="required" for="city">Ville</label>
            <input id="city" name="city" class="form-control" value="<%- city %>" placeholder="">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="country_id">Pays</label>
            <div data-role="countries"></div>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-4">
          <div class="form-group">
            <label class="required" for="phone">Téléphone</label>
            <input id="phone" name="phone" class="form-control" value="<%- phone %>" placeholder="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="mobile">Mobile</label>
            <input id="mobile" name="mobile" class="form-control" value="<%- mobile %>" placeholder="">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="fax">Fax (encore utile parait-il ;))</label>
            <input id="fax" name="fax" class="form-control" value="<%- fax %>" placeholder="">
          </div>
        </div>
      </div>
    </div>
    <footer class="post-footer"></footer>
  </article>

  <article class="post-article">
    <header class="post-header">
      <h1>Informations sur la société</h1>
    </header>
    <div class="post-content">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="company_name">Dénomination sociale</label>
            <input id="company_name" name="company_name" class="form-control" value="<%- company_name %>" placeholder="Le nom légal de la société">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="company_forme">Forme juridique</label>
            <input id="company_forme" name="company_forme" class="form-control" value="<%- company_forme %>" placeholder="EURL, SARL, SAS, SA, ...">
          </div>
        </div>
        <div class="col-8">
          <div class="form-group">
            <label for="company_capital">Capital social</label>
            <input id="company_capital" name="company_capital" class="form-control" value="<%- company_capital %>" placeholder="Vous pouvez préciser le montant, avec ou sans la devise">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="company_siret">Siret</label>
            <input id="company_siret" name="company_siret" class="form-control" value="<%- company_siret %>" placeholder="Composé de 14 caractères" maxlength="20">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="company_rcs">RCS</label>
            <input id="company_rcs" name="company_rcs" class="form-control" value="<%- company_rcs %>" placeholder="Composé de 13 caractères" maxlength="20">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="company_naf">NAF (ou APE)</label>
            <input id="company_naf" name="company_naf" class="form-control" value="<%- company_naf %>" placeholder="Composé de 5 caractères" maxlength="20">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="company_tva">Numéro de TVA intracommunautaire</label>
            <input id="company_tva" name="company_tva" class="form-control" value="<%- company_tva %>" placeholder="Composé de 14 caractères" maxlength="20">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="company_cnil">Numéro de déclaration CNIL</label>
            <input id="company_cnil" name="company_cnil" class="form-control" value="<%- company_cnil %>" placeholder="À déclarer sur https://www.cnil.fr/">
          </div>
        </div>
      </div>
    </div>
    <footer class="post-footer"></footer>
  </article>

</form>

<div class="save">
  <div class="btn-toolbar" role="toolbar">
    <button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Enregistrer</button>
  </div>
</div>

<footer class="footer"> </footer>
