<form style="display: none;" data-role="new">

	<div class="list-item">

		<div class="alert alert-danger" data-role="errors" role="alert" style="display: none;"></div>

		<div class="form-group">
			<label class="control-label required" for="name">Nom de domaine</label>
			<div class="input-group">
				<span class="input-group-addon">http://</span>
				<input class="form-control" id="name" name="name" value="" placeholder="domaine.com">
				<span class="input-group-addon"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Ajouter le nom de domaine <span data-role="sub">www.</span></label>
			<div class="radio-group">
				<input name="sub" id="sub1" value="1" checked="checked" type="radio">
				<label for="sub1" class="">Oui</label>
				<input name="sub" id="sub0" value="0" type="radio">
				<label for="sub0" class="">Non</label>
			</div>
		</div>
		<p>
			Si vous souhaitez utiliser des noms de domaine accentués,
			vous devez les saisir sous le format <a href="https://www.punycoder.com/" target="_blank">Punycode</a> :
			<br/><code>www.accentué.fr</code> doit être saisi <code>www.xn--accentu-hya.fr</code>
		</p>
		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-cancel" data-role="action" data-action="cancel">Annuler</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-action" data-role="action" data-action="save">Enregistrer</button>
			</div>
		</div>
	</div>

</form>

<div class="list-item no-hover"><a href="#" data-role="action" data-action="show">Associer un nom de domaine</a></div>
