<div class="alert alert-warning" role="alert">
  <a href="https://aide.kiubi.com/preferences.html#noms-de-domaine" class="md-icon md-help float-right" target="_blank"></a>
  Vous pouvez associer un ou plusieurs noms de domaine, préalablement acquis chez
  <a href="https://fr.wikipedia.org/wiki/Registar" target="_blank">un dépositaire</a>,
  à votre site Internet.

  Une fois le dépôt effectué et validé, votre dépositaire vous permet de configurer la zone DNS de vos domaines.
  <a href="https://aide.kiubi.com/preferences.html#noms-de-domaine" target="_blank">Définissez l'enregistrement A</a>
  des domaines pour le serveur de Kiubi à l'adresse IP :

  <p class="lead text-center my-4"><strong data-role="ip"></strong></p>
  Une fois validée, cette reconfiguration peut prendre de <strong>24 à 48 heures pour être opérationnelle</strong>.
  Du côté de Kiubi, veillez à ajouter les noms de domaine que vous avez déposés et à en choisir un comme domaine principal.
  <br/><br/>
  Votre adresse d'origine <code><%- domain %></code> restera toujours valable et n'est pas modifiable.
</div>

<article data-role="list"></article>

<footer class="footer"> </footer>
