<div class="row" data-role="list">
	<div class="col-xs-6">
		<div class="media">
			<div class="media-body">
				<h4><%- name %></h4>
				<% if (is_https_enabled) { %>
				<% if(is_https_certified){  %>HTTPS activé<% } else { %>HTTPS en cours d'activation<% } %>
				<% } %>
			</div>
		</div>
	</div>
	<div class="col-xs-2"><% if(is_main) { %><span class="label label-enable">Principal</span><% } %></div>
	<div class="col-xs-4">
		<% if(actions.length == 1) { %>
		<button type="button" class="btn btn-option pull-right" role="button" data-role="action" data-action="<%- actions[0].action %>" data-confirm="<%- actions[0].confirm %>"><%- actions[0].label %></button>
		<% } else if (actions.length > 1) { %>
		<div class="btn-group pull-right" role="group"> <button type="button" class="btn btn-option" role="button" data-role="action" data-action="<%- actions[0].action %>"><%- actions[0].label %></button>
			<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
			<ul class="dropdown-menu dropdown-menu-right">
				<% _.each(actions, function(action, index){ if (index==0) return; %>
				<li><a href="#" data-role="action" data-action="<%- action.action %>" data-confirm="<%- action.confirm %>"><%- action.label %></a></li>
				<% }) %>
			</ul>
		</div>
		<% } %>
	</div>
</div>
