<form>

  <div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

  <article class="post-article">
    <header class="post-header">
      <h1>Conditions préalables</h1>
    </header>
    <div class="post-content">
      <p>
        L'accès HTTPS permet de chiffrer et de sécuriser l'intégralité du
        <a href="https://fr.wikipedia.org/wiki/Application_de_front_office" target="_blank">front-office</a> du site Internet.
        L'adresse du site Internet changera de HTTP à HTTPS : <code>http://<%- fqdn %></code> deviendra <code>https://<%- fqdn %></code>.
      </p>
      <p>
        Avant d'activer l'accès HTTPS, veuillez noter que :
      </p>
      <ul>
        <li><a href="/prefs/domains">Les noms de domaine associés au site</a>  doivent être correctement configurés sur l'adresse IP indiquée</li>
        <li>Il faut patienter au moins 5 minutes après l'activation de l'accès HTTPS pour que le site soit pris en charge</li>
        <li>Le sitemap du site généré automatiquement est mis à jour 24 heures après l'activation du HTTPS</li>
        <li>Le certificat SSL/TLS utilisé pour l'accès HTTPS n’est pas compatible avec IE8 et précédents sur Windows XP</li>
      </ul>
      <p>
        Les supports, garanties et conditions générales de vente liées au certificat SSL/TLS utilisé par Kiubi sont
        <a href="https://letsencrypt.org/repository/" target="_blank">celles de Let’s Encrypt</a>.
        Elles sont par conséquence soumises aux évolutions et modifications effectuées par ce dernier.
      </p>
      <p>
        Nous vous conseillons avant toute activation de l'accès HTTPS de
        <a href="https://aide.kiubi.com/preferences.html#acces-https" target="_blank">consulter la documentation en ligne</a> afin de
        prendre connaissance de l'ensemble des informations nécessaires à la bonne utilisation de cette fonctionnalité.
      </p>
    </div>
    <footer class="post-footer"></footer>
  </article>

  <article class="post-article">
    <header class="post-header">
      <h1>Accès HTTPS</h1>
    </header>
    <div class="post-content">

      <div class="form-group">
        <div class="form-check">
          <input name="is_enabled" id="is_enabled1" value="1" type="radio" <%= (is_enabled) ? 'checked="checked"' : '' %>>
          <label for="is_enabled1" class="visible">Activé (recommandé)</label>
          <input name="is_enabled" id="is_enabled0" value="0" type="radio" <%= (!is_enabled) ? 'checked="checked"' : '' %>>
          <label for="is_enabled0" class="not-visible">Désactivé</label>
        </div>
      </div>

		<% if (is_enabled) { %>
		<% switch(status) { case 'TODO' : %>
		La demande d'activation de l'accès HTTPS est en attente de traitement, merci de patienter quelques minutes.
		<% break; case 'PENDING' : %>
		La demande d'activation de l'accès HTTPS est en cours en traitement.
		<% break; case 'ERROR' : %>
		L'activation HTTPS a échoué, merci de reessayer dans quelques instants.
		<% brek;} %>
		<% } %>

    </div>
    <footer class="post-footer"></footer>
  </article>

</form>

<div class="save">
  <div class="btn-toolbar" role="toolbar">
    <button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Enregistrer</button>
  </div>
</div>

<footer class="footer"> </footer>
