	<div class="row i18n-list"  data-role="list">
			<div class="col">
				<code class="i18n-id"><%- msgid %></code>
			</div>
			<div class="col-1 align-item-center justify-content-center">
				<span class="md-icon md-next"></span>
			</div>
			<div class="col">
				<code>
					<% if(msgstr) { %>
						<%- msgstr %>
						<% } else { %>
							<em class="text-muted">Pas de traduction</em>
							<% } %>
						</code>
					</div>
			<div class="col-auto">
				<div class="btn-group float-right" role="group">
					<a class="btn btn-primary" href="#" role="button" data-role="action" data-action="edit">Détail</a>
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a class="dropdown-item" href="#" data-role="action" data-action="delete" data-confirm="warning">Supprimer</a></li>
					</ul>
				</div>
			</div>
		</div>

		<form style="display: none;" data-role="edit">

			<div class="alert alert-danger" data-role="errors" role="alert" style="display: none;"></div>

			<div class="form-group has-feedback">
				<label ><%- msgid %></label>
				<input class="form-control" name="msgstr" value="<%- msgstr %>" placeholder="Traduction">
			</div>

			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-lg btn-primary btn-cancel" data-role="action" data-action="cancel">Annuler</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-lg btn-success btn-save" data-role="action" data-action="save">Enregistrer</button>
				</div>
			</div>

		</form>
