<form>

  <div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>

  <article class="post-article">
    <header class="post-header">
      <h1>Tailles des vignettes et miniatures</h1>
    </header>
    <div class="post-content">
      <p>
        Quand une image est publiée dans la médiathèque,
        Kiubi génère automatiquement 4 images supplémentaires de tailles différentes,
        en plus de l'image d'origine. Ces images peuvent être utilisées
        dans le contenu ou les templates graphiques du site.
      </p>
      <div class="row">
        <div class="col-8">
          <div class="form-group">
            <label for="">Taille maximum des grandes vignettes</label>
            <div class="row">
              <div class="col-6">
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"></span></div>
                  <input class="form-control" name="g_vignette_width" id="g_vignette_width" value="<%- g_vignette_width %>" placeholder="1">
                  <div class="input-group-append"><span class="input-group-text">pixels de largeur</span></div>
                </div>
              </div>
              <div class="col-6">
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"></span></div>
                  <input class="form-control" name="g_vignette_height" id="g_vignette_height" value="<%- g_vignette_height %>" placeholder="1">
                  <div class="input-group-append"><span class="input-group-text">pixels de hauteur</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="form-group">
            <label for="">Taille maximum des vignettes</label>
            <div class="row">
              <div class="col-6">
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"></span></div>
                  <input class="form-control" name="vignette_width" id="vignette_width" value="<%- vignette_width %>" placeholder="1">
                  <div class="input-group-append"><span class="input-group-text">pixels de largeur</span></div>
                </div>
              </div>
              <div class="col-6">
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"></span></div>
                  <input class="form-control" name="vignette_height" id="vignette_height" value="<%- vignette_height %>" placeholder="1">
                  <div class="input-group-append"><span class="input-group-text">pixels de hauteur</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="form-group">
            <label for="">Taille maximum des grandes miniatures</label>
            <div class="row">
              <div class="col-6">
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"></span></div>
                  <input class="form-control" name="g_miniature_width" id="g_miniature_width" value="<%- g_miniature_width %>" placeholder="1">
                  <div class="input-group-append"><span class="input-group-text">pixels de largeur</span></div>
                </div>
              </div>
              <div class="col-6">
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"></span></div>
                  <input class="form-control" name="g_miniature_height" id="g_miniature_height" value="<%- g_miniature_height %>" placeholder="1">
                  <div class="input-group-append"><span class="input-group-text">pixels de hauteur</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="form-group">
            <label for="">Taille maximum des miniatures</label>
            <div class="row">
              <div class="col-6">
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"></span></div>
                  <input class="form-control" name="miniature_width" id="miniature_width" value="<%- miniature_width %>" placeholder="0">
                  <div class="input-group-append"><span class="input-group-text">pixels de largeur</span></div>
                </div>
              </div>
              <div class="col-6">
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"></span></div>
                  <input class="form-control" name="miniature_height" id="miniature_height" value="<%- miniature_height %>" placeholder="0">
                  <div class="input-group-append"><span class="input-group-text">pixels de hauteur</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="post-footer"></footer>
  </article>

<% if(enableAdvanced) { %>

	<article class="post-article">
		<header class="post-header">
			<h1>Traitement des images</h1>
		</header>
		<div class="post-content">
			<p>
				Quand une image est publiée dans la médiathèque,
				Kiubi peut la redimensionner automatiquement
        si elle est plus grande que la taille indiquée.
        L'image originale n'est pas conservée et remplacée par
        sa version redimensionnée.
			</p>
			<div class="row">
				<div class="col-12">
					<div class="form-group">
						<label>Redimensionnement automatique</label>
						<div class="form-check">
							<input name="is_resize_enabled" id="is_resize_enabled1" value="1" type="radio" <%= is_resize_enabled ? 'checked="checked"' : '' %>>
							<label for="is_resize_enabled1" class="visible">Activé</label>
							<input name="is_resize_enabled" id="is_resize_enabled0" value="0" type="radio" <%= !is_resize_enabled ? 'checked="checked"' : '' %>>
							<label for="is_resize_enabled0" class="not-visible">Désactivé</label>
						</div>
					</div>
				</div>
				<div class="col-8">
					<div class="form-group">
						<label for="">Taille maximum des images</label>
						<div class="row">
							<div class="col-6">
								<div class="input-group">
									<div class="input-group-prepend"><span class="input-group-text"></span></div>
									<input class="form-control" name="max_width" value="<%- max_width %>" placeholder="Taille d'origine">
									<div class="input-group-append"><span class="input-group-text">pixels de largeur</span></div>
								</div>
							</div>
							<div class="col-6">
								<div class="input-group">
									<div class="input-group-prepend"><span class="input-group-text"></span></div>
									<input class="form-control" name="max_height" value="<%- max_height %>" placeholder="Taille d'origine">
									<div class="input-group-append"><span class="input-group-text">pixels de hauteur</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<label for="">Qualité des JPEG</label>
							<div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"></span></div>
							  <input class="form-control" name="jpg_compression" value="<%- jpg_compression %>" placeholder="85">
                <div class="input-group-append"><span class="input-group-text">sur 100</span></div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<footer class="post-footer"></footer>
	</article>

<% } %>

  <article class="post-article">
    <header class="post-header">
      <h1>Publier des fichiers volumineux</h1>
    </header>
    <div class="post-content">
      <p>
        Un compte FTP est disponible pour chaque site.
        Il permet de publier des fichiers volumineux de plus de 7Mo dans la médiathèque.
        Les informations ci-dessous servent à configurer un logiciel FTP.
      </p>
      <div class="row">
        <div class="col-3">
          <label for="">Adresse de l'hôte :</label>
        </div>
        <div class="col-9"><p><%- ftp.host %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label for="">Port :</label>
        </div>
        <div class="col-9"><p><%- ftp.port %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label for="">Nom d'utilisateur :</label>
        </div>
        <div class="col-9"><p><%- ftp.login %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label for="">Mot de passe :</label>
        </div>
        <div class="col-9"><p><span style="display: none" data-role="password-mask"><%- ftp.password %></span><a data-role="password-toggle" href="#">Afficher le mot de passe</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label for="">Répertoire racine :</label>
        </div>
        <div class="col-9"><p>/mediatheque/</p>
        </div>
      </div>
    </div>
    <footer class="post-footer"></footer>
  </article>

</form>

<div class="save">
  <div class="btn-toolbar" role="toolbar">
    <button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Enregistrer</button>
  </div>
</div>

<footer class="footer"> </footer>
