<h2>Préférences</h2>
<ul class="nav nav-sidebar">
	<li><a href="/prefs">Préférences générales</a></li>
	<li><a href="/prefs/contact">Coordonnées du site</a></li>
<!--	<li><a href="/prefs/users">Comptes utilisateurs</a></li> -->
	<li><a href="/prefs/meta">Meta par défaut</a></li>
	<li><a href="/prefs/medias">Fichiers de la médiathèque</a></li>
	<li><a href="/prefs/domains">Noms de domaine</a></li>
	<li><a href="/prefs/https">Accès HTTPS</a></li>
	<li><a href="/prefs/l10n">Traductions</a></li>
	<li><a href="/prefs/gdpr">Données personnelles</a></li>
	<li><a href="/prefs/shortcut">Raccourcis clavier</a></li>
</ul>
