<div class="alert alert-warning" role="alert">
  Un utilisateur peut avoir accès à la console d'administration d'un ou plusieurs sites Internet du compte Kiubi.
  Ses informations personnelles <strong>sont communes à l'ensemble du compte Kiubi</strong> mais ses droits d'accès <strong>concernent uniquement ce site Internet</strong>.
</div>

<article class="post-article">
  <header class="post-header">
    <h1>Informations personnelles <span class="label label-default pull-right">Commun au compte</span></h1>
  </header>
  <div class="post-content">
    <div class="media media-detail">
      <div class="media-left">
        <div class="media-object md-icon md-face img-default img-circle img-avatar"></div>
        <div class="media-object img-circle img-avatar">
          <img alt="Un intitulé d'un truc" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg"></a>
        </div><br/>
        <div class="form-group"><input id="exampleInputFile" type="file"></div>
        <p class="media-info">Format : gif, jpeg ou png<br/>Taille : 120 x 120px minimum</p>
      </div>
      <div class="media-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group-select">
              <label class="control-label required" for="exmemple1">Nom</label>
              <div class="form-group has-feedback">
                <select class="form-control" ic="exmemple3" style="">
                  <option selected="selected">M</option>
                  <option>Mme</option>
                </select>
                <div class="form-control-feedback md-feedback md-select"></div>
              </div>
              <div class="input-group">
                <input class="form-control" id="exmemple1" type="text">
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label class="control-label required" for="exmemple1">Prénom</label>
              <input class="form-control" id="exmemple1" type="text">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label required" for="exmemple1">Email</label>
          <input class="form-control" id="exmemple1" type="text" placeholder="Utilisé pour se connecter à la console d'administration">
        </div>
        <div class="form-group">
          <label class="control-label required" for="exmemple1">Mot de passe</label>
          <input class="form-control" id="exmemple1" type="text" placeholder="Utilisé pour se connecter à la console d'administration">
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label class="control-label" for="exmemple1">Pseudo</label>
              <input class="form-control" id="exmemple1" type="text" placeholder="S'affiche à la place du nom">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label class="control-label" for="exmemple1">Site Web</label>
              <input class="form-control" id="exmemple1" type="text" placeholder="https://www.site-web.com/">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="post-footer"></footer>
</article>

<article class="post-article">
  <header class="post-header">
    <h1>Droits d'accès <span class="label label-default pull-right">Spécifique au site</span></h1>
  </header>
  <div class="post-content">
    <div class="form-group has-feedback">
      <label class="control-label" for="exmemple3">Profil de l'utilisateur</label>
      <p>Les éditeurs disposent de droits étendus, ils peuvent accéder à tous les services et gérer les préférences du site.</p>
      <div class="row">
        <div class="col-xs-4">
          <select class="form-control" ic="exmemple3">
            <option value="editeur" selected="selected">Éditeur</option>
            <option value="redacteur">Rédacteur</option>
          </select>
          <div class="form-control-feedback md-feedback md-select"></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="">Droits optionnels</label>
      <div class="row">
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox1" value="" type="checkbox" checked="checked"><label for="checkbox1">Accéder au Site web</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox12" value="" type="checkbox" checked="checked"><label for="checkbox12">Accéder au Blog</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox13" value="" type="checkbox" checked="checked"><label for="checkbox13">Accéder au Catalogue</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox14" value="" type="checkbox" checked="checked"><label for="checkbox14">Accéder aux Commandes</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox15" value="" type="checkbox" checked="checked"><label for="checkbox15">Accéder aux Membres</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox16" value="" type="checkbox" checked="checked"><label for="checkbox16">Accéder au Modules</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox17" value="" type="checkbox" checked="checked"><label for="checkbox17">Accéder au options marketing</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox18" value="" type="checkbox" checked="checked"><label for="checkbox18">Gérer le Référencement</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox19" value="" type="checkbox" checked="checked"><label for="checkbox19">Gérer l'Apparence</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox110" value="" type="checkbox" checked="checked"><label for="checkbox110">Gérer le Thème graphique</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox111" value="" type="checkbox" checked="checked"><label for="checkbox111">Gérer les Préférences</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox112" value="" type="checkbox" checked="checked"><label for="checkbox112">Gérer les Utilisateurs</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox113" value="" type="checkbox" checked="checked"><label for="checkbox113">Gérer les noms de domaine</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox114" value="" type="checkbox" checked="checked"><label for="checkbox114">Gérer les Sauvegardes</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox115" value="" type="checkbox" checked="checked"><label for="checkbox115">Créditer le site</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group has-feedback">
      <label class="control-label" for="exmemple3">Groupe extranet</label>
      <p>
        Un utilisateur peut faire partie d'un groupe de l'<a href="#">extranet</a>
        ce qui lui permettra d'accéder à certaines pages et fichiers du site disposant d'un accès restrint.
      </p>
      <div class="row">
        <div class="col-xs-4">
          <select class="form-control" ic="exmemple3">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <div class="form-control-feedback md-feedback md-select"></div>
        </div>
      </div>
    </div>

  </div>
  <footer class="post-footer"></footer>
</article>

<article class="post-article">
  <header class="post-header">
    <h1>Droits d'accès <span class="label label-default pull-right">Spécifique au site</span></h1>
  </header>
  <div class="post-content">
    <div class="form-group has-feedback">
      <label class="control-label" for="exmemple3">Profil de l'utilisateur</label>
      <p>
        Les rédacteurs disposent de droits restreints, ils ne peuvent pas gérer les préférences du site.
      </p>
      <div class="row">
        <div class="col-xs-4">
          <select class="form-control" ic="exmemple3">
            <option value="editeur">Éditeur</option>
            <option value="redacteur" selected="selected">Rédacteur</option>
          </select>
          <div class="form-control-feedback md-feedback md-select"></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="">Droits optionnels</label>
      <div class="row">
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox1" value="" type="checkbox" checked="checked"><label for="checkbox1">Accéder au Site web</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox12" value="" type="checkbox" checked="checked"><label for="checkbox12">Accéder au Blog</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox13" value="" type="checkbox" checked="checked"><label for="checkbox13">Accéder au Catalogue</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox14" value="" type="checkbox" checked="checked"><label for="checkbox14">Accéder aux Commandes</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox15" value="" type="checkbox" checked="checked"><label for="checkbox15">Accéder aux Membres</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox16" value="" type="checkbox" checked="checked"><label for="checkbox16">Accéder au Modules</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox17" value="" type="checkbox" checked="checked"><label for="checkbox17">Accéder au options marketing</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox18" value="" type="checkbox" checked="checked"><label for="checkbox18">Gérer le Référencement</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox19" value="" type="checkbox" checked="checked"><label for="checkbox19">Gérer l'Apparence</label>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="checkbox">
            <input id="checkbox110" value="" type="checkbox" checked="checked"><label for="checkbox110">Gérer le Thème graphique</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group has-feedback">
      <label class="control-label" for="exmemple3">Groupe extranet</label>
      <p>
        Un utilisateur peut faire partie d'un groupe de l'<a href="#">extranet</a>
        ce qui lui permettra d'accéder à certaines pages et fichiers du site disposant d'un accès restrint.
      </p>
      <div class="row">
        <div class="col-xs-4">
          <select class="form-control" ic="exmemple3">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <div class="form-control-feedback md-feedback md-select"></div>
        </div>
      </div>
    </div>
  </div>
  <footer class="post-footer"></footer>
</article>

<div class="save">
  <div class="btn-toolbar" role="toolbar">
    <button type="button" class="btn btn-delete">Supprimer</button>
    <button type="button" class="btn btn-action  pull-right">Enregistrer</button>
  </div>
</div>

<footer class="footer"> </footer>
