<div class="alert alert-warning" role="alert">
  <a href="https://aide.kiubi.com/recherche/catalogue/tags:Utilisateurs/" class="md-icon md-help pull-right" target="_blank"></a>
  Vous pouvez créer des utilisateurs selon <strong>différents profils</strong>,
  disposant de <strong>droits spécifiques</strong> et ayant accès à la console d'administration d'<strong>un ou plusieurs sites Internet</strong> du compte Kiubi.
</div>

<article class="post-article">
  <header class="post-header">
    <h1>Liste des utilisateurs (3 sur 5)</h1>
  </header>
  <div class="post-content post-list">
    <div class="list-item">
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-left">
              <div class="media-object md-icon md-face img-default img-circle img-avatar"></div>
              <div class="media-object img-circle img-avatar">
                <img alt="" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg">
              </div>
            </div>
            <div class="media-body">
              <h4>Marc BEYER</h4>
              Connecté le 25/08/2016
            </div>
          </div>
        </div>
        <div class="col-xs-4"><span class="label label-default">Rédacteur</span></div>
        <div class="col-xs-2"><a class="btn btn-option pull-right" href="/prefs/users/123" role="button">Détail</a></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-left">
              <div class="media-object md-icon md-face img-default img-circle img-avatar"></div>
              <div class="media-object img-circle img-avatar">
                <img alt="" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg">
              </div>
            </div>
            <div class="media-body">
              <h4>Marc BEYER</h4>
              Connecté le 25/08/2016
            </div>
          </div>
        </div>
        <div class="col-xs-4"><span class="label label-default">Éditeur</span></div>
        <div class="col-xs-2"><a class="btn btn-option pull-right" href="/prefs/users/123" role="button">Détail</a></div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-left">
              <div class="media-object md-icon md-face img-default img-circle img-avatar"></div>
              <div class="media-object img-circle img-avatar">
                <img alt="" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg">
              </div>
            </div>
            <div class="media-body">
              <h4>Marc BEYER</h4>
              Connecté le 25/08/2016
            </div>
          </div>
        </div>
        <div class="col-xs-4"><span class="label label-default">Rédacteur</span></div>
        <div class="col-xs-2"><a class="btn btn-option pull-right" href="/prefs/users/123" role="button">Détail</a></div>
      </div>
    </div>
  </div>
  <footer class="post-footer"></footer>
</article>
