<article class="post-article dashboard-activity w-100">
<header class="post-header">
	<nav class="float-right">
		<ul class="pagination">
			<li class="page-item disabled" data-role="previous"><a class="page-link" href="#"><span class="md-icon md-previous"></span></a></li>
			<li class="page-item disabled" data-role="next"><a class="page-link" href="#"><span class="md-icon md-next"></span></a></li>
		</ul>
	</nav>
	<h1>Activités récentes</h1>
</header>

<div data-role="list"></div>

<footer class="post-footer"></footer>
</article>
