<header class="post-header">
	<h1>Visites par périphériques</h1>
</header>
<div class="post-content">
	<div class="row no-gutters">
		<div class="col-3">
			<div>
				<canvas data-role="chart" style="height: 140px;" class="mt-4"></canvas>
			</div>
		</div>
		<div class="col-8 offset-1 my-5">
			<div class="row no-gutters">
				<div class="col"> <span class="tags tags-color-3"></span>
					<h4 class="d-inline-block ml-1">Ordinateurs</h4>
				</div>
				<div class="col-3" data-role="desktop-value">-</div>
				<div class="col-3 text-right" data-role="desktop-prct"></div>
			</div>
			<div class="row no-gutters mt-3">
				<div class="col"> <span class="tags tags-color-4"></span>
					<h4 class="d-inline-block ml-1">Tablettes</h4>
				</div>
				<div class="col-3" data-role="tablet-value">-</div>
				<div class="col-3 text-right" data-role="tablet-prct"></div>
			</div>
			<div class="row no-gutters mt-3">
				<div class="col"> <span class="tags tags-color-2"></span>
					<h4 class="d-inline-block ml-1">Mobiles</h4>
				</div>
				<div class="col-3" data-role="mobile-value">-</div>
				<div class="col-3 text-right" data-role="mobile-prct"></div>
			</div>
		</div>
	</div>
</div>
<footer class="post-footer"></footer>
