<article class="post-article">
  <header class="post-header">
    <h1>Informations générales</h1>
  </header>
  <section class="post-section">
    <div class="form-group">
      <label class="control-label required" for="exmemple1">Intitulé du formulaire</label>
      <input class="form-control" id="exmemple1" placeholder="Intitulé permettant d'identifier le formulaire" type="text">
    </div>
    <div class="form-group">
      <label for="">Affichage</label>
      <div class="radio-group">
        <input name="affichage" id="affichage1" value="option1" checked="checked" type="radio">
        <label for="affichage1" class="visible">Visible</label>
        <input name="affichage" id="affichage0" value="option1" type="radio">
        <label for="affichage0" class="not-visible">Masqué</label>
      </div>
    </div>
  </section>
  <footer class="post-footer"></footer>
</article>

<article class="post-article">
  <header class="post-header">
    <h1>Liste des champs</h1>
  </header>
  <section class="post-section post-list">
    <div class="list-item">
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>Intitulé du champ</h4>
              Que des chiffres
            </div>
          </div>
        </div>
        <div class="col-xs-3">Obligatoire</div>
        <div class="col-xs-3">
          <div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>Intitulé du champs</h4>
              Civilité
            </div>
          </div>
        </div>
        <div class="col-xs-3">Facultatif</div>
        <div class="col-xs-3">
          <div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>Intitulé du champs</h4>
              <span class="text-danger">Masqué</span>
            </div>
          </div>
        </div>
        <div class="col-xs-3">Obligatoire</div>
        <div class="col-xs-3">
          <div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label class="control-label" for="exmemple4">Affichage</label>
            <div class="radio-group">
              <input name="inlineRadioOptions" id="inlineRadio1" value="option1" checked="checked" type="radio">
              <label for="inlineRadio1" class="visible">Visible</label>
              <input name="inlineRadioOptions" id="inlineRadio2" value="option1" type="radio">
              <label for="inlineRadio2" class="not-visible">Masqué</label>
            </div>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="form-group">
            <label class="control-label" for="exmemple4">Champ à renseigner</label>
            <div class="radio-group">
              <input name="obligatoire" id="obligatoire1" value="option1" checked="checked" type="radio">
              <label for="obligatoire1" class="">Obligatoire</label>
              <input name="obligatoire" id="obligatoire2" value="option1" type="radio">
              <label for="obligatoire2" class="">Facultatif</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label required" for="exmemple1">Label du champ</label>
        <input class="form-control" id="exmemple1" placeholder="Label du champ tel qu'il apparaitra dans le formulaire" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" for="exmemple1">Aide à la saisie</label>
        <input class="form-control" id="exmemple1" placeholder="Courte description pour aider à correctement renseigner le champ" type="text">
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group has-feedback">
            <label class="control-label" for="exmemple1">Type de champ</label>
            <select name="select" class="form-control" ic="exmemple3">
              <option value="text" selected="selected">Texte</option>
              <option value="textarea">Texte multiligne</option>
              <option value="date">Date</option>
              <option value="datetime">Date et heure</option>
              <option value="chiffres">Que des chiffres</option>
              <option value="lettres">Que des lettres</option>
              <option value="email">Email</option>
              <option value="civilite">Civilité</option>
              <option value="select">Liste déroulante</option>
              <option value="checkbox">Cases à cocher</option>
              <option value="radio">Boutons radio</option>
              <option value="fieldset">Groupe de champs (fieldset)</option>
              <option value="upload">Fichier à envoyer</option>
              <option value="departements">Départements</option>
              <option value="regions">Régions</option>
              <option value="pays">Pays</option>
            </select>
            <div class="form-control-feedback md-feedback md-select"></div>
          </div>
        </div>
        <div class="col-xs-4">

          <div class="form-group">
            <label class="control-label" for="exmemple4">Email de l'expéditeur</label>
            <div class="radio-group">
              <input name="expediteur" id="expediteur1" value="option1" checked="checked" type="radio">
              <label for="expediteur1" class="">Oui</label>
              <input name="expediteur" id="expediteur2" value="option1" type="radio">
              <label for="expediteur2" class="">Non</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label required" for="exmemple1">Liste des valeurs</label>
        <input class="form-control" id="exmemple1" placeholder="Valeur 1, Valeur 2, Valeur 3, ..." type="text">
      </div>
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-cancel">Annuler</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-action">Enregistrer</button>
        </div>
      </div>
    </div>
    <div class="list-item">
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a></div>
            <div class="media-body">
              <h4>Intitulé du champs</h4>
              Texte
            </div>
          </div>
        </div>
        <div class="col-xs-3">Obligatoire</div>
        <div class="col-xs-3">
          <div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="list-item no-hover"><a href="">Ajouter un champ</a></div>
  </section>
  <footer class="post-footer"></footer>
</article>

<div class="save">
  <div class="btn-toolbar" role="toolbar">
    <button type="button" class="btn btn-cancel">Supprimer</button>
    <button type="button" class="btn btn-action  pull-right">Enregistrer</button>
  </div>
</div>

<footer class="footer"> </footer>
