<div class="alert alert-warning" role="alert">
 <a href="https://aide.kiubi.com/recherche/catalogue/tags:Dismoi%3F/" class="md-icon md-help pull-right" target="_blank"></a>
  Dismoi? est le gestionnaire de formulaires de Kiubi.
  Il vous permet d'<strong>éditer et gérer différents types de formulaires</strong> pour votre site Internet.
</div>

<article class="post-article">
  <header class="post-header">
    <h1>Liste des formulaires</h1>
  </header>
  <section class="post-section post-list">
    <div class="list-item">
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-body">
              <h4>Formulaire d'inscription</h4>
              Créé le 25/08/2016 à 18h03
            </div>
          </div>
        </div>
        <div class="col-xs-3"><a href="#">1234</a> <strong><a href="#">(234)</a></strong></div>
        <div class="col-xs-3">
          <div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="list-item">
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-body">
              <h4>Contact</h4>
              Créé le 25/08/2016 à 18h03
            </div>
          </div>
        </div>
        <div class="col-xs-3"><a href="#">1234</a> <strong><a href="#">(234)</a></strong></div>
        <div class="col-xs-3">
          <div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="list-item">
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-body">
              <h4>Opération Backfish</h4>
              Créé le 25/08/2016 à 18h03
            </div>
          </div>
        </div>
        <div class="col-xs-3"><a href="#">1234</a> <strong><a href="#">(234)</a></strong></div>
        <div class="col-xs-3">
          <div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="list-item">
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-body">
              <h4>Contacts experts</h4>
              <span class="text-danger">Masqué</span>
            </div>
          </div>
        </div>
        <div class="col-xs-3"><a href="#">1234</a> <strong><a href="#">(234)</a></strong></div>
        <div class="col-xs-3">
          <div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
            <button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section>
  <footer class="post-footer"></footer>
</article>
