<h2>Dismoi</h2>
<ul class="nav nav-sidebar">
	<li><a href="/forms/responses"><span class="badge">1454</span>Boite de réception</a></li>
	<li><a href="/forms"><span class="badge badge-danger">10</span>Formulaires</a></li>
</ul>
<!--
<h2>Formulaies</h2>
<ul class="nav nav-sidebar">
	<li><a href="/forms/1234">Féliciter nos pâtissiers</a></li>
	<li><a href="/forms/1234">Demander notre catalogue</a></li>
	<li><a href="/forms/1234">Faire une réclamation</a></li>
	<li><a href="/forms/1234">Déposer une candidature</a></li>
	<li><a href="/forms/1234">Proposer un partenariat</a></li>
	<li><a href="/forms/1234">Vous êtes un journaliste</a></li>
	<li><a href="/forms/1234">Je postule pour</a></li>
	<li><a href="/forms/1234">Autre</a></li>
	<li><a href="/forms/1234">ETE2015</a></li>
	<li><a href="/forms/1234">Parlons des ingrédients...</a></li>
	<li><a href="/forms/1234">Formulaire de recrutement</a></li>
	<li><a href="/forms/1234">Formulaire de contact avancé</a></li>
	<li><a href="/forms/1234">Témoignage : Vous et nos produits</a></li>
	<li><a href="/forms/1234">Essai</a></li>
	<li><a href="/forms/1234">Essai</a></li>
</ul>
-->
<h2>Accès direct</h2>
<ul class="nav nav-sidebar">
	<li><a href="/forms/responses">Boite de réception</a></li>
	<li><a href="/forms">Listes des formulaires</a></li>
	<li><a href="/forms/1234">Détail d'un formulaire</a></li>
	<li><a href="/forms/1234/settings">Paramètres d'un formulaire</a></li>
</ul>
