<article class="post-article">
	<header class="post-header">
		<h1>Informations générales</h1>
	</header>
	<section class="post-section">
		<div class="form-group">
			<label class="control-label required" for="exmemple1">Intitulé de la catégorie</label>
			<input class="form-control" id="exmemple1" placeholder="Intitulé de catégorie tel qu'il apparaîtra dans le menu" type="text">
		</div>
		<div class="form-group">
			<label class="control-label" for="exmemple4">Affichage</label>
			<div class="radio-group">
				<input name="inlineRadioOptions" id="inlineRadio1" value="option1" checked="checked" type="radio">
				<label for="inlineRadio1" class="visible">Visible</label>
				<input name="inlineRadioOptions" id="inlineRadio2" value="option1" type="radio">
				<label for="inlineRadio2" class="not-visible">Masqué</label>
			</div>
		</div>
	</section>
	<footer class="post-footer"></footer>
</article>

<article class="post-article">
	<header class="post-header">
		<h1>Détail de la catégorie</h1>
	</header>
	<section class="post-section">
		<div class="form-group">
			<label class="control-label" for="exmemple1">illustration</label>
			<p><a href="#">Accéder à la médiathèque</a><a href="#" class="md-icon md-delete"></a></p>
		</div>
		<div class="form-group">
			<label class="control-label" for="exmemple1">Description</label>
			<textarea class="form-control" rows="5" placeholder="Placeholder du contenu"></textarea>
		</div>
</section>
<footer class="post-footer"></footer>
</article>


<article class="post-article">
	<header class="post-header no-border">
		<h1>Mise en page</h1>
	</header>
	<section class="post-section templates">
		<div class="media">
			<div class="media-left"><a href="#">
				<table class="template">
					<tbody><tr>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td style="width: 33%;"></td>
						<td></td>
					</tr>
					<tr>
						<td colspan="2"></td>
					</tr>
				</tbody></table></a>
			</div>
			<div class="media-body form-horizontal">  <p class="no-margin">La mise en page choisie détermine l'apparence de cette page :</p>
				<div class="form-group has-feedback col-xs-5">
					<select class="form-control" ic="exmemple3">
						<option>Page de contenu</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
					<div class="form-control-feedback md-feedback md-select"></div>
				</div>
				<p><a href="#">Modifier cette mise en page</a><br><a href="#">Créer une nouvelle mise en page</a></p>
			</div>
		</div>
	</section>
	<footer class="post-footer"></footer>
</article>

<article class="post-article">
	<header class="post-header"><a href="#seo" class="pull-right" data-toggle="collapse"
		aria-expanded="false" aria-controls="seo">Afficher plus d'informations</a>
		<h1>Référencement</h1>
	</header>
	<section class="post-section">
		<div class="form-group no-margin">
			<label class="control-label required" for="exmemple1">Adresse de la page</label>
			<div class="input-group"> <span class="input-group-addon" id="basic-addon3">https://kv4.kiubi-web.com/catalogue/</span>
				<input class="form-control" value="adresse-de-la-page">
				<span class="input-group-addon" id="basic-addon2"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="checkbox">
				<input id="checkbox1" value="" type="checkbox">
				<label for="checkbox1">Créer une redirection vers la nouvelle adresse</label>
			</div>
		</div>
		<div class="form-group"><span class="letter-counter">123</span>
			<label class="control-label" for="exmemple2">Titre de la page</label>
			<input class="form-control" id="exmemple2" placeholder="Contenu de la balise &lt;title&gt; qui remplacera celle définie par défaut" type="text">
		</div>
		<div class="form-group"><span class="letter-counter">123</span>
			<label class="control-label" for="exmemple1">Description de la page</label>
			<textarea class="form-control" rows="5" placeholder="Contenu de la balise &lt;meta description&gt; qui remplacera celle définie par défaut"></textarea>
		</div>
		<div class="collapse" id="seo">
			<div class="form-group"><span class="letter-counter">123</span>
				<label class="control-label" for="exmemple1">Mots clés de la page</label>
				<textarea class="form-control" rows="5" placeholder="Contenu de la balise &lt;meta keywords&gt; qui remplacera celle définie par défaut"></textarea>
			</div>
			<div class="form-group">
				<label class="control-label" for="exmemple1">Code avant &lt;/head&gt;</label>
				<textarea class="form-control" rows="5" placeholder="Code placé avant la balise &lt;/head&gt; qui remplacera celui défini par défaut"></textarea>
			</div>
			<div class="form-group">
				<label class="control-label" for="exmemple1">Code avant &lt;/body&gt;</label>
				<textarea class="form-control" rows="5" placeholder="Code placé avant la balise &lt;/body&gt; qui remplacera celui défini par défaut"></textarea>
			</div>
		</div>
	</section>
	<footer class="post-footer"></footer>
</article>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-cancel">Supprimer</button>
		<button type="button" class="btn btn-action  pull-right">Enregistrer</button>
	</div>
</div>

<footer class="footer"> </footer>
