<article class="post-article">
	<header class="post-header">
		<h1>Liste des catégories</h1>
		<div class="form-inline">
			<div class="checkbox-inline">
				<input id="inlineCheckboxTest5" value="option1" type="checkbox">
				<label for="inlineCheckboxTest5"></label>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-option">Afficher</button>
				<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span></button>
				<ul class="dropdown-menu">
					<li><a href="#">Afficher</a></li>
					<li><a href="#">Masquer</a></li>
					<li><a href="#">Classer de A &rarr; Z</a></li>
					<li><a href="#">Supprimer</a></li>
				</ul>
			</div>
		</div>
	</header>
	<section class="post-section post-list">
		<div class="list-item">
			<div class="row">
				<div class="col-xs-6 col-md-7">
					<div class="media">
						<div class="media-left">
							<div style="width: 18px"></div>
						</div>
						<div class="media-left">
							<div class="media-object md-icon md-product img-default catalog-home"></div>
						</div>
						<div class="media-left">
							<div style="width: 31px"></div>
						</div>
						<div class="media-body">
							<h4>Accueil du catalogue</h4>
							La page d'accueil du catalogue peut être modifiée mais ne peut pas être déplacée ou supprimée
						</div>
					</div>
				</div>
				<div class="col-xs-3"><a href="/catalog/home">0 produit en vente</a></div>
				<div class="col-xs-3 col-md-2">
					<div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
						<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#">Aperçu</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="list-item">
			<div class="row">
				<div class="col-xs-6 col-md-7">
					<div class="media">
						<div class="media-left">
							<div class="checkbox-inline">
								<input id="inlineCheckboxTest6" value="option1" type="checkbox">
								<label for="inlineCheckboxTest6"></label>
							</div>
						</div>
						<div class="media-left">
							<div class="media-object md-icon md-image img-default"></div>
							<div class="media-object"><img alt="" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg" /></div>
						</div>
						<div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a> </div>
						<div class="media-body">
							<h4>Un intitulé d'un truc</h4>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate pulvinar tellus.
							Donec pulvinar neque vel arcu egestas malesuada. Nullam consectetur dui sed libero maximus finibus.
						</div>
					</div>
				</div>
				<div class="col-xs-3"><a href="/catalog/categories/1234/products">12 produits en vente</a></div>
				<div class="col-xs-3 col-md-2">
					<div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
						<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#">Aperçu</a></li>
							<li><a href="#">Supprimer</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="list-item">
			<div class="row">
				<div class="col-xs-6 col-md-7">
					<div class="media">
						<div class="media-left">
							<div class="checkbox-inline">
								<input id="inlineCheckboxTest7" value="option1" type="checkbox">
								<label for="inlineCheckboxTest7"></label>
							</div>
						</div>
						<div class="media-left">
							<div class="media-object md-icon md-image img-default"></div>
							<div class="media-object"><img alt="" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg" /></div>
						</div>
						<div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a> </div>
						<div class="media-body">
							<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate pulvinar tellus. Donec pulvinar neque vel arcu egestas malesuada. Nullam consectetur dui sed libero maximus finibus. </h4>
							<span class="text-danger">Masqué</span>
						</div>
					</div>
				</div>
				<div class="col-xs-3"><a href="/catalog/categories/1234/products">12 produits en vente</a></div>
				<div class="col-xs-3 col-md-2">
					<div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
						<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#">Aperçu</a></li>
							<li><a href="#">Supprimer</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="list-item">
			<div class="row">
				<div class="col-xs-6 col-md-7">
					<div class="media">
						<div class="media-left">
							<div class="checkbox-inline">
								<input id="inlineCheckboxTest8" value="option1" type="checkbox">
								<label for="inlineCheckboxTest8"></label>
							</div>
						</div>
						<div class="media-left">
							<div class="media-object md-icon md-image img-default"></div>
							<div class="media-object"><img alt="" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg" /></div>
						</div>
						<div class="media-left"><a href="#" class="md-icon md-drag btn-drag"></a> </div>
						<div class="media-body">
							<h4>Un intitulé d'un truc</h4>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate pulvinar tellus.
							Donec pulvinar neque vel arcu egestas malesuada. Nullam consectetur dui sed libero maximus finibus.
						</div>
					</div>
				</div>
				<div class="col-xs-3"><a href="/catalog/categories/1234/products">12 produits en vente</a></div>
				<div class="col-xs-3 col-md-2">
					<div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
						<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#">Aperçu</a></li>
							<li><a href="#">Supprimer</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="post-footer"></footer>
</article>
