<article class="post-article">
	<header class="post-header">
		<h1>Liste des produits</h1>
		<div class="form-inline">
			<div class="checkbox-inline">
				<input id="inlineCheckboxTest10" value="option1" type="checkbox">
				<label for="inlineCheckboxTest10"></label>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-option">Afficher</button>
				<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
				<ul class="dropdown-menu">
					<li><a href="#">Masquer</a></li>
					<li><a href="#">Mettre en avant</a></li>
					<li><a href="#"><strike>Mettre en avant</strike></a></li>
					<li><a href="#">Exporter</a></li>
					<li><a href="#">Supprimer</a></li>
				</ul>
			</div>
			<div class="form-group has-feedback">
				<select class="form-control select-category" ic="exmemple3">
					<option selected="selected">Catégories</option>
					<option value="151">1 Kg acheté = 1 Kg offert</option>
					<option value="6">Amandes &amp; douceurs</option>
					<option value="7">Pains d'épices</option>
					<option value="12">Meringues à la française</option>
					<option value="47">Macarons fins</option>
					<option value="19">Macarons de Riquewihr</option>
					<option value="26">Gâteaux de Noël "Bredele"</option>
					<option value="20">Gâteaux d'Alsace</option>
					<option value="30">Chocolat &amp; Confiserie</option>
					<option value="32">Biscuits Sablés fins</option>
					<option value="33">Coffrets cadeaux et &lt;br /&gt;Boîtes...</option>
					<option value="42">Saint Valentin</option>
					<option value="44">Collection de Pâques 2011</option>
					<option value="46">Cadeaux Fête des Mères 2011</option>
					<option value="50">Fête des Grands-mères</option>
					<option value="61">Cadeaux Fête des Pères</option>
					<option value="101">Boîtes décorées vides</option>
					<option value="111">Desserts d'été 2011</option>
					<option value="121">Nos Nouveautés fruitées</option>
					<option value="131">En attendant Noël</option>
					<option value="141">Prodigieusement Noël</option>
					<option value="161">Notre Collection de Pâques 2012</option>
					<option value="162">Notre Sélection Fête des Mères 2...</option>
					<option value="172">Les Lillikougs</option>
					<option value="182">Sélection de Noël 2012</option>
					<option value="192">Moule à "Lamala"</option>
					<option value="202">Notre Collection de Pâques 2013</option>
					<option value="212">Notre Sélection &lt;br /&gt; Fête des ...</option>
					<option value="222">Spectaculaire, Café &amp; Thé</option>
					<option value="232">Un Noël aux saveurs d'étoiles...</option>
					<option value="242">Notre "délicieux bestiaire" de P...</option>
					<option value="252">Test</option>
					<option value="262">Nos idées cadeaux Fête des Mères</option>
					<option value="282">Les plus "chocolatés"</option>
					<option value="292">Le meilleur de Noël</option>
					<option value="302">Notre sélection de Pâques 2015</option>
					<option value="312">Catégorie</option>
					<option value="322">Secrets de printemps</option>
					<option value="332">Sélection Fête des Mères</option>
					<option value="342">Kougelhopf Spécial Apéritif</option>
					<option value="352">Assortiments à classer</option>
					<option value="362">Produits à arrêter</option>
					<option value="9">Nos Assortiments de biscuits</option>
					<option value="382">Au pied du Sapin</option>
					<option value="392">Fleurs de Pâques</option>
					<option value="402">Fête des mères</option>
					<option value="412">Le goût du bonheur</option>
					<option value="422">Les Trésors de Noël</option>
				</select>
				<div class="form-control-feedback md-feedback md-select"></div>
			</div>
			<div class="form-group has-feedback" style="">
				<select class="form-control select-tag" ic="exmemple3">
					<option>Tags </option>
					<option>Le journal</option>
					<option>Inside Kiubi</option>
					<option>L'atelier</option>
					<option>Les releases</option>
				</select>
				<div class="form-control-feedback md-feedback md-select"></div>
			</div>
			<div class="form-group has-feedback">
				<select class="form-control select-state" ic="exmemple3">
					<option>Statuts</option>
					<option>En stock</option>
					<option>Rupture</option>
				</select>
				<div class="form-control-feedback md-feedback md-select"></div>
			</div>
			<div class="btn-group">
				<button type="button" onclick="javascript:changeclass(popup);" class="btn btn-icon md-icon md-filter"></button>
			</div>
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-icon md-icon md-sort  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
				<ul class="dropdown-menu">
					<li class="active"><a href="#">Titre</a></li>
					<li><a href="#">Prix</a></li>
					<li><a href="#">Modification</a></li>
				</ul>
			</div>
		</div>
	</header>
	<section class="post-section post-list">
		<div class="list-item">
			<div class="row">
				<div class="col-xs-5 col-md-6">
					<div class="media">
						<div class="media-left">
							<div class="checkbox-inline">
								<input id="inlineCheckboxTest11" value="option1" type="checkbox">
								<label for="inlineCheckboxTest11"></label>
							</div>
						</div>
						<div class="media-left">
							<div class="media-object md-icon md-image img-default"></div>
							<div class="media-object"><img alt="" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg" /></div>
							<span class="md-icon md-upsell"></span>
						</div>
						<div class="media-body">
							<h4>Un intitulé d'un truc</h4>
							Rangé dans <a href="#">Générale</a> et <a href="#">3 autres catégories</a>
						</div>
					</div>
				</div>
				<div class="col-xs-2"><span class="label label-stockin">En stock</span></div>
				<div class="col-xs-2"><span class="price">20,00€<br>
					209,00€</span></div>
					<div class="col-xs-3 col-md-2">
						<div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
							<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#">Dupliquer</a></li>
								<li><a href="#">Supprimer</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="list-item">
				<div class="row">
					<div class="col-xs-5 col-md-6">
						<div class="media">
							<div class="media-left">
								<div class="checkbox-inline">
									<input id="inlineCheckboxTest12" value="option1" type="checkbox">
									<label for="inlineCheckboxTest12"></label>
								</div>
							</div>
							<div class="media-left">
								<div class="media-object md-icon md-image img-default"></div>
								<div class="media-object"><img alt="" src="http://fr.web.img3.acsta.net/videothumbnails/16/11/04/16/27/220962.jpg" /></div>
							</div>
							<div class="media-body">
								<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate pulvinar tellus. Donec pulvinar neque vel arcu egestas malesuada. Nullam consectetur dui sed libero maximus finibus. </h4>
								Rangé dans <a href="#">Générale</a> et <a href="#">3 autres catégories</a>
							</div>
						</div>
					</div>
					<div class="col-xs-2"><span class="label label-tempstockout">Rupture</span></div>
					<div class="col-xs-2"><span class="price">20,00€<br>
						209,00€</span>
					</div>
					<div class="col-xs-3 col-md-2">
						<div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
							<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#">Dupliquer</a></li>
								<li><a href="#">Supprimer</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="list-item">
				<div class="row">
					<div class="col-xs-5 col-md-6">
						<div class="media">
							<div class="media-left">
								<div class="checkbox-inline">
									<input id="inlineCheckboxTest13" value="option1" type="checkbox">
									<label for="inlineCheckboxTest13"></label>
								</div>
							</div>
							<div class="media-left">
								<div class="media-object md-icon md-image img-default"></div>
								<div class="media-object"><img alt="" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg" /></div>
							</div>
							<div class="media-body">
								<h4>Un intitulé d'un truc</h4>
								Rangé dans <a href="#">Générale</a> et <a href="#">3 autres catégories</a>
							</div>
						</div>
					</div>
					<div class="col-xs-2"><span class="label label-stockout">Rupture</span></div>
					<div class="col-xs-2"><span class="price">20,00€<br>
						209,00€</span>
					</div>
					<div class="col-xs-3 col-md-2">
						<div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
							<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#">Dupliquer</a></li>
								<li><a href="#">Supprimer</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="post-footer"></footer>
	</article>
