<article class="post-article">
	<header class="post-header">
		<h1>Liste des produits</h1>
		<div class="form-inline">
			<div class="checkbox-inline">
				<input id="inlineCheckboxTest10" value="option1" type="checkbox">
				<label for="inlineCheckboxTest10"></label>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-option">Afficher</button>
				<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
				<ul class="dropdown-menu">
					<li><a href="#">Masquer</a></li>
					<li><a href="#">Exporter</a></li>
					<li><a href="#">Supprimer</a></li>
				</ul>
			</div>
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-icon md-icon md-sort  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
				<ul class="dropdown-menu">
					<li class="active"><a href="#">Titre</a></li>
					<li><a href="#">Prix</a></li>
					<li><a href="#">Modification</a></li>
				</ul>
			</div>
		</div>
	</header>
	<section class="post-section post-list">
		<div class="list-item">
			<div class="row">
				<div class="col-xs-5 col-md-6">
					<div class="media">
						<div class="media-left">
							<div class="checkbox-inline">
								<input id="inlineCheckboxTest11" value="option1" type="checkbox">
								<label for="inlineCheckboxTest11"></label>
							</div>
						</div>
						<div class="media-left">
							<div class="media-object md-icon md-image img-default"></div>
							<div class="media-object"><img alt="" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg" /></div>
						</div>
						<div class="media-body">
							<h4>Un intitulé d'un truc</h4>
							Rangé dans <a href="#">Générale</a> et <a href="#">3 autres catégories</a>
						</div>
					</div>
				</div>
				<div class="col-xs-2"><span class="label label-stockin">En stock</span></div>
				<div class="col-xs-2"><span class="price">20,00€<br>
					209,00€</span></div>
					<div class="col-xs-3 col-md-2">
						<div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
							<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#">Dupliquer</a></li>
								<li><a href="#">Supprimer</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="list-item">
				<div class="row">
					<div class="col-xs-5 col-md-6">
						<div class="media">
							<div class="media-left">
								<div class="checkbox-inline">
									<input id="inlineCheckboxTest12" value="option1" type="checkbox">
									<label for="inlineCheckboxTest12"></label>
								</div>
							</div>
							<div class="media-left">
								<div class="media-object md-icon md-image img-default"></div>
								<div class="media-object"><img alt="" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg" /></div>
							</div>
							<div class="media-body">
								<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vulputate pulvinar tellus. Donec pulvinar neque vel arcu egestas malesuada. Nullam consectetur dui sed libero maximus finibus. </h4>
								Rangé dans <a href="#">Générale</a> et <a href="#">3 autres catégories</a>
							</div>
						</div>
					</div>
					<div class="col-xs-2"><span class="label label-tempstockout">Rupture</span></div>
					<div class="col-xs-2"><span class="price">20,00€<br>
						209,00€</span>
					</div>
					<div class="col-xs-3 col-md-2">
						<div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
							<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#">Dupliquer</a></li>
								<li><a href="#">Supprimer</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="list-item">
				<div class="row">
					<div class="col-xs-5 col-md-6">
						<div class="media">
							<div class="media-left">
								<div class="checkbox-inline">
									<input id="inlineCheckboxTest13" value="option1" type="checkbox">
									<label for="inlineCheckboxTest13"></label>
								</div>
							</div>
							<div class="media-left">
								<div class="media-object md-icon md-image img-default"></div>
								<div class="media-object md-icon"><img alt="imagee" src="http://pausegeek.fr/img/news/2016/10/the-lego-batman-movie-poster-001-2017.jpg" /></div>
							</div>
							<div class="media-body">
								<h4>Un intitulé d'un truc</h4>
								Rangé dans <a href="#">Générale</a> et <a href="#">3 autres catégories</a>
							</div>
						</div>
					</div>
					<div class="col-xs-2"><span class="label label-stockout">Rupture</span></div>
					<div class="col-xs-2"><span class="price">20,00€<br>
						209,00€</span>
					</div>
					<div class="col-xs-3 col-md-2">
						<div class="btn-group pull-right" role="group"> <a type="button" class="btn btn-option" href="http://www.google.com" role="button">Détail</a>
							<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Menu</span> </button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#">Dupliquer</a></li>
								<li><a href="#">Supprimer</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="post-footer"></footer>
	</article>
