<h2>Accès direct</h2>
<ul class="nav nav-sidebar">
	<li><a href="/test/catalog">Catalogue</a></li>
	<li><a href="/test/catalog/home">Accueil du catalogue</a></li>
	<li><a href="/test/catalog/categories">Liste des catégories</a></li>
	<li><a href="/test/catalog/tags">Liste des tags</a></li>
	<li><a href="/test/catalog/products/1234">Détail d'un produit</a></li>
	<li><a href="/test/catalog/products/1234/comments">Evaluations d'un produit</a></li>
	<li><a href="/test/catalog/products/1234/linked">Produits associés</a></li>
	<li><a href="/test/catalog/comments">Liste des évaluations</a></li>
	<li><a href="/test/catalog/categories/1234">Détail d'une catégorie</a></li>
	<li><a href="/test/catalog/categories/1234/products">Produits d'une catégorie</a></li>
	<li><a href="/test/catalog/taxes">Gestion des taxes</a></li>
	<li><a href="/test/catalog/settings">Paramètres</a></li>
</ul>
<h2>Catalogue</h2>
<ul class="nav nav-sidebar">
	<li><a href="#"><span class="badge badge-danger">25 000</span>Tous les produits</a></li>
	<li><a href="#">Dernières évaluations</a></li>
	<li><a href="#">Catégories</a></li>
	<li><a href="#">Tags</a></li>
	<li><a href="#">Taxes</a></li>
	<li><a href="#">Paramètres</a></li>
</ul>
<h2>Modules additionnels</h2>
<ul class="nav nav-sidebar">
	<li><a href="#">Bons de réduction</a></li>
	<li><a href="#">Google Merchant Center</a></li>
	<li><a href="#">Import de produits</a></li>
	<li><a href="#">Autres modules</a></li>
</ul>
