<article class="post-article">
	<header class="post-header">
		<h1>Liste des tags</h1>
	</header>
	<section class="post-section">
		<span class="label label-tag label-list"><a href="#">Lorem ipsum dolor</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">sit amet consectetur adipiscing</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">elit Proin</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">sit amet leo nec diam</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">dictum</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">interdum nec placerat</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">est</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">Nam vel ante</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">et urna placerat porttitor</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">sit amet at</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">sapien</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">Cras placerat</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">odio eget cursus maximus</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">Orci</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">varius natoque</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">penatibus et magnis</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">dis</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">parturient montes</a><span class="md-icon md-close"></span></span>
		<span class="label label-tag label-list"><a href="#">nascetur ridiculus mus</a><span class="md-icon md-close"></span></span>
	</section>
	<footer class="post-footer"></footer>
</article>
