		<div class="row no-gutters align-items-center" data-role="list">
			<div class="col-auto">
					<input id="selection_<%- brand_id %>" name="selection" value="<%- brand_id %>" type="checkbox">
					<label for="selection_<%- brand_id %>"></label>
			</div>
			<div class="col item-body">
				<h4><%- name %></h4>
			</div>
			<div class="col-4">
				<span class="text-muted">—</span>
				<!-- #TODO <span>Appliquée à <a href="#">X produits</a></span> -->
			</div>
			<div class="col-auto">
				<div class="btn-group float-right" role="group"> <a class="btn btn-primary" href="#" role="button" data-role="action" data-action="edit">Détail</a>
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a class="dropdown-item" href="#" data-role="action" data-action="delete" data-confirm="warning">Supprimer</a></li>
					</ul>
				</div>
			</div>
		</div>

<form style="display: none;" data-role="edit">

	<div class="alert alert-danger" data-role="errors" role="alert" style="display: none;"></div>

	<div class="form-group">
		<label class="required" for="name">Intitulé de la marque</label>
		<p>Changer l'intitulé de la marque permet de renommer la marque sur tous les produits auxquels elle est associée.</p>
		<input class="form-control" id="name" name="name" value="<%- name %>" type="text">
	</div>

	<div class="btn-toolbar" role="toolbar">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-lg btn-primary btn-cancel" data-role="action" data-action="cancel">Annuler</button>
		</div>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-lg btn-success btn-save" data-role="action" data-action="save">Enregistrer</button>
		</div>
	</div>

</form>

<!--

<div class="list-item">
<div class="row">
<div class="col-6">
<div class="media">
<div class="media-left">
<div class="checkbox-inline">
<input id="inlineCheckboxTest11" value="option1" type="checkbox">
<label for="inlineCheckboxTest11"></label>
</div>
</div>
<div class="media-body">
<h4>Un intitulé d'une marque</h4>
Appliquée à <a href="/catalog/categories/3/products">5 produits</a>
</div>
</div>
</div>
<div class="col-3"><a href="/catalog/categories/3/products" class="hidden">5 produits</a>
</div>
<div class="col-3">
<div class="btn-group float-right" role="group"> <a class="btn btn-primary" href="#" role="button">Détail</a>
<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> </button>
<ul class="dropdown-menu dropdown-menu-right">
<li><a href="#">Supprimer</a></li>
</ul>
</div>
</div>
</div>
</div>

<div class="list-item">
<div class="row">
<div class="col-6">
<div class="media">
<div class="media-left">
<div class="checkbox-inline">
<input id="inlineCheckboxTest11" value="option1" type="checkbox">
<label for="inlineCheckboxTest11"></label>
</div>
</div>
<div class="media-body">
<h4>Un intitulé d'une marque</h4>
</div>
</div>
</div>
<div class="col-3">Appliquée à <a href="/catalog/categories/3/products">5 produits</a>
</div>
<div class="col-3">
<div class="btn-group float-right" role="group"> <a class="btn btn-primary" href="#" role="button">Détail</a>
<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> </button>
<ul class="dropdown-menu dropdown-menu-right">
<li><a href="#">Supprimer</a></li>
</ul>
</div>
</div>
</div>
</div>

<div class="list-item">
<div class="row">
<div class="col-6">
<div class="media">
<div class="media-left">
<div class="checkbox-inline">
<input id="inlineCheckboxTest11" value="option1" type="checkbox">
<label for="inlineCheckboxTest11"></label>
</div>
</div>
<div class="media-body">
<h4>Un intitulé d'une marque</h4>
</div>
</div>
</div>
<div class="col-3"><a href="/catalog/categories/3/products">5 produits</a>
</div>
<div class="col-3">
<div class="btn-group float-right" role="group"> <a class="btn btn-primary" href="#" role="button">Détail</a>
<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> </button>
<ul class="dropdown-menu dropdown-menu-right">
<li><a href="#">Supprimer</a></li>
</ul>
</div>
</div>
</div>
</div>

-->
