<form>

	<div class="alert alert-danger" data-role="errors" role="alert" style="display:none"></div>


	<div class="row">
		<div class="col-lg-8 col-12">

			<article class="post-article">
				<header class="post-header">
					<h1>Détail de la catégorie</h1>
				</header>
				<div class="post-content">
					<div class="form-group">
						<label class="required" for="name">Intitulé</label>
						<input class="form-control" id="name" name="name" placeholder="Intitulé de catégorie tel qu'il apparaîtra dans le menu" type="text" value="<%- name %>">
					</div>

					<div data-role="image"></div>

					<div class="form-group">
						<label for="description">Description</label>
						<textarea class="form-control" id="description" name="description" placeholder="Placeholder du contenu" rows="21" data-role="wysiwyg"><%- description %></textarea>
					</div>
				</div>
				<footer class="post-footer"></footer>
			</article>

			<article data-role="seo"></article>

		</div>
		<div class="col-lg-4 col-12">

			<article class="post-article post-article-aside">
				<div class="post-content">
					<div class="form-group mb-lg-0">
						<label>Affichage</label>
						<div class="form-check">
							<input name="is_visible" id="is_visible1" value="1" <% if(is_visible) { %> checked="checked"<% } %> type="radio">
							<label for="is_visible1" class="visible">Visible</label>
							<input name="is_visible" id="is_visible0" value="0" <% if(!is_visible) { %> checked="checked"<% } %> type="radio">
							<label for="is_visible0" class="not-visible">Masqué</label>
						</div>
					</div>
				</div>
				<footer class="post-footer"></footer>
			</article>

			<article data-role="layout"></article>

		</div>
	</div>



</form>

<div class="save">
	<div class="btn-toolbar" role="toolbar">
		<button type="button" class="btn btn-lg btn btn-danger btn-delete" data-role="delete">Supprimer</button>
		<button type="button" class="btn btn-lg btn-success btn-save ml-auto" data-role="save">Enregistrer</button>
	</div>
</div>

<footer class="footer"> </footer>
