<div class="row no-gutters">
	<div class="col-auto" style="width: 27px;">
	</div>
	<div class="col-auto">
		<div class="media-object md-icon md-product img-default catalog-home"></div>
	</div>
	<div class="col-auto" style="width: 23px;">
	</div>
	<div class="col item-body">
		<h4><%- name %></h4>
		<% if(!is_visible) { %>
		<span class="text-danger">Masqué</span>
		<% } else { %>
		<span>La page d'accueil du catalogue peut être modifiée mais ne peut pas être déplacée ou supprimée</span>
		<% } %>
	</div>
	<div class="col-auto">
		<div class="btn-group float-right" role="group">
			<a class="btn btn-primary" href="/catalog/home" role="button">Détail</a>
		</div>
	</div>
</div>
