<article data-role="list"></article>

<div class="modal fade" id="newcomment" tabindex="-1" role="dialog" aria-labelledby="newcomment">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close md-icon md-cancel" data-dismiss="modal" aria-label="Close"></button>
				<h4 class="modal-title" id="myModalLabel">Poster un commentaire</h4>
			</div>
			<div class="modal-body">
				<article class="post-article">
					<div class="post-content">
						<div class="form-group">
							<p>Un commentaire posté depuis la console d'administration sera s'affiché différement dans le blog.</p>
							<textarea class="form-control" rows="3"></textarea>
						</div>
					</div>
					<footer class="post-footer"></footer>
				</article>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-lg btn-primary btn-cancel" data-dismiss="modal">Fermer</button>
				<button type="button" class="btn btn-lg btn-success btn-save">Valider</button>
			</div>
		</div>
	</div>
</div>

<footer class="footer"> </footer>
