		<div class="row no-gutters" data-role="list">
			<div class="col-auto">
				<div class="media-object md-icon md-image img-default"></div>
				<% if (main_media_id) { %><div class="media-object no-ratio"><img alt="" src="<%= convertMediaPath('/media/miniature/'+main_media_id) %>" /></div><% } %>
				<%= is_spotlight ? '<div class="corner-color is-spotlight"><div class="corner-color-content"></div></div>' : '' %>
			</div>
			<div class="col item-body">
		<h4><%- name %></h4>
		<% if(is_visible) { %>
		<% if(main_category) { %>
		<a href="/catalog/categories/<%- main_category.category_id %>"><%- main_category.name %></a>
		<% } %>
		<% if(sec_categories.length > 0) { %>
		et <a href="#" data-toggle="popover" data-placement="right" data-trigger="focus"
			  data-container="#content" data-html="true"
			  data-content="<%- sec_categories.join('') %>"><%- sec_categories.length %> +</a>
		<% } %>
		<% } else { %>
		<span class="text-danger">Masqué</span>
		<% } %>
	</div>
	<div class="col-3">
		<select name="link" data-style="selectify">
			<option value="atob" <%= link == 'atob' ? 'selected="selected"' : '' %>>A &rarr; B</option>
			<option value="btoa" <%= link == 'btoa' ? 'selected="selected"' : '' %>>B &rarr; A</option>
			<option value="both" <%= link == 'both' ? 'selected="selected"' : '' %>>A &#8644; B</option>
		</select>
	</div>
	<div class="col-auto">
		<a href="#" data-role="action" data-action="delete" class="md-icon md-delete float-right"></a>
</div>
</div>
