<form style="display: none;" data-role="new">

	<div class="list-item">

		<div class="alert alert-danger" data-role="errors" role="alert" style="display: none;"></div>

		<div class="row">
			<div class="col-xs-4">
				<div class="form-group has-feedback">
					<label class="control-label" for="name">Intitulé de la variante</label>
					<div data-role="name"></div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group">
					<label class="control-label" for="reference">Référence</label>
					<input class="form-control" id="reference" name="reference" placeholder="" type="text">
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group">
					<label class="control-label" for="gtin">Code-barre (EAN/ISBN)</label>
					<input class="form-control" id="gtin" name="gtin" placeholder="8, 10, 12, 13 ou 14 chiffres" type="text">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<div class="form-group">
					<label class="control-label" for="price_ex_vat">Prix HT</label>
					<div class="input-group">
						<span class="input-group-addon"></span>
						<input class="form-control" id="price_ex_vat" name="price_ex_vat" data-role="vat" data-linked="price_inc_vat" placeholder="0,00">
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group">
					<label class="control-label" for="price_inc_vat">Prix TTC</label>
					<div class="input-group">
						<span class="input-group-addon"></span>
						<input class="form-control" id="price_inc_vat" name="price_inc_vat" data-role="vat" data-linked="price_ex_vat" placeholder="0,00">
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group">
					<label class="control-label" for="tax_id">Taxe</label>
					<div data-role="taxes"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<div class="form-group">
					<label class="control-label" for="price_discount_ex_vat">Promotion HT</label>
					<div class="input-group">
						<span class="input-group-addon"></span>
						<input class="form-control" id="price_discount_ex_vat" name="price_discount_ex_vat" data-role="vat" data-linked="price_discount_inc_vat" placeholder="Pas de promotion">
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group">
					<label class="control-label" for="price_discount_inc_vat">Promotion TTC</label>
					<div class="input-group">
						<span class="input-group-addon"></span>
						<input class="form-control" id="price_discount_inc_vat" name="price_discount_inc_vat" data-role="vat" data-linked="price_discount_ex_vat" placeholder="Pas de promotion">
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
			<!--<div class="col-xs-4">
				<div class="form-group has-feedback">
					<label class="control-label" for="exmemple2">Date de fin</label>
					<input class="form-control" id="exmemple2" placeholder="jj/mm/aaaa à hh:mm" type="text">
					<span class="form-control-feedback md-feedback md-date"></span>
				</div>
			</div>-->
		</div>
		<div class="row">
			<div class="col-xs-4">
				<div class="form-group">
					<label class="control-label" for="weight">Poids</label>
					<div class="input-group">
						<span class="input-group-addon"></span>
						<input class="form-control" id="weight" name="weight" placeholder="0">
						<span class="input-group-addon">g</span>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group">
					<label class="control-label" for="condition">Etat</label>
					<select class="form-control" id="condition" name="condition" data-style="selectify">
						<option value="new">Neuf</option>
						<option value="used">Occasion</option>
						<option value="refurbished">Reconditionné</option>
					</select>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="form-group">
					<label class="control-label" for="price_ecotax">Eco-participation incluse</label>
					<div class="input-group">
						<span class="input-group-addon"></span>
						<input class="form-control" id="price_ecotax" name="price_ecotax" placeholder="Pas d'éco-participation">
						<span class="input-group-addon">€</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<div class="form-group">
					<label class="control-label" for="is_stock_unlimited">Stock</label>
					<select class="form-control" id="is_stock_unlimited" name="is_stock_unlimited" data-style="selectify">
						<option value="0">Quantité limitée</option>
						<option value="1">Stock illimité</option>
					</select>
				</div>
			</div>
			<div class="col-xs-4" data-role="stock">
				<div class="form-group">
					<label class="control-label" for="stock">Stock actuel</label>
					<input class="form-control" id="stock" name="stock" type="text">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Illustration</label><br/>
			<div data-role="images"></div>
		</div>

		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-cancel" data-role="action" data-action="cancel">Annuler</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-action" data-role="action" data-action="save">Enregistrer</button>
			</div>
		</div>

	</div>

</form>

<div class="list-item no-hover"><a href="#" data-role="action" data-action="show">Ajouter une variante</a></div>
