		<div class="row no-gutters" data-role="list">
			<div class="col-auto">
				<div class="media-object md-icon md-image img-default"></div>
				<div class="media-object"><img alt="" src="<%- media_id ? convertMediaPath('/media/miniature/' + media_id + '.jpg') : '' %>" /></div>
			</div>
			<div class="col-auto"> <a href="#" class="md-icon md-drag btn-drag"></a>
			</div>
			<div class="col item-body">
		<h4><%- name %></h4>
		<% if(reference) { %>
				<span>#<%- reference%></span>
			<% } else { %>
				<span class="text-muted">Pas de référence</span>
			<% } %>
	</div>
	<div class="col-3">
		<span class="price">
			<%- current_price_ex_vat_label%>HT<br/>
			<%- current_price_inc_vat_label%>TTC
		</span>
	</div>
		<div class="col-2">
			<% if(is_stock_unlimited) { %>
				<span class="badge badge-success">Illimité</span>
			<% } else { %>
				<span class="badge <%= stock == 0 ? 'badge-danger' : 'badge-success' %>"><%= stock == 0 ? 'Rupture' : stock + ' en stock ' %></span>
			<% } %>
		</div>
		<div class="col-auto">
			<div class="btn-group float-right" role="group"> <a class="btn btn-primary" href="#" role="button" data-role="action" data-action="editRow">Détail</a>
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a class="dropdown-item" href="#" data-role="action" data-action="duplicateRow">Dupliquer</a></li>
					<li><a class="dropdown-item" href="#" data-role="action" data-action="deleteRow" data-confirm="warning">Supprimer</a></li>
				</ul>
			</div>
		</div>
</div>

<form style="display: none;" data-role="edit">

	<div class="alert alert-danger" data-role="errors" role="alert" style="display: none;"></div>

	<div class="row">
		<div class="col-4">
			<div class="form-group has-feedback">
				<label>Intitulé de la variante</label>
				<div data-role="name"></div>
			</div>
		</div>
		<div class="col-4">
			<div class="form-group">
				<label for="reference">Référence</label>
				<input class="form-control" id="reference" name="reference" value="<%- reference %>" placeholder="" type="text">
			</div>
		</div>
		<div class="col-4">
			<div class="form-group">
				<label for="gtin">Code-barre (EAN/ISBN)</label>
				<input class="form-control" id="gtin" name="gtin" value="<%- gtin %>" placeholder="8, 10, 12, 13 ou 14 chiffres" type="text">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<div class="form-group">
				<label for="price_ex_vat">Prix HT</label>
				<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text"></span></div>
					<input class="form-control" id="price_ex_vat" name="price_ex_vat" data-role="vat" data-linked="price_inc_vat" value="<%- price_ex_vat %>" placeholder="0,00">
					<div class="input-group-append"><span class="input-group-text"><%= currency %></span></div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="form-group">
				<label for="price_inc_vat">Prix TTC</label>
				<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text"></span></div>
					<input class="form-control" id="price_inc_vat" name="price_inc_vat" data-role="vat" data-linked="price_ex_vat" value="<%- price_inc_vat %>" placeholder="0,00">
					<div class="input-group-append"><span class="input-group-text"><%= currency %></span></div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="form-group">
				<label for="tax_id">Taxe</label>
				<div data-role="taxes"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<div class="form-group">
				<label for="price_discount_ex_vat">Promotion HT</label>
				<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text"></span></div>
					<input class="form-control" id="price_discount_ex_vat" name="price_discount_ex_vat" data-role="vat" data-linked="price_discount_inc_vat" value="<%- price_discount_ex_vat %>" placeholder="Pas de promotion">
					<div class="input-group-append"><span class="input-group-text"><%= currency %></span></div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="form-group">
				<label for="price_discount_inc_vat">Promotion TTC</label>
				<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text"></span></div>
					<input class="form-control" id="price_discount_inc_vat" name="price_discount_inc_vat" data-role="vat" data-linked="price_discount_ex_vat" value="<%- price_discount_inc_vat %>" placeholder="Pas de promotion">
					<div class="input-group-append"><span class="input-group-text"><%= currency %></span></div>
				</div>
			</div>
		</div>
		<!--<div class="col-4">
			<div class="form-group has-feedback">
				<label for="exmemple2">Date de fin</label>
				<input class="form-control" id="exmemple2" placeholder="jj/mm/aaaa à hh:mm" type="text">
				<span class="md-feedback md-date"></span>
			</div>
		</div>-->
	</div>
	<div class="row">
		<div class="col-4">
			<div class="form-group">
				<label for="weight">Poids</label>
				<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text"></span></div>
					<input class="form-control" id="weight" name="weight" value="<%- weight %>" placeholder="0">
					<div class="input-group-append"><span class="input-group-text">g</span></div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="form-group">
				<label for="condition">Etat</label>
				<select class="form-control" id="condition" name="condition" data-style="selectify">
					<option value="new" <%= condition == 'new' ? 'selected="selected"' : '' %>>Neuf</option>
					<option value="used" <%= condition == 'used' ? 'selected="selected"' : '' %>>Occasion</option>
					<option value="refurbished" <%= condition == 'refurbished' ? 'selected="selected"' : '' %>>Reconditionné</option>
				</select>
			</div>
		</div>
		<div class="col-4">
			<div class="form-group">
				<label for="price_ecotax">Eco-participation incluse</label>
				<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text"></span></div>
					<input class="form-control" id="price_ecotax" name="price_ecotax" value="<%- price_ecotax %>" placeholder="Pas d'éco-participation">
					<div class="input-group-append"><span class="input-group-text"><%= currency %></span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<div class="form-group">
				<label for="is_stock_unlimited">Stock</label>
				<select class="form-control" id="is_stock_unlimited" name="is_stock_unlimited" data-style="selectify">
					<option value="0" <%= !is_stock_unlimited ? 'selected="selected"':'' %>>Quantité limitée</option>
					<option value="1" <%= is_stock_unlimited ? 'selected="selected"':'' %>>Stock illimité</option>
				</select>
			</div>
		</div>
		<div class="col-4" data-role="stock" <%= is_stock_unlimited ? 'style="display:none"':'' %>>
			<div class="form-group">
				<label for="stock">Ajouter au stock</label>
				<input class="form-control" id="stock" name="stock" placeholder="+ pour ajouter ou - pour retirer" type="text">
			</div>
		</div>
		<div class="col-4" data-role="stock" <%= is_stock_unlimited ? 'style="display:none"':'' %>>
			<div class="form-group">
				<label>Stock actuel</label>
				<p class="form-control-static"><%- stock %></p>
			</div>
		</div>
	</div>

	<% if(is_virtual) { %>
	<div class="form-group">
		<div data-role="file"></div>
	</div>
	<% } %>
	
	<div class="form-group">
		<label>Illustration</label><br/>
		<div data-role="images"></div>
	</div>

	<div class="btn-toolbar" role="toolbar">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-lg btn-primary btn-cancel" data-role="action" data-action="cancelRow">Annuler</button>
		</div>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-lg btn-success btn-save" data-role="action" data-action="saveRow">Enregistrer</button>
		</div>
	</div>

</form>
