
<h2>Catalogue</h2>
<ul class="nav nav-sidebar">
	<li><a href="/catalog"><span class="badge"><%- overview.products_count %></span>Tous les produits</a></li>
	<li><a href="/catalog/categories">Catégories</a></li>
	<li><a href="/catalog/comments">Évaluations</a></li>
	<li><a href="/catalog/variants">Étiquettes</a></li>
	<li><a href="/catalog/taxes">Taxes</a></li>
	<li><a href="/catalog/settings">Paramètres</a></li>
</ul>
<!--
<h2>Modules additionnels</h2>
<ul class="nav nav-sidebar">
	<li><a href="/modules/import/products">Import de produits</a></li>
	<li><a href="/modules/vouchers">Bons de réduction</a></li>
	<li><a href="/modules/merchantcenter">Google Merchant Center</a></li>
</ul>
-->
