
<h2>Catalogue</h2>
<ul class="nav nav-sidebar flex-column">
	<li class="nav-item"><a class="nav-link" href="/catalog"><span class="badge"><%- overview.products_count %></span>Tous les produits</a></li>
	<li class="nav-item"><a class="nav-link" href="/catalog/categories">Catégories</a></li>
	<li class="nav-item"><a class="nav-link" href="/catalog/comments">Évaluations</a></li>
	<li class="nav-item"><a class="nav-link" href="/catalog/variants">Étiquettes</a></li>
	<li class="nav-item"><a class="nav-link" href="/catalog/taxes">Taxes</a></li>
	<li class="nav-item"><a class="nav-link" href="/catalog/settings">Paramètres</a></li>
</ul>

<h2>Modules additionnels</h2>
<ul class="nav nav-sidebar flex-column">
	<li class="nav-item"><a class="nav-link" href="/modules/import/products">Import de produits</a></li>
	<li class="nav-item"><a class="nav-link" href="/modules/vouchers">Bons de réduction</a></li>
	<li class="nav-item"><a class="nav-link" href="/modules/merchantcenter">Google Merchant Center</a></li>
</ul>
