
<h2>Catalogue</h2>
<ul class="nav nav-sidebar">
	<li><a href="/catalog"><span class="badge"><%- overview.products_count %></span>Tous les produits</a></li>
	<li><a href="/catalog/categories">Catégories</a></li>
	<li><a href="/catalog/comments">Évaluations</a></li>
	<li><a href="/catalog/tags">Tags</a></li>
	<li><a href="/catalog/taxes">Taxes</a></li>
	<li><a href="/catalog/settings">Paramètres</a></li>
</ul>

<h2>Modules additionnels</h2>
<ul class="nav nav-sidebar">
	<li><a href="#">Bons de réduction</a></li>
	<li><a href="#">Google Merchant Center</a></li>
	<li><a href="#">Import de produits</a></li>
	<li><a href="#">Autres modules</a></li>
</ul>

<h2>Accès direct</h2>
<ul class="nav nav-sidebar">
	<li><a href="/catalog/home">Accueil du catalogue</a></li>
	<li><a href="/catalog/products/1234">Détail d'un produit</a></li>
	<li><a href="/catalog/products/1234/linked">Produits associés</a></li>
</ul>
