		<div class="row no-gutters align-items-center" data-role="list">
			<div class="col-auto">
					<input id="selection_<%- tag_id %>" name="selection" value="<%- tag_id %>" type="checkbox">
					<label for="selection_<%- tag_id %>"></label>
			</div>
			<div class="col item-body">
				<h4><%- name %></h4>
			</div>
			<div class="col-4">
				<span class="text-muted">—</span>
					<!-- #TODO <span>Appliqué à <a href="#">X produits</a></span> -->
			</div>
			<div class="col-auto">
				<a class="btn btn-primary float-right" href="#" role="button" data-role="action" data-confirm="warning" data-action="delete">Supprimer</a>
			</div>
		</div>

<form style="display: none;" data-role="edit">

	<div class="alert alert-danger" data-role="errors" role="alert" style="display: none;"></div>

	<div class="form-group">
		<label class="required" for="name">Intitulé du tag</label>
		<p>Changer l'intitulé du tag permet de renommer le tag sur tous les produits auxquels il est associé.</p>
		<input class="form-control" id="name" name="name" value="<%- name %>" type="text">
	</div>

	<div class="btn-toolbar" role="toolbar">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-lg btn-primary btn-cancel" data-role="action" data-action="cancel">Annuler</button>
		</div>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-lg btn-success btn-save" data-role="action" data-action="save">Enregistrer</button>
		</div>
	</div>

</form>
