<div class="row" data-role="list">
	<div class="col-xs-5">
		<div class="media">
			<div class="media-body">
				<h4><%- vat_rate %>%</h4>
			</div>
		</div>
	</div>
	<div class="col-xs-4"><%= is_default ? '<span class="label label-enable">Taxe par défaut</span>' : '' %></div>
	<div class="col-xs-3">
		<div class="btn-group pull-right" role="group"> <a class="btn btn-option" href="#" role="button" data-role="action" data-action="edit">Détail</a>
			<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a href="#" data-role="action" data-action="delete" data-confirm="warning">Supprimer</a></li>
			</ul>
		</div>
	</div>
</div>

<form style="display: none;" data-role="edit">

	<div class="alert alert-danger" data-role="errors" role="alert" style="display: none;"></div>

		<div class="row">
			<div class="col-xs-2">
				<div class="form-group has-feedback">
					<label class="control-label" for="f_<%- tax_id %>_vat_rate">Montant</label>
					<input class="form-control" id="f_<%- tax_id %>_vat_rate" name="vat_rate" placeholder="0,00" value="<%- vat_rate %>"> <span class="form-control-feedback md-percent"></span>
				</div>
			</div>
			<div class="col-xs-4"></div>
			<div class="col-xs-5">
				<div class="form-group">
					<label class="control-label">Taxe par défaut</label>
					<div class="radio-group">
						<input name="is_default" id="f_<%- tax_id %>_is_default1" value="1" type="radio" <%= is_default ? 'checked="checked"' : '' %> >
						<label for="f_<%- tax_id %>_is_default1" class="">Oui</label>
						<input name="is_default" id="f_<%- tax_id %>_is_default0" value="0" type="radio" <%= !is_default ? 'checked="checked"' : '' %>>
						<label for="f_<%- tax_id %>_is_default0" class="">Non</label>
					</div>
				</div>
			</div>
		</div>

		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-cancel" data-role="action" data-action="cancel">Annuler</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-action" data-role="action" data-action="save">Enregistrer</button>
			</div>
		</div>

</form>
